ALTER procedure [dbo].[pro_get_combo_by_branch]
	@vstatus		nvarchar(50),
	@vBranchcode	NVARCHAR(100),
	@vCon1			NVARCHAR(100)=''
AS
BEGIN

	IF (@vstatus='Active')BEGIN

		SELECT DISTINCT 
			   A.con_id AS code,
			   A.con_display AS title
		FROM sysconstants AS A
		WHERE A.con_line='Active'
		ORDER BY code DESC 

	END ELSE IF (@vstatus='SupplyActive')BEGIN

		SELECT DISTINCT 
			     A.sup_id AS code,
			     A.sup_name AS title
		  FROM tblSupplies AS A
		WHERE A.branchcode=@vBranchcode and A.active='1'
	END ELSE IF (@vstatus='ProductActive')BEGIN
		
		SELECT DISTINCT
			 A.pro_code AS CODE , 
			 A.pro_name AS title
		from tblProducts AS A 
		WHERE A.branchcode=@vBranchcode and A.active='1' 
		ORDER BY A.pro_code

	END ELSE IF (@vstatus='PaymentOption')BEGIN
		
		SELECT A.line_id AS CODE,
			   (A.title+ ' '+ ISNULL(RIGHT(a.account,4),'') ) as title
		from [tblpaymentlines] as a 
		WHERE A.branchcode=@vBranchcode and A.active='1' 
		ORDER BY A.line_id
	END ELSE IF (@vstatus='PaymentAccount')BEGIN
		SELECT A.account  
		from [tblpaymentlines] as a 
		WHERE A.branchcode=@vBranchcode and A.active='1' and a.line_id=@vCon1
		ORDER BY A.line_id
	END;

END 
