create procedure [dbo].[proc_print_PaymentVoucher]
	@vstatus		nvarchar(50),
	@vbranchcode	nvarchar(10),
	@vpv_id			nvarchar(50)
AS 
BEGIN
	
	IF(@vstatus='una_print')BEGIN
		
		 select a.pv_id,
				a.branchcode,
			    a.pay_date,
				a.invoice,
				a.receipt,
				a.inputter,
				a.pay_to,
				b.create_at,
				b.pay_no,
				b.pay_des,
				b.pay_amount,
				b.sysdocnum,
				dbo.fun_product_line('payment',a.branchcode,a.pv_id) as option_title
		 from tblunapaymentvoucher AS a  
		 inner join tblunapaymentsub as b on a.branchcode=b.branchcode and a.pv_id=b.pv_id
		 where a.branchcode=@vbranchcode and a.pv_id=@vpv_id
		 order by b.sysdocnum 
	END
	ELSE IF(@vstatus='una_signature')BEGIN
		
		select distinct 
		       a.pv_id,
			   a.branchcode,
			   B.responder,
			   B.position,
			   B.rs_date,
			   c.title as rs_title,
			   b.created_at
		from tblunapaymentvoucher as a 
		inner join tbluna_payment_signature as b on a.branchcode=b.branchcode and a.pv_id=b.pv_id
		left join tbl_payment_response as c on b.branchcode=c.branchcode and c.rs_id=b.rs_id
		where a.branchcode=@vbranchcode and a.pv_id=@vpv_id
		order by b.created_at

	END

	--- proc_print_PaymentVoucher 'una_signature','0101','PV02-2026-00007'
	--- proc_print_PaymentVoucher 'una_print','0101','PV01-2026-00003'

end