CREATE PROCEDURE [dbo].[proc_register_paymentvoucher]
	@vCMD			nvarchar(20),
	@vpv_id			nvarchar(20),
	@vBranchCode	nvarchar(20),
	@vpay_date		date,
	@vpay_to		nvarchar(250),
	@vpay_option	nvarchar(250),
	@vreceipt		nvarchar(250),
	@vinvoice		nvarchar(250),
	@vinputter		nvarchar(250)
AS
BEGIN

	SET NOCOUNT ON;

	DECLARE @vpv_id_next	nvarchar(50)
	DECLARE @vpv_id_type	nvarchar(50)

	-------------------------------------------------
	-- INSERT NEW DRAFT
	-------------------------------------------------
	IF (@vCMD = 'I'
		AND NOT EXISTS (
			SELECT 1 
			FROM tblunapaymentvoucher
			WHERE branchcode = @vBranchCode
			AND pv_id = @vpv_id
		))
	BEGIN

		INSERT INTO tblunapaymentvoucher
		(
			pv_id,
			branchcode,
			pay_date,
			pay_to,
			pay_option,
			receipt,
			invoice,
			inputter,
			draft,
			created_at
		)
		VALUES
		(
			@vpv_id,
			@vBranchCode,
			@vpay_date,
			@vpay_to,
			@vpay_option,
			@vreceipt,
			@vinvoice,
			@vinputter,
			'0',
			GETDATE()
		)

	END

	-------------------------------------------------
	-- COMMIT DRAFT TO REAL PV NUMBER
	-------------------------------------------------
	ELSE IF (
		@vCMD = 'commit'
		AND EXISTS (
			SELECT 1
			FROM tblunapaymentvoucher
			WHERE branchcode = @vBranchCode
			AND pv_id = @vpv_id
			AND ISNULL(draft,'0') = '0'
			AND LEFT(pv_id,2) = 'DR'
		)
	)
	BEGIN

		SELECT TOP 1
			@vpv_id_type = ISNULL(A.group_line,'paymentvoucher')
		FROM tblpaymentlines A
		INNER JOIN tblunapaymentvoucher B
			ON A.branchcode = B.branchcode
			AND A.line_id = B.pay_option
		WHERE B.branchcode = @vBranchCode
		AND B.pv_id = @vpv_id

		EXEC proc_next_id
			@vBranchCode,
			@vpv_id_type,
			'paymentvoucher',
			@vpv_id_next OUTPUT

		-------------------------------------------------
		-- UPDATE MAIN TABLE
		-------------------------------------------------
		UPDATE tblunapaymentvoucher
		SET
			pv_id		= @vpv_id_next,
			pay_date	= @vpay_date,
			pay_to		= @vpay_to,
			pay_option	= @vpay_option,
			receipt		= @vreceipt,
			invoice		= @vinvoice,
			inputter	= @vinputter,
			draft		= '1',
			created_at	= GETDATE()
		WHERE branchcode = @vBranchCode
		AND pv_id = @vpv_id

		-------------------------------------------------
		-- UPDATE SUB TABLE
		-------------------------------------------------
		UPDATE tblunapaymentsub
		SET pv_id = @vpv_id_next
		WHERE branchcode = @vBranchCode
		AND pv_id = @vpv_id

		SET @vpv_id = @vpv_id_next

	END

	-------------------------------------------------
	-- NORMAL UPDATE
	-------------------------------------------------
	ELSE
	BEGIN

		UPDATE tblunapaymentvoucher
		SET
			pay_date	= @vpay_date,
			pay_to		= @vpay_to,
			pay_option	= @vpay_option,
			receipt		= @vreceipt,
			invoice		= @vinvoice,
			inputter	= @vinputter,
			created_at	= GETDATE()
		WHERE branchcode = @vBranchCode
		AND pv_id = @vpv_id

	END

	-------------------------------------------------
	-- RETURN RESULT
	-------------------------------------------------
	SELECT @vpv_id AS trancode

END