CREATE PROCEDURE [dbo].[proc_register_account_payable]
	@vCMD			nvarchar(20),
	@vap_id			nvarchar(20),
	@vbranchcode	nvarchar(20),
	@vap_date		date,
	@vsupply		nvarchar(250),
	@vinvoice		nvarchar(250),
	@vremark		nvarchar(250),
	@vinputter		nvarchar(250)
AS
BEGIN

	SET NOCOUNT ON;

	DECLARE @vap_id_next	nvarchar(50)

	-------------------------------------------------
	-- INSERT NEW DRAFT
	-------------------------------------------------
	IF (@vCMD = 'I'
		AND NOT EXISTS (
			SELECT 1 
			FROM tbluna_account_payable
			WHERE branchcode = @vBranchCode
			AND ap_id = @vap_id
		))
	BEGIN
	INSERT INTO [dbo].[tbluna_account_payable]
           ([ap_id]
           ,[branchcode]
           ,[ap_date]
           ,[remark]
           ,[supply_id]
           ,[invoice]
           ,[inputter]
           ,[draft]
           ,[created_at])
		VALUES
		(
			@vap_id,
			@vbranchcode,
			@vap_date,
			@vremark,
			@vsupply,
			@vinvoice,
			@vinputter,
			'0',
			GETDATE()
		)

	END

	-------------------------------------------------
	-- COMMIT DRAFT TO REAL PV NUMBER supply
	-------------------------------------------------
	ELSE IF (
		@vCMD = 'commit'
		AND EXISTS (
			SELECT 1
			FROM [tbluna_account_payable]
			WHERE branchcode = @vBranchCode
			AND [ap_id] = @vap_id
			AND ISNULL(draft,'0') = '0'
			AND LEFT([ap_id],2) = 'DR'
		)
	)
	BEGIN

		EXEC proc_next_id
			@vBranchCode,
			'AccountPayable',
			'9',
			@vap_id_next OUTPUT
			
		-------------------------------------------------
		-- UPDATE MAIN TABLE
		-------------------------------------------------
		UPDATE [tbluna_account_payable]
		SET
			ap_id		= @vap_id_next,
			ap_date	=	@vap_date,
			[supply_id]	= @vsupply,
			[remark]	= @vremark,
			invoice		= @vinvoice,
			inputter	= @vinputter,
			draft		= '1',
			created_at	= GETDATE()
		WHERE branchcode = @vBranchCode
		AND [ap_id] = @vap_id

		-------------------------------------------------
		-- UPDATE SUB TABLE
		-------------------------------------------------
		UPDATE tbluna_account_payable_sub
		SET ap_id = @vap_id_next
		WHERE branchcode = @vBranchCode
		AND ap_id = @vap_id

		SET @vap_id = @vap_id_next

	END

	-------------------------------------------------
	-- NORMAL UPDATE
	-------------------------------------------------
	ELSE
	BEGIN

		UPDATE [tbluna_account_payable]
		SET
			ap_date	=	@vap_date,
			[supply_id]	= @vsupply,
			[remark]	= @vremark,
			invoice		= @vinvoice,
			inputter	= @vinputter,
			created_at	= GETDATE()
		WHERE branchcode = @vBranchCode
		AND [ap_id] = @vap_id


	END

	-------------------------------------------------
	-- RETURN RESULT
	-------------------------------------------------
	SELECT @vap_id AS trancode

END