CREATE procedure [dbo].[proc_generate_return_value]
	@vstatus        NVARCHAR(50),
	@vbranchcode    NVARCHAR(10),
	@vrpv_id        NVARCHAR(50),
	@vInputter      NVARCHAR(50) = 'IT.SYSTEM'
as
begin
	SET NOCOUNT ON;
	DECLARE @vDraftId NVARCHAR(20);

	IF (@vstatus = 'VoucherID')
	BEGIN
		 EXEC proc_next_id @vbranchcode,'DraftPVoucher','2',@vDraftId out ;
		 SELECT @vDraftId AS trancode;
	END ELSE IF (@vstatus='AccountPayable')BEGIN
		EXEC proc_next_id @vbranchcode,'DraftAccountPayable','2',@vDraftId out ;
		 SELECT @vDraftId AS trancode;
	END ELSE IF (@vstatus='PV_SYSDOC')BEGIN
		 EXEC proc_next_id @vbranchcode,'PV_SYSDOC','1',@vDraftId out ;
		 SELECT @vDraftId AS trancode;
	END ELSE IF (@vstatus='Payable_SYSDOC')BEGIN
		 EXEC proc_next_id @vbranchcode,'Payable_SYSDOC','1',@vDraftId out ;
		 SELECT @vDraftId AS trancode;
	END ELSE IF (@vstatus='PaymentAccount')BEGIN
		SELECT A.account  
		from [tblpaymentlines] as a 
		WHERE A.branchcode=@vBranchcode and A.active='1' and a.line_id=@vrpv_id
		ORDER BY A.line_id
	END ELSE IF (@vstatus='unaExInvoice')BEGIN
		SELECT A.invoice  
		from tbluna_account_payable as a 
		WHERE A.branchcode=@vBranchcode and A.draft='1' and a.invoice=@vrpv_id and a.ap_id<>@vInputter
		ORDER BY A.invoice
	END ELSE IF (@vstatus='ExInvoice')BEGIN
		SELECT A.invoice  
		from tbl_account_payable as a 
		WHERE A.branchcode=@vBranchcode and A.draft='1' and a.invoice=@vrpv_id and a.ap_id<>@vInputter
		ORDER BY A.invoice
	END ELSE IF (@vstatus='getInvoice')BEGIN
		
		IF EXISTS ( SELECT A.invoice  from tbluna_account_payable as a WHERE A.branchcode=@vBranchcode and A.draft='1' and a.ap_id=@vrpv_id ) BEGIN
			SELECT TOP 1 A.invoice  from tbluna_account_payable as a WHERE A.branchcode=@vBranchcode and A.draft='1' and a.ap_id=@vrpv_id 
		END 

		IF EXISTS ( SELECT A.invoice  from tbl_account_payable as a WHERE A.branchcode=@vBranchcode and A.draft='1' and a.ap_id=@vrpv_id ) BEGIN
			SELECT TOP 1 A.invoice  from tbl_account_payable as a WHERE A.branchcode=@vBranchcode and A.draft='1' and a.ap_id=@vrpv_id 
		END 

	END

END 