CREATE procedure [dbo].[proc_register_payment_signature]
	@vsysdocnum		nvarchar(20),
	@vbranchcode	nvarchar(20),
	@vpv_id			nvarchar(20),
	@vrs_id			nvarchar(20),
	@vresponder		nvarchar(250),
	@vposition		nvarchar(250),
	@vrs_date		date,
	@vinputter		nvarchar(250)
as
begin

	IF(NOT EXISTS( SELECT 1 FROM tbluna_payment_signature as a where a.branchcode=@vBranchCode and a.sysdocnum=@vsysdocnum) AND EXISTS (SELECT A.[pv_id] FROM [tblunapaymentvoucher] AS a where a.branchcode=@vBranchCode and a.[pv_id]=@vpv_id) )begin 

		INSERT INTO [dbo].[tbluna_payment_signature]
           ([sysdocnum]
           ,[branchcode]
           ,[pv_id]
           ,[rs_id]
           ,[responder]
           ,[position]
           ,[rs_date]
           ,[inputter]
           ,[created_at])
		VALUES (@vsysdocnum,@vBranchCode,@vpv_id,@vrs_id,@vresponder,@vposition,@vrs_date,@vinputter,getdate())

	end else begin 
		
		update a set 
			a.[pv_id]=@vpv_id,
			a.[rs_id]=@vrs_id,
			a.[responder]=@vresponder,
			a.[position]=@vposition,
			a.[rs_date]=@vrs_date,
			a.[created_at]=getdate()
		from [tbluna_payment_signature] as a where a.branchcode=@vBranchCode and a.[sysdocnum]=@vsysdocnum
	end ;

	select @vpv_id as trancode ;

 --- proc_register_paymentsub N'',N'0101',N'DRA0031',N'',N'3',N'0'
end
