CREATE PROCEDURE [dbo].[proc_auth_paymentvoucher]
	@vCMD			nvarchar(25),
	@vBranchcode	nvarchar(25),
	@vts_ID			nvarchar(25),
	@vInputter		nvarchar(150)=''
AS
BEGIN
	DECLARE @vbatch_id NVARCHAR(25)
	DECLARE @vts_num  NVARCHAR(25)
 
	IF(@vCMD='pv_Auth')BEGIN

	    delete a from tblpaymentvoucher as a where a.branchcode=@vBranchcode and a.pv_id=@vts_ID
	    delete a from tblpaymentsub as a where a.branchcode=@vBranchcode and a.pv_id=@vts_ID
	    delete a from tbl_payment_signature as a where a.branchcode=@vBranchcode and a.pv_id=@vts_ID
		
	    INSERT INTO [dbo].[tblpaymentvoucher]
           ([pv_id]
           ,[branchcode]
           ,[pay_date]
           ,[pay_to]
           ,[pay_option]
           ,[receipt]
           ,[invoice]
           ,[draft]
           ,[inputter]
           ,[created_at]
           ,[authoriser]
           ,[authorize_at])
		select distinct 
			[pv_id]
           ,[branchcode]
           ,[pay_date]
           ,[pay_to]
           ,[pay_option]
           ,[receipt]
           ,[invoice]
           ,[draft]
           ,[inputter]
           ,[created_at]
           ,@vInputter
           ,GETDATE()

		from [tblunapaymentvoucher] as a where a.branchcode=@vBranchcode and a.[pv_id]=@vts_ID

		INSERT INTO [dbo].[tblpaymentsub]
           ([sysdocnum]
           ,[branchcode]
           ,[pv_id]
           ,[pay_no]
           ,[pay_des]
           ,[pay_amount]
           ,[create_at])
		select distinct 
			[sysdocnum]
           ,[branchcode]
           ,[pv_id]
           ,[pay_no]
           ,[pay_des]
           ,[pay_amount]
           ,[create_at]

		from [tblunapaymentsub] as a where a.branchcode=@vBranchcode and a.[pv_id]=@vts_ID

		INSERT INTO [dbo].[tbl_payment_signature]
           ([sysdocnum]
           ,[branchcode]
           ,[pv_id]
           ,[rs_id]
           ,[responder]
           ,[position]
           ,[rs_date]
           ,[inputter]
           ,[created_at])

		select distinct 
			[sysdocnum]
           ,[branchcode]
           ,[pv_id]
           ,[rs_id]
           ,[responder]
           ,[position]
           ,[rs_date]
           ,[inputter]
           ,[created_at]
		from tbluna_payment_signature as a where a.branchcode=@vBranchcode and a.[pv_id]=@vts_ID

        EXEC proc_delete_trans  'r_paymentvoucher',@vBranchcode,@vts_ID,@vInputter

 	END ELSE IF(@vCMD='Auth_AccPay')BEGIN
        delete a from [tbl_account_payable] as a where a.branchcode=@vBranchcode and a.[ap_id]=@vts_ID
	    delete a from [tbl_account_payable_sub] as a where a.branchcode=@vBranchcode and a.[ap_id]=@vts_ID

        INSERT INTO [dbo].[tbl_account_payable]
           ([ap_id]
           ,[branchcode]
           ,[supply_id]
           ,[ap_date]
           ,[invoice]
           ,[remark]
           ,[draft]
           ,[amount]
           ,[inputter]
           ,[created_at]
           ,[authoriser]
           ,[authorize_at])
        SELECT DISTINCT
            [ap_id]
           ,[branchcode]
           ,[supply_id]
           ,[ap_date]
           ,[invoice]
           ,[remark]
           ,[draft]
           ,[amount]
           ,[inputter]
           ,[created_at]
           ,@vInputter
           ,GETDATE()
        FROM [tbluna_account_payable] AS A where a.branchcode=@vBranchcode and a.[ap_id]=@vts_ID
        
        
    INSERT INTO [dbo].[tbl_account_payable_sub]
           ([sysdocnum]
           ,[branchcode]
           ,[ap_id]
           ,[description]
           ,[amount]
           ,[create_at])
         SELECT 
            [sysdocnum]
           ,[branchcode]
           ,[ap_id]
           ,[description]
           ,[amount]
           ,[create_at]
        FROM [tbluna_account_payable_sub] AS A where a.branchcode=@vBranchcode and a.[ap_id]=@vts_ID



        UPDATE a SET a.amount = b.total_amount
        FROM tbl_account_payable AS a
        INNER JOIN (
            SELECT 
                ap_id,
                branchcode,
                SUM(amount) AS total_amount
            FROM tbl_account_payable_sub
            WHERE branchcode = @vBranchcode
              AND ap_id = @vts_ID
            GROUP BY ap_id, branchcode
        ) AS b 
            ON a.ap_id = b.ap_id 
           AND a.branchcode = b.branchcode

        --- clear unauthorize 
        EXEC proc_delete_trans  'r_AccountPayable',@vBranchcode,@vts_ID,@vInputter

 	END ELSE IF(@vCMD='r_paymentvoucher')BEGIN
		EXEC proc_delete_trans  @vCMD,@vBranchcode,@vts_ID,@vInputter
    END ELSE IF(@vCMD='r_AccountPayable')BEGIN
		EXEC proc_delete_trans  @vCMD,@vBranchcode,@vts_ID,@vInputter
    END ELSE IF(@vCMD='del_acc_paid')BEGIN
		EXEC proc_delete_trans  @vCMD,@vBranchcode,@vts_ID,@vInputter
	END 

		select @vts_ID as TRANCODE
	END 
	