ALTER PROCEDURE [dbo].[proc_next_id]
    @vbranchcode NVARCHAR(10),
    @vcolumns    NVARCHAR(50),
    @vlevels     NVARCHAR(50),
    @vcode       NVARCHAR(100) OUTPUT
AS
BEGIN
    SET NOCOUNT ON;

    DECLARE @vsequence INT
    DECLARE @retval INT
    DECLARE @vMinlength INT = 4
    DECLARE @vMaxlength INT = 6

    DECLARE @vYear  NVARCHAR(4)
    DECLARE @vMonth NVARCHAR(2)
    DECLARE @vDay   NVARCHAR(2)

    SET @vcolumns = UPPER(ISNULL(@vcolumns,''))

    SET @vYear  = CONVERT(NVARCHAR(4), DATEPART(YEAR, GETDATE()))
    SET @vMonth = RIGHT('0' + CONVERT(NVARCHAR(2), DATEPART(MONTH, GETDATE())),2)
    SET @vDay   = RIGHT('0' + CONVERT(NVARCHAR(2), DATEPART(DAY, GETDATE())),2)

    --------------------------------------------------
    -- Ensure record exists
    --------------------------------------------------
    IF NOT EXISTS (
        SELECT 1 
        FROM tblrecordid 
        WHERE branchcode = @vbranchcode 
        AND convalue = @vcolumns
    )
    BEGIN
        INSERT INTO tblrecordid (branchcode,convalue,recordid,description)
        VALUES (@vbranchcode,@vcolumns,0,@vcolumns)
    END

    --------------------------------------------------
    -- Get sequence
    --------------------------------------------------
    SELECT @retval = ISNULL(MAX(recordid),0)
    FROM tblrecordid
    WHERE branchcode=@vbranchcode
    AND convalue=@vcolumns

    SET @vsequence = @retval + 1

    --------------------------------------------------
    -- Update sequence
    --------------------------------------------------
    UPDATE tblrecordid
    SET recordid=@vsequence
    WHERE branchcode=@vbranchcode
    AND convalue=@vcolumns

    --------------------------------------------------
    -- Generate Code
    --------------------------------------------------

    IF (@vlevels='branchcode')
        SET @vcode = REPLICATE('0',4-LEN(@vsequence)) + CAST(@vsequence AS NVARCHAR)

    ELSE IF (@vlevels='DraftInvoice')
        SET @vcode = 'DR' + @vYear + @vMonth + '-' 
        + REPLICATE('0',5-LEN(@vsequence)) 
        + CAST(@vsequence AS NVARCHAR)

    ELSE IF (@vlevels='INVOICE')
        SET @vcode = 'TIHVB' + @vYear + '-' 
        + REPLICATE('0',5-LEN(@vsequence)) 
        + CAST(@vsequence AS NVARCHAR)

    ELSE IF (@vlevels='COMMERCIAL')
        SET @vcode = 'CIHVB' + @vYear + '-' 
        + REPLICATE('0',5-LEN(@vsequence)) 
        + CAST(@vsequence AS NVARCHAR)

    ELSE IF (@vlevels='INVOICE_RE')
        SET @vcode = 'RTIHVB' + @vYear + '-' 
        + REPLICATE('0',5-LEN(@vsequence)) 
        + CAST(@vsequence AS NVARCHAR)

    ELSE IF (@vlevels='COMMERCIAL_RE')
        SET @vcode = 'RCIHVB' + @vYear + '-' 
        + REPLICATE('0',5-LEN(@vsequence)) 
        + CAST(@vsequence AS NVARCHAR)

    ELSE IF (@vlevels='RETURN_IN')
        SET @vcode = 'CNHVB' + @vYear + '-' 
        + REPLICATE('0',5-LEN(@vsequence)) 
        + CAST(@vsequence AS NVARCHAR)

    ELSE IF (@vlevels='paymentvoucher')
        SET @vcode = @vcolumns + '-'+ @vYear + '-'
        + REPLICATE('0',5-LEN(@vsequence)) 
        + CAST(@vsequence AS NVARCHAR)

    ELSE IF (@vlevels='0')
        SET @vcode = ISNULL(@vcolumns,'NONE') + @vYear + @vMonth + '-' 
        + REPLICATE('0',@vMinlength-LEN(@vsequence)) 
        + CAST(@vsequence AS NVARCHAR)

    ELSE IF (@vlevels='1')
        SET @vcode = @vbranchcode + '-' 
        + REPLICATE('0',@vMinlength-LEN(@vsequence)) 
        + CAST(@vsequence AS NVARCHAR)

    ELSE IF (@vlevels='2')
        SET @vcode = ISNULL(LEFT(@vcolumns,3),'N') 
        + REPLICATE('0',@vMinlength-LEN(@vsequence)) 
        + CAST(@vsequence AS NVARCHAR)

    ELSE IF (@vlevels='3')
        SET @vcode = ISNULL(LEFT(@vcolumns,1),'N') 
        + REPLICATE('0',@vMinlength-LEN(@vsequence)) 
        + CAST(@vsequence AS NVARCHAR)

    ELSE IF (@vlevels='9')
        SET @vcode = @vYear + @vMonth + @vDay + '-' 
        + REPLICATE('0',@vMaxlength-LEN(@vsequence)) 
        + CAST(@vsequence AS NVARCHAR)

    ELSE IF (@vlevels='BTC')
        SET @vcode = ISNULL(@vcolumns,'NONE') + @vYear + @vMonth + '-' 
        + REPLICATE('0',@vMinlength-LEN(@vsequence)) 
        + CAST(@vsequence AS NVARCHAR)

END