create procedure [dbo].[proc_refresh_cost] 
	@vbranchcode	nvarchar(20),
	@vpo_id	nvarchar(20)
AS 
BEGIN
	

	------------------------------------------------------
	DECLARE @vsto_ID	nvarchar(20)
	DECLARE @vPRO_ID	nvarchar(20)
	DECLARE @vPOR_ID	nvarchar(20)
	DECLARE @vBatch_ID	nvarchar(20)
	DECLARE @vSysDoc	nvarchar(20)

	if exists (select a.po_id from tblPurchaseOrderDetails as a where a.branchcode=@vbranchcode and a.po_id=@vpo_id) begin
		
		select  a.po_id,
			    a.branchcode,
				a.pro_code,
				a.sto_id,
				a.batch_id
		into #tmpPurchaseOrder
		from tblPurchaseOrderDetails as a where a.branchcode=@vbranchcode and a.po_id=@vpo_id

		DECLARE r_cur CURSOR
		FOR
		select  a.po_id,
				a.branchcode,
				a.pro_code,
				a.sto_id,
				a.batch_id
			FROM #tmpPurchaseOrder as a
		OPEN r_cur

		FETCH NEXT FROM r_cur INTO @vPOR_ID,@vbranchcode,@vPRO_ID,@vsto_ID,@vBatch_ID
		WHILE @@FETCH_STATUS = 0 BEGIN

			exec proc_register_cost 'generate',@vbranchcode,@vPRO_ID,@vsto_ID,@vBatch_ID,0,'IT.SYSTEM'

		FETCH NEXT FROM r_cur INTO  @vPOR_ID,@vbranchcode,@vPRO_ID,@vsto_ID,@vBatch_ID
		END
		CLOSE r_cur
		DEALLOCATE r_cur
	end
 
	
END
