 create procedure [dbo].[proc_accounts_payable_sub]
	@vsysdocnum		nvarchar(20),
	@vbranchcode	nvarchar(20),
	@vap_id			nvarchar(20),
	@vdesc			nvarchar(250),
	@vamount		money
as
begin

	IF(NOT EXISTS( SELECT a.[ap_id] FROM [tbluna_account_payable_sub] as a where a.branchcode=@vBranchCode and a.sysdocnum=@vsysdocnum) AND EXISTS (SELECT A.[ap_id] FROM tbluna_account_payable AS a where a.branchcode=@vBranchCode and a.[ap_id]=@vap_id) )begin 
		
		IF(@vsysdocnum='')begin
			exec proc_next_id @vbranchcode,'payable_SYSDOC','1',@vsysdocnum out ;
		end

		SELECT @vsysdocnum 

		INSERT INTO [dbo].[tbluna_account_payable_sub]
           ([sysdocnum]
           ,[branchcode]
           ,[ap_id]
           ,[description]
           ,[amount]
           ,[create_at])
		VALUES (@vsysdocnum,@vbranchcode,@vap_id,@vdesc,@vamount,getdate())

	end else begin 
		
		update a set 
			a.[ap_id]=@vap_id,
			a.[description]=@vdesc,
			a.[amount]=@vamount,
			a.[create_at]=getdate()
		from [tbluna_account_payable_sub] as a where a.branchcode=@vBranchCode and a.[sysdocnum]=@vsysdocnum
	end ;

	select @vap_id as trancode ;

 --- proc_register_paymentsub N'',N'0101',N'DRA0031',N'',N'3',N'0'
end
