 
ALTER procedure [dbo].[rpt_account_payable] 
	@vBranchcode	nvarchar(20),
	@vsupply_id		nvarchar(20),
	@vdate_from		date,
	@vdate_to		date
AS
BEGIN
	
	SELECT a.[ap_id]
		  ,a.[branchcode]
		  ,a.[ap_date]
		  ,a.[invoice]
		  ,a.[remark]
		  ,a.[amount] AS TotalAmount
		  ,a.[inputter],
		  b.sup_id,
		  b.sup_name
	into #tmp_account_payable
	from tbl_account_payable as a 
	inner join tblSupplies as b on a.branchcode=b.branchcode and a.supply_id=b.sup_id
	where a.branchcode=@vBranchcode and a.supply_id like @vsupply_id+'%' and a.[ap_date] <=@vdate_to
		
	SELECT DISTINCT
		a.ap_id,
		a.branchcode,
		a.sup_name,
		STUFF((
			SELECT ', ' + b2.[description]
			FROM tbl_account_payable_sub b2
			WHERE b2.ap_id = a.ap_id 
			  AND b2.branchcode = a.branchcode
			FOR XML PATH(''), TYPE
		).value('.', 'NVARCHAR(MAX)'), 1, 2, '') AS [description]
	INTO #tmp_AP_description
	FROM #tmp_account_payable AS a
	INNER JOIN tbl_account_payable_sub AS b ON a.branchcode = b.branchcode AND a.ap_id = b.ap_id
	GROUP BY a.ap_id,a.branchcode,a.sup_name

	select a.ap_id,
		   a.branchcode,
		   a.sup_name,
		   b.sysdocnum,
		   b.amount,
		   b.[description]
	into #tmp_ap_details	
	from #tmp_account_payable as a 
	inner join tbl_account_payable_sub as b on a.branchcode=b.branchcode and a.ap_id=b.ap_id


	select a.ap_id,
		   a.branchcode,
		   a.sup_name,
		   b.sysdoc,
		   b.amount,
		   b.paiddate,
		   b.remark
	into #tmp_ap_paid
	from #tmp_account_payable as a 
	inner join tbl_account_payable_paid as b on a.branchcode=b.branchcode and a.ap_id=b.ap_id
	where b.paiddate<= @vdate_to


	select a.ap_id,
		   a.branchcode,
		   SUM(a.amount) AS amount
	into #tmp_ap_paid_summary
	FROM #tmp_ap_paid AS A 
	GROUP BY a.ap_id,a.branchcode


	SELECT a.[ap_id]
		  ,a.[branchcode]
		  ,CONVERT(VARCHAR, a.[ap_date], 103) as [ap_date]
		  ,a.[invoice]
		  ,a.TotalAmount
		  ,a.sup_name,
			isnull(b.description,'') as description,
			isnull(c.sysdoc,'') as sysdoc,
			isnull(c.paiddate,null) as paiddate,
			isnull(c.amount,0) as amount,
			(a.TotalAmount - isnull(s.amount,0)) as balance
	from #tmp_account_payable as a 
	inner join #tmp_AP_description as b on a.branchcode=b.branchcode and a.ap_id=b.ap_id
	left join #tmp_ap_paid as c on a.branchcode=c.branchcode and a.ap_id=c.ap_id
	left join #tmp_ap_paid_summary as s on a.branchcode=s.branchcode and a.ap_id=s.ap_id
	order by a.ap_id,c.paiddate


	--- exec rpt_account_payable '0202','%','2026-03-01','2026-06-30'
	--- exec rpt_account_payable '0101','%','2026-03-01','2026-04-30'

END 