USE [HMS_TAX]
GO
/****** Object:  UserDefinedFunction [dbo].[fun_amount]    Script Date: 17/11/2025 8:47:01 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
create FUNCTION [dbo].[fun_amount](
	@vstatus		NVARCHAR(20),
	@vbranchcode	NVARCHAR(10),
	@vtracode1		NVARCHAR(20)='',
	@vtracode2		NVARCHAR(20)=''
)
RETURNS MONEY
AS
BEGIN
	DECLARE @vAmount	MONEY
	if(@vstatus='cost')begin
		set @vAmount= isnull((SELECT A.cost FROM tblProducts AS A WHERE A.BranchCode=@vbranchcode AND A.pro_code=@vtracode1 AND A.active='1'),0)
	end else if(@vstatus='price')begin
		set @vAmount= isnull((SELECT A.unitprice FROM tblProducts AS A WHERE A.BranchCode=@vbranchcode AND A.pro_code=@vtracode1 AND A.active='1'),0)
	end else if(@vstatus='discount')begin
		set @vAmount= isnull((SELECT A.discount FROM tblProducts AS A WHERE A.BranchCode=@vbranchcode AND A.pro_code=@vtracode1 AND A.active='1'),0)
	end else if(@vstatus='t_amount')begin
		set @vAmount= isnull((SELECT SUM(A.AMOUNT) FROM tblunaStockOuts AS A WHERE A.BranchCode=@vbranchcode AND A.rcp_num=@vtracode1),0)
	end 

	RETURN isnull(@vAmount,0) 
END
GO
/****** Object:  UserDefinedFunction [dbo].[fun_currency]    Script Date: 17/11/2025 8:47:01 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE FUNCTION [dbo].[fun_currency](
	@vstatus		NVARCHAR(20),
	@vbranchcode	NVARCHAR(10),
	@vtracode1		NVARCHAR(10)=''
)
RETURNS NVARCHAR(MAX)
AS
BEGIN
	
	if(@vstatus='bestcurrency')begin
		set @vstatus= isnull((select a.currencycode from tblcurrencies as a where a.branchcode=@vbranchcode and a.active=1 and orders=1),'')
	end else if(@vstatus='secondcurrency')begin
		set @vstatus= isnull((select a.currencycode from tblcurrencies as a where a.branchcode=@vbranchcode and a.active=1 and orders=2),'')
	end else if(@vstatus='symbol')begin
		set @vstatus= isnull((select a.currencysymbol from tblcurrencies as a where a.branchcode=@vbranchcode and a.active=1 and a.currencycode=@vtracode1 ),'')
	end 

	RETURN isnull(@vstatus,'') 
END
GO
/****** Object:  UserDefinedFunction [dbo].[fun_exchangerate]    Script Date: 17/11/2025 8:47:01 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
create FUNCTION [dbo].[fun_exchangerate](
	@vstatus		NVARCHAR(20),
	@vbranchcode	NVARCHAR(10),
	@vtracode1		NVARCHAR(10)='',
	@vexchdate		datetime
)
RETURNS money
AS
BEGIN
	declare @vreturn money ;
	if(@vstatus='exchange')begin
		set @vreturn= isnull((select top 1 a.amount from tblexchangerates as a where a.branchcode=@vbranchcode and a.currencycode=@vtracode1 order by a.create_at desc ),'')
	end else if(@vstatus='secondcurrency')begin
		set @vstatus= isnull((select a.currencycode from tblcurrencies as a where a.branchcode=@vbranchcode and a.active=1 and orders=2),'')
	end else if(@vstatus='symbol')begin
		set @vstatus= isnull((select a.currencysymbol from tblcurrencies as a where a.branchcode=@vbranchcode and a.active=1 and a.currencycode=@vtracode1 ),'')
		
	end else if(@vstatus='total_una')begin
		set @vreturn= isnull((select sum(a.amount) from tblunaInvoices as a where a.branchcode=@vbranchcode and a.rcp_num=@vtracode1),0)
	end 
	RETURN isnull(@vreturn,'') 
END

GO
/****** Object:  UserDefinedFunction [dbo].[fun_products]    Script Date: 17/11/2025 8:47:01 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE FUNCTION [dbo].[fun_products](
	@vstatus		NVARCHAR(20),
	@vbranchcode	NVARCHAR(10),
	@vpro_id		NVARCHAR(20)
)
RETURNS FLOAT
AS
BEGIN
	
	DECLARE @vReturn FLOAT
	if(@vstatus='cost')begin
		set @vReturn= isnull(( select top 1 (a.cost) from tblProducts as a where a.branchcode=@vbranchcode and a.pro_code=@vpro_id),'')
	end 

	RETURN isnull(@vReturn,0) 
END
GO
/****** Object:  UserDefinedFunction [dbo].[fun_qty_balance]    Script Date: 17/11/2025 8:47:01 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
create FUNCTION [dbo].[fun_qty_balance](
	@vbranchcode	NVARCHAR(10),
	@vstock_code	NVARCHAR(20),
	@vpro_code		NVARCHAR(20),
	@vTranDate		DATETIME 
)
RETURNS MONEY
AS
BEGIN
	DECLARE @vQty MONEY 
	SET @vQty=ISNULL((SELECT top 1 A.qty_balance FROM TblTransactions AS A WHERE A.BranchCode=@vbranchcode AND A.pro_code=@vpro_code AND A.stock_code=@vstock_code  AND A.create_at<@vTranDate order by create_at desc,a.sysdoc desc) ,0)
	RETURN @vQty
END
GO
/****** Object:  UserDefinedFunction [dbo].[fun_sql]    Script Date: 17/11/2025 8:47:01 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
create FUNCTION [dbo].[fun_sql](
	@vstatus		NVARCHAR(20),
	@vbranchcode	NVARCHAR(10),
	@vtracode1		NVARCHAR(20),
	@vtracode2		NVARCHAR(20)
)
RETURNS NVARCHAR(MAX)
AS
BEGIN
	
	if(@vstatus='barcode')begin
		set @vstatus= isnull((select a.barcode from tblProducts as a where a.branchcode=@vbranchcode and a.active=1 and pro_code=@vtracode1),'')
	end else if(@vstatus='secondcurrency')begin
		set @vstatus= isnull((select a.currencycode from tblcurrencies as a where a.branchcode=@vbranchcode and a.active=1 and orders=2),'')
 
	end 

	RETURN isnull(@vstatus,'') 
END
GO
/****** Object:  UserDefinedFunction [dbo].[fun_stock]    Script Date: 17/11/2025 8:47:01 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE FUNCTION [dbo].[fun_stock](
	@vstatus		NVARCHAR(20),
	@vbranchcode	NVARCHAR(10),
	@vcode1			NVARCHAR(10)=''
)
RETURNS NVARCHAR(MAX)
AS
BEGIN
	
	if(@vstatus='po_stock')begin
		set @vstatus= isnull((select top 1 a.sto_id from tblStockMenu as a where a.branchcode=@vbranchcode and a.PO=1),'')
	end else if(@vstatus='beststock')begin 
		set @vstatus= isnull((select a.sto_id from tblStockMenu as a where a.branchcode=@vbranchcode and a.pos=1),'')

	end else if(@vstatus='stock_name')begin 
		set @vstatus= isnull((select top 1 a.sto_name from tblStockMenu as a where a.branchcode=@vbranchcode and a.sto_id=@vcode1),'')
	end 

	RETURN isnull(@vstatus,'') 
END
GO
/****** Object:  UserDefinedFunction [dbo].[fun_use_date]    Script Date: 17/11/2025 8:47:01 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE FUNCTION [dbo].[fun_use_date]()
RETURNS DATETIME
AS
BEGIN
	
	 
	RETURN ISNULL(DATEADD(D,-90,GETDATE()),GETDATE())
END
GO
/****** Object:  Table [dbo].[His_tblunaPurchaseOrderDetail]    Script Date: 17/11/2025 8:47:01 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[His_tblunaPurchaseOrderDetail](
	[sysdocnum] [nvarchar](25) NOT NULL,
	[po_id] [nvarchar](25) NOT NULL,
	[branchcode] [nvarchar](25) NULL,
	[pro_code] [nvarchar](25) NULL,
	[barcode] [nvarchar](25) NULL,
	[sto_id] [nvarchar](20) NULL,
	[cost] [money] NULL,
	[oth_cost] [money] NULL,
	[qty] [money] NULL,
	[discount] [money] NULL,
	[exp_date] [date] NULL,
	[amount] [money] NULL,
	[oth_amount] [money] NULL,
	[batch_id] [nvarchar](25) NULL,
	[create_at] [datetime] NULL,
	[Tracker] [nvarchar](250) NULL,
	[Track_at] [datetime] NULL
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[Hist_tblPurchaseOrder]    Script Date: 17/11/2025 8:47:01 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[Hist_tblPurchaseOrder](
	[po_id] [nvarchar](25) NOT NULL,
	[branchcode] [nvarchar](25) NOT NULL,
	[sup_id] [nvarchar](20) NULL,
	[exc_id] [nvarchar](20) NULL,
	[invoice] [nvarchar](20) NULL,
	[amount] [money] NULL,
	[po_date] [date] NULL,
	[remark] [nvarchar](250) NULL,
	[editing] [datetime] NULL,
	[inputter] [nvarchar](250) NULL,
	[create_at] [datetime] NULL,
	[authoriser] [nvarchar](250) NULL,
	[authorize_at] [datetime] NULL,
	[Tracker] [nvarchar](250) NULL,
	[Track_at] [datetime] NULL
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[sys_user_logins]    Script Date: 17/11/2025 8:47:01 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[sys_user_logins](
	[user_id] [nvarchar](10) NOT NULL,
	[branchcode] [nvarchar](10) NOT NULL,
	[sub_of_branch] [nvarchar](10) NOT NULL,
	[profile_id] [nvarchar](10) NOT NULL,
	[user_login] [nvarchar](250) NULL,
	[user_pwd] [nvarchar](250) NULL,
	[disable] [bit] NULL,
	[create_at] [datetime] NULL,
	[expired_at] [date] NULL,
	[inputter] [nvarchar](150) NULL,
 CONSTRAINT [PK_sys_user_logins] PRIMARY KEY CLUSTERED 
(
	[user_id] ASC,
	[branchcode] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[sysbranch]    Script Date: 17/11/2025 8:47:01 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[sysbranch](
	[branchcode] [nvarchar](10) NOT NULL,
	[subofbranch] [nvarchar](10) NOT NULL,
	[is_branch] [bit] NULL,
	[Disable] [bit] NULL,
	[branchname] [nvarchar](250) NULL,
	[branchshort] [nvarchar](250) NULL,
	[inputter] [nvarchar](150) NULL,
	[create_at] [datetime] NULL,
 CONSTRAINT [PK_tblbranch] PRIMARY KEY CLUSTERED 
(
	[branchcode] ASC,
	[subofbranch] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[sysconstants]    Script Date: 17/11/2025 8:47:01 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[sysconstants](
	[con_id] [nvarchar](50) NOT NULL,
	[con_display] [nvarchar](50) NOT NULL,
	[con_line] [nvarchar](50) NOT NULL,
	[disable] [bit] NULL,
 CONSTRAINT [PK_sysconstants] PRIMARY KEY CLUSTERED 
(
	[con_id] ASC,
	[con_display] ASC,
	[con_line] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[sysversions]    Script Date: 17/11/2025 8:47:01 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[sysversions](
	[version] [nvarchar](50) NOT NULL,
	[date_at] [date] NULL,
	[tag] [nvarchar](1) NULL,
 CONSTRAINT [PK_sys_versions] PRIMARY KEY CLUSTERED 
(
	[version] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[tbl_user_profile]    Script Date: 17/11/2025 8:47:01 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[tbl_user_profile](
	[pro_id] [nvarchar](10) NOT NULL,
	[pro_name] [nvarchar](50) NULL,
	[pro_name_kh] [nvarchar](50) NULL,
	[disable] [bit] NULL,
	[inputter] [nvarchar](150) NULL,
	[create_at] [datetime] NULL,
 CONSTRAINT [PK_tbl_user_profile] PRIMARY KEY CLUSTERED 
(
	[pro_id] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[tblcurrencies]    Script Date: 17/11/2025 8:47:01 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[tblcurrencies](
	[currencycode] [nvarchar](10) NOT NULL,
	[branchcode] [nvarchar](10) NOT NULL,
	[currency] [nvarchar](250) NULL,
	[currencysymbol] [nvarchar](10) NULL,
	[currencyshort] [nvarchar](250) NULL,
	[smallestcharge] [money] NULL,
	[basecurrency] [bit] NULL,
	[active] [bit] NULL,
	[orders] [int] NULL,
	[inputter] [nvarchar](250) NULL,
	[create_at] [datetime] NULL,
 CONSTRAINT [PK_tblcurrencies] PRIMARY KEY CLUSTERED 
(
	[currencycode] ASC,
	[branchcode] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[tblCustomers]    Script Date: 17/11/2025 8:47:01 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[tblCustomers](
	[cus_id] [nvarchar](25) NOT NULL,
	[BranchCode] [nvarchar](25) NOT NULL,
	[cus_name] [nvarchar](250) NULL,
	[gender] [nvarchar](25) NULL,
	[dob] [date] NULL,
	[active] [bit] NULL,
	[age] [tinyint] NULL,
	[phone] [nvarchar](25) NULL,
	[remark] [nvarchar](250) NULL,
	[province] [nvarchar](25) NULL,
	[district] [nvarchar](25) NULL,
	[commune] [nvarchar](25) NULL,
	[village] [nvarchar](25) NULL,
	[address] [nvarchar](25) NULL,
	[inputter] [nvarchar](250) NULL,
	[create_at] [datetime] NULL,
	[update_at] [datetime] NULL,
 CONSTRAINT [PK_tblCustomers] PRIMARY KEY CLUSTERED 
(
	[cus_id] ASC,
	[BranchCode] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[tblexchangerates]    Script Date: 17/11/2025 8:47:01 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[tblexchangerates](
	[sysnum] [nvarchar](20) NOT NULL,
	[currencycode] [nvarchar](10) NOT NULL,
	[branchcode] [nvarchar](10) NOT NULL,
	[amount] [money] NULL,
	[inputter] [nvarchar](250) NULL,
	[create_at] [datetime] NULL,
 CONSTRAINT [PK_tblexchangerates] PRIMARY KEY CLUSTERED 
(
	[sysnum] ASC,
	[currencycode] ASC,
	[branchcode] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[tblLines]    Script Date: 17/11/2025 8:47:01 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[tblLines](
	[line_id] [nvarchar](50) NOT NULL,
	[branchcode] [nvarchar](50) NOT NULL,
	[line_name] [nvarchar](50) NULL,
	[line] [nvarchar](50) NULL,
	[active] [bit] NULL,
	[remark] [nvarchar](250) NULL,
	[inputter] [nvarchar](50) NULL,
	[create_at] [datetime] NULL,
 CONSTRAINT [PK_tblLines] PRIMARY KEY CLUSTERED 
(
	[line_id] ASC,
	[branchcode] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[tblProducts]    Script Date: 17/11/2025 8:47:01 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[tblProducts](
	[pro_code] [nvarchar](25) NOT NULL,
	[barcode] [nvarchar](25) NOT NULL,
	[branchcode] [nvarchar](25) NOT NULL,
	[line_id] [nvarchar](25) NULL,
	[mol_id] [nvarchar](25) NULL,
	[pack_id] [nvarchar](25) NULL,
	[pro_name] [nvarchar](25) NULL,
	[active] [bit] NULL,
	[cost_tax] [float] NULL,
	[cost] [float] NULL,
	[unitprice] [float] NULL,
	[discount] [float] NULL,
	[remark] [nvarchar](250) NULL,
	[create_at] [datetime] NULL,
	[expired_at] [date] NULL,
	[inputter] [nvarchar](250) NULL,
	[update_at] [datetime] NULL,
 CONSTRAINT [PK_tblProducts_1] PRIMARY KEY CLUSTERED 
(
	[pro_code] ASC,
	[barcode] ASC,
	[branchcode] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[tblPurchaseOrder]    Script Date: 17/11/2025 8:47:01 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[tblPurchaseOrder](
	[po_id] [nvarchar](25) NOT NULL,
	[branchcode] [nvarchar](25) NOT NULL,
	[sup_id] [nvarchar](20) NULL,
	[exc_id] [nvarchar](20) NULL,
	[invoice] [nvarchar](20) NULL,
	[amount] [money] NULL,
	[po_date] [date] NULL,
	[remark] [nvarchar](250) NULL,
	[editing] [datetime] NULL,
	[inputter] [nvarchar](250) NULL,
	[create_at] [datetime] NULL,
	[authoriser] [nvarchar](250) NULL,
	[authorize_at] [datetime] NULL,
 CONSTRAINT [PK_tblPurchaseOrder] PRIMARY KEY CLUSTERED 
(
	[po_id] ASC,
	[branchcode] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[tblPurchaseOrderDetail]    Script Date: 17/11/2025 8:47:01 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[tblPurchaseOrderDetail](
	[sysdocnum] [nvarchar](25) NOT NULL,
	[po_id] [nvarchar](25) NOT NULL,
	[branchcode] [nvarchar](25) NULL,
	[pro_code] [nvarchar](25) NULL,
	[barcode] [nvarchar](25) NULL,
	[sto_id] [nvarchar](20) NULL,
	[cost] [money] NULL,
	[oth_cost] [money] NULL,
	[qty] [money] NULL,
	[discount] [money] NULL,
	[exp_date] [date] NULL,
	[amount] [money] NULL,
	[oth_amount] [money] NULL,
	[batch_id] [nvarchar](25) NULL,
	[create_at] [datetime] NULL,
 CONSTRAINT [PK_tblPurchaseOrderDetail_1] PRIMARY KEY CLUSTERED 
(
	[sysdocnum] ASC,
	[po_id] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[tblPurchaseOrderHistory]    Script Date: 17/11/2025 8:47:01 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[tblPurchaseOrderHistory](
	[po_id] [nvarchar](25) NOT NULL,
	[branchcode] [nvarchar](25) NOT NULL,
	[sup_id] [nvarchar](20) NULL,
	[po_date] [date] NULL,
	[sysdocnum] [nvarchar](50) NULL,
	[inputter] [nvarchar](250) NULL,
	[create_at] [datetime] NULL,
 CONSTRAINT [PK_tblPurchaseOrderHistory_1] PRIMARY KEY CLUSTERED 
(
	[po_id] ASC,
	[branchcode] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[tblRecordID]    Script Date: 17/11/2025 8:47:01 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[tblRecordID](
	[branchcode] [nvarchar](10) NOT NULL,
	[convalue] [nvarchar](50) NOT NULL,
	[recordid] [int] NULL,
	[description] [nvarchar](250) NULL,
	[Auto] [nvarchar](50) NULL,
 CONSTRAINT [PK_tblRecordID] PRIMARY KEY CLUSTERED 
(
	[branchcode] ASC,
	[convalue] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[tblReports]    Script Date: 17/11/2025 8:47:01 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[tblReports](
	[RptCode] [nvarchar](50) NULL,
	[RptTitle] [nvarchar](70) NULL,
	[RptName] [nvarchar](70) NULL,
	[BranchCode] [nvarchar](70) NULL,
	[Level] [int] NULL,
	[Order] [smallint] NULL,
	[Active] [bit] NULL,
	[Flag] [int] NULL
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[tblStockMenu]    Script Date: 17/11/2025 8:47:01 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[tblStockMenu](
	[sto_id] [nvarchar](25) NOT NULL,
	[branchcode] [nvarchar](25) NOT NULL,
	[sto_name] [nvarchar](250) NULL,
	[active] [bit] NULL,
	[PO] [bit] NULL,
	[POS] [bit] NULL,
	[remark] [nvarchar](50) NULL,
	[inputter] [nvarchar](250) NULL,
	[create_at] [datetime] NULL,
 CONSTRAINT [PK_tblStockMenu] PRIMARY KEY CLUSTERED 
(
	[sto_id] ASC,
	[branchcode] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[tblSupplies]    Script Date: 17/11/2025 8:47:01 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[tblSupplies](
	[sup_id] [nvarchar](25) NOT NULL,
	[branchcode] [nvarchar](25) NOT NULL,
	[sup_name] [nvarchar](250) NULL,
	[active] [bit] NULL,
	[phone] [nvarchar](100) NULL,
	[address] [nvarchar](250) NULL,
	[remark] [nvarchar](250) NULL,
	[inputter] [nvarchar](250) NULL,
	[create_at] [datetime] NULL,
 CONSTRAINT [PK_tblSupplies] PRIMARY KEY CLUSTERED 
(
	[sup_id] ASC,
	[branchcode] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[TblTransactions]    Script Date: 17/11/2025 8:47:01 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[TblTransactions](
	[sysdoc] [nvarchar](20) NOT NULL,
	[BranchCode] [nvarchar](10) NOT NULL,
	[stock_code] [nvarchar](20) NULL,
	[pro_code] [nvarchar](20) NULL,
	[barcode] [nvarchar](20) NULL,
	[trans_date] [date] NULL,
	[trans_code] [nvarchar](20) NULL,
	[qty] [int] NULL,
	[qty_balance] [money] NULL,
	[referent] [nvarchar](250) NULL,
	[exp_date] [date] NULL,
	[status] [nvarchar](250) NULL,
	[inputter] [nvarchar](250) NULL,
	[create_at] [datetime] NULL,
	[authoriser] [nvarchar](250) NULL,
	[authorize_at] [datetime] NULL,
	[batch_id] [nvarchar](250) NULL,
 CONSTRAINT [PK_TblTransactions_1] PRIMARY KEY CLUSTERED 
(
	[sysdoc] ASC,
	[BranchCode] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[tblunaInvoices]    Script Date: 17/11/2025 8:47:01 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[tblunaInvoices](
	[rcp_num] [nvarchar](25) NOT NULL,
	[branchcode] [nvarchar](25) NOT NULL,
	[cus_id] [nvarchar](25) NOT NULL,
	[rcp_date] [date] NULL,
	[currency] [nvarchar](20) NULL,
	[exchangrate] [money] NULL,
	[amount] [money] NULL,
	[draft] [bit] NULL,
	[flag] [int] NULL,
	[referent] [nvarchar](250) NULL,
	[inputter] [nvarchar](250) NULL,
	[create_at] [datetime] NULL,
	[authoriser] [nvarchar](250) NULL,
	[authorize_at] [datetime] NULL,
 CONSTRAINT [PK_tblunaInvoices] PRIMARY KEY CLUSTERED 
(
	[rcp_num] ASC,
	[branchcode] ASC,
	[cus_id] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[tblunaPurchaseOrder]    Script Date: 17/11/2025 8:47:01 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[tblunaPurchaseOrder](
	[po_id] [nvarchar](25) NOT NULL,
	[branchcode] [nvarchar](25) NOT NULL,
	[sup_id] [nvarchar](20) NULL,
	[exc_id] [nvarchar](20) NULL,
	[invoice] [nvarchar](20) NULL,
	[amount] [money] NULL,
	[po_date] [date] NULL,
	[remark] [nvarchar](250) NULL,
	[editing] [datetime] NULL,
	[inputter] [nvarchar](250) NULL,
	[create_at] [datetime] NULL,
	[authoriser] [nvarchar](250) NULL,
	[authorize_at] [datetime] NULL,
 CONSTRAINT [PK_tblunaPurchaseOrder] PRIMARY KEY CLUSTERED 
(
	[po_id] ASC,
	[branchcode] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[tblunaPurchaseOrderDetail]    Script Date: 17/11/2025 8:47:01 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[tblunaPurchaseOrderDetail](
	[sysdocnum] [nvarchar](25) NOT NULL,
	[po_id] [nvarchar](25) NOT NULL,
	[branchcode] [nvarchar](25) NULL,
	[pro_code] [nvarchar](25) NULL,
	[barcode] [nvarchar](25) NULL,
	[sto_id] [nvarchar](20) NULL,
	[cost] [money] NULL,
	[oth_cost] [money] NULL,
	[qty] [money] NULL,
	[discount] [money] NULL,
	[exp_date] [date] NULL,
	[amount] [money] NULL,
	[oth_amount] [money] NULL,
	[batch_id] [nvarchar](25) NULL,
	[create_at] [datetime] NULL,
 CONSTRAINT [PK_tblunaPurchaseOrderDetail] PRIMARY KEY CLUSTERED 
(
	[sysdocnum] ASC,
	[po_id] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[tblunaStockOuts]    Script Date: 17/11/2025 8:47:01 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[tblunaStockOuts](
	[sysdoc] [nvarchar](25) NOT NULL,
	[rcp_num] [nvarchar](25) NOT NULL,
	[branchcode] [nvarchar](25) NOT NULL,
	[sto_id] [nvarchar](25) NULL,
	[pro_code] [nvarchar](25) NULL,
	[barcode] [nvarchar](25) NULL,
	[qty] [int] NULL,
	[cost] [money] NULL,
	[unitprice] [money] NULL,
	[discount] [money] NULL,
	[amount] [money] NULL,
	[batch_id] [nvarchar](50) NULL,
	[exp_date] [date] NULL,
	[create_at] [datetime] NULL,
 CONSTRAINT [PK_tblunaStockOuts] PRIMARY KEY CLUSTERED 
(
	[sysdoc] ASC,
	[rcp_num] ASC,
	[branchcode] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY]
GO
INSERT [dbo].[His_tblunaPurchaseOrderDetail] ([sysdocnum], [po_id], [branchcode], [pro_code], [barcode], [sto_id], [cost], [oth_cost], [qty], [discount], [exp_date], [amount], [oth_amount], [batch_id], [create_at], [Tracker], [Track_at]) VALUES (N'S0271', N'PO202511-0029', N'0101', N'3F86FE', NULL, N'0102-001', 3.3300, NULL, 1.0000, NULL, CAST(N'2025-11-25' AS Date), 3.3300, 0.0000, NULL, CAST(N'2025-11-11T16:13:24.797' AS DateTime), N'reanit', CAST(N'2025-11-11T16:13:38.120' AS DateTime))
INSERT [dbo].[His_tblunaPurchaseOrderDetail] ([sysdocnum], [po_id], [branchcode], [pro_code], [barcode], [sto_id], [cost], [oth_cost], [qty], [discount], [exp_date], [amount], [oth_amount], [batch_id], [create_at], [Tracker], [Track_at]) VALUES (N'S0272', N'PO202511-0029', N'0101', N'7FD096', NULL, N'0102-001', 1.9900, NULL, 1.0000, NULL, CAST(N'2025-11-25' AS Date), 1.9900, 0.0000, NULL, CAST(N'2025-11-11T16:13:25.260' AS DateTime), N'reanit', CAST(N'2025-11-11T16:13:38.120' AS DateTime))
GO
INSERT [dbo].[Hist_tblPurchaseOrder] ([po_id], [branchcode], [sup_id], [exc_id], [invoice], [amount], [po_date], [remark], [editing], [inputter], [create_at], [authoriser], [authorize_at], [Tracker], [Track_at]) VALUES (N'PO202511-0029', N'0101', N'S0102', N'010101', NULL, NULL, CAST(N'2025-11-30' AS Date), N'', CAST(N'2025-11-11T16:13:29.800' AS DateTime), N'reanit', CAST(N'2025-11-11T16:13:29.800' AS DateTime), NULL, NULL, N'reanit', CAST(N'2025-11-11T16:13:38.117' AS DateTime))
GO
INSERT [dbo].[sys_user_logins] ([user_id], [branchcode], [sub_of_branch], [profile_id], [user_login], [user_pwd], [disable], [create_at], [expired_at], [inputter]) VALUES (N'1010-0001', N'0101', N'0101', N'02', N'reanit', N'gMJWe9NHnAnecmSXYNIhHsLcOJ5C6XNA/yBV+CI8riWkrmTXGtr9/A==', 0, CAST(N'2022-01-08T10:49:25.143' AS DateTime), CAST(N'2023-01-08' AS Date), N'bongmap.user')
GO
INSERT [dbo].[sysbranch] ([branchcode], [subofbranch], [is_branch], [Disable], [branchname], [branchshort], [inputter], [create_at]) VALUES (N'0101', N'9090', 1, 0, N'TC', N'TC', N'reancode.user', CAST(N'2022-01-16T20:18:08.790' AS DateTime))
GO
INSERT [dbo].[sysconstants] ([con_id], [con_display], [con_line], [disable]) VALUES (N'0', N'No', N'Active', 0)
INSERT [dbo].[sysconstants] ([con_id], [con_display], [con_line], [disable]) VALUES (N'01', N'Male', N'gender', 0)
INSERT [dbo].[sysconstants] ([con_id], [con_display], [con_line], [disable]) VALUES (N'02', N'Female', N'gender', 0)
GO
INSERT [dbo].[sysversions] ([version], [date_at], [tag]) VALUES (N'0.0.0.1', CAST(N'2025-01-17' AS Date), N'1')
GO
INSERT [dbo].[tbl_user_profile] ([pro_id], [pro_name], [pro_name_kh], [disable], [inputter], [create_at]) VALUES (N'01', N'Requester', N'អ្នកស្នើរសុំ', 0, N'reancode.user', CAST(N'2022-01-16T20:18:08.790' AS DateTime))
INSERT [dbo].[tbl_user_profile] ([pro_id], [pro_name], [pro_name_kh], [disable], [inputter], [create_at]) VALUES (N'02', N'Approver', N'អ្នកទទួលដោះស្រាយ', 0, N'reancode.user', CAST(N'2022-01-16T20:18:08.790' AS DateTime))
GO
INSERT [dbo].[tblcurrencies] ([currencycode], [branchcode], [currency], [currencysymbol], [currencyshort], [smallestcharge], [basecurrency], [active], [orders], [inputter], [create_at]) VALUES (N'01', N'0101', N'Dollar', N'$', N'USD', 0.0100, 1, 1, 1, N'it.system', CAST(N'2022-08-29T22:38:43.473' AS DateTime))
INSERT [dbo].[tblcurrencies] ([currencycode], [branchcode], [currency], [currencysymbol], [currencyshort], [smallestcharge], [basecurrency], [active], [orders], [inputter], [create_at]) VALUES (N'02', N'0101', N'Riel', N'៛', N'KHR', 100.0000, NULL, 1, 2, N'it.system', CAST(N'2022-08-29T22:38:43.473' AS DateTime))
INSERT [dbo].[tblcurrencies] ([currencycode], [branchcode], [currency], [currencysymbol], [currencyshort], [smallestcharge], [basecurrency], [active], [orders], [inputter], [create_at]) VALUES (N'03', N'0101', N'THB', N'฿', N'THB', 44.0000, NULL, 1, NULL, N'it.system', CAST(N'2022-08-29T22:38:43.473' AS DateTime))
GO
INSERT [dbo].[tblCustomers] ([cus_id], [BranchCode], [cus_name], [gender], [dob], [active], [age], [phone], [remark], [province], [district], [commune], [village], [address], [inputter], [create_at], [update_at]) VALUES (N'C0001', N'0101', N'BONG REAN', N'01', NULL, 1, NULL, N'012 550003', N'Phnom Penh', NULL, NULL, NULL, NULL, NULL, N'reanit', CAST(N'2025-10-23T21:41:56.953' AS DateTime), CAST(N'2025-10-23T22:53:24.180' AS DateTime))
INSERT [dbo].[tblCustomers] ([cus_id], [BranchCode], [cus_name], [gender], [dob], [active], [age], [phone], [remark], [province], [district], [commune], [village], [address], [inputter], [create_at], [update_at]) VALUES (N'C0002', N'0101', N'JOIN​ CODER', N'01', NULL, 1, NULL, N'015888005 010 888 77799', N'pppp', NULL, NULL, NULL, NULL, N'Sen Sok , Phnom penh', N'reanit', CAST(N'2025-10-23T21:42:32.543' AS DateTime), CAST(N'2025-10-24T12:36:11.877' AS DateTime))
INSERT [dbo].[tblCustomers] ([cus_id], [BranchCode], [cus_name], [gender], [dob], [active], [age], [phone], [remark], [province], [district], [commune], [village], [address], [inputter], [create_at], [update_at]) VALUES (N'C0003', N'0101', N'REAN iT', N'01', NULL, 0, NULL, N'011 88800085', N'', NULL, NULL, NULL, NULL, N'Sen Sok , Aeon 2 ,Phnom P', N'reanit', CAST(N'2025-10-23T21:45:33.900' AS DateTime), CAST(N'2025-10-23T23:05:49.997' AS DateTime))
GO
INSERT [dbo].[tblexchangerates] ([sysnum], [currencycode], [branchcode], [amount], [inputter], [create_at]) VALUES (N'0003', N'01', N'0101', 1.0000, N'ADMIN', CAST(N'2022-07-21T18:46:21.470' AS DateTime))
INSERT [dbo].[tblexchangerates] ([sysnum], [currencycode], [branchcode], [amount], [inputter], [create_at]) VALUES (N'0004', N'02', N'0101', 4150.0000, N'ADMIN', CAST(N'2022-07-21T18:46:21.470' AS DateTime))
INSERT [dbo].[tblexchangerates] ([sysnum], [currencycode], [branchcode], [amount], [inputter], [create_at]) VALUES (N'0005', N'01', N'0101', 1.0000, N'ADMIN', CAST(N'2022-07-21T18:53:48.877' AS DateTime))
GO
INSERT [dbo].[tblLines] ([line_id], [branchcode], [line_name], [line], [active], [remark], [inputter], [create_at]) VALUES (N'0102-001', N'0101', N'Fl', N'type', 1, NULL, N'IT.SYSTEM', NULL)
INSERT [dbo].[tblLines] ([line_id], [branchcode], [line_name], [line], [active], [remark], [inputter], [create_at]) VALUES (N'0102-002', N'0101', N'Cp', N'type', 1, NULL, N'IT.SYSTEM', NULL)
INSERT [dbo].[tblLines] ([line_id], [branchcode], [line_name], [line], [active], [remark], [inputter], [create_at]) VALUES (N'0102-003', N'0101', N'S', N'type', 1, NULL, N'IT.SYSTEM', NULL)
GO
INSERT [dbo].[tblProducts] ([pro_code], [barcode], [branchcode], [line_id], [mol_id], [pack_id], [pro_name], [active], [cost_tax], [cost], [unitprice], [discount], [remark], [create_at], [expired_at], [inputter], [update_at]) VALUES (N'114264', N'none', N'0101', NULL, NULL, NULL, N'Item 002', 1, 2.8, 2.99, 6, 10, N'e', CAST(N'2025-10-24T19:58:53.580' AS DateTime), NULL, N'reanit', NULL)
INSERT [dbo].[tblProducts] ([pro_code], [barcode], [branchcode], [line_id], [mol_id], [pack_id], [pro_name], [active], [cost_tax], [cost], [unitprice], [discount], [remark], [create_at], [expired_at], [inputter], [update_at]) VALUES (N'3F86FE', N'none', N'0101', NULL, NULL, NULL, N'Item 00203', 1, 3.33, 3.33, 5.5, 20, N'', CAST(N'2025-10-24T20:01:56.850' AS DateTime), NULL, N'reanit', NULL)
INSERT [dbo].[tblProducts] ([pro_code], [barcode], [branchcode], [line_id], [mol_id], [pack_id], [pro_name], [active], [cost_tax], [cost], [unitprice], [discount], [remark], [create_at], [expired_at], [inputter], [update_at]) VALUES (N'7FD096', N'none', N'0101', NULL, NULL, NULL, N'New items', 1, 3, 1.99, 7, 30, N'', CAST(N'2025-10-24T19:58:10.047' AS DateTime), NULL, N'reanit', NULL)
GO
INSERT [dbo].[tblPurchaseOrder] ([po_id], [branchcode], [sup_id], [exc_id], [invoice], [amount], [po_date], [remark], [editing], [inputter], [create_at], [authoriser], [authorize_at]) VALUES (N'PO202511-0010', N'0101', N'S0102', N'010101', NULL, NULL, CAST(N'2025-11-15' AS Date), N'test', CAST(N'2025-11-09T23:21:05.147' AS DateTime), N'reanit', CAST(N'2025-11-09T23:21:05.147' AS DateTime), N'PO202511-0010', CAST(N'2025-11-09T23:21:18.007' AS DateTime))
INSERT [dbo].[tblPurchaseOrder] ([po_id], [branchcode], [sup_id], [exc_id], [invoice], [amount], [po_date], [remark], [editing], [inputter], [create_at], [authoriser], [authorize_at]) VALUES (N'PO202511-0014', N'0101', N'S0103', N'010101', NULL, NULL, CAST(N'2025-11-07' AS Date), N'werwer', CAST(N'2025-11-11T10:10:06.800' AS DateTime), N'reanit', CAST(N'2025-11-11T10:10:06.800' AS DateTime), N'PO202511-0014', CAST(N'2025-11-11T10:10:25.670' AS DateTime))
INSERT [dbo].[tblPurchaseOrder] ([po_id], [branchcode], [sup_id], [exc_id], [invoice], [amount], [po_date], [remark], [editing], [inputter], [create_at], [authoriser], [authorize_at]) VALUES (N'PO202511-0016', N'0101', N'S0103', N'010101', NULL, NULL, CAST(N'2025-11-27' AS Date), N'dfsdfsd', CAST(N'2025-11-09T21:17:55.633' AS DateTime), N'reanit', CAST(N'2025-11-09T21:17:55.633' AS DateTime), N'PO202511-0016', CAST(N'2025-11-09T23:16:01.413' AS DateTime))
GO
INSERT [dbo].[tblPurchaseOrderDetail] ([sysdocnum], [po_id], [branchcode], [pro_code], [barcode], [sto_id], [cost], [oth_cost], [qty], [discount], [exp_date], [amount], [oth_amount], [batch_id], [create_at]) VALUES (N'S0211', N'PO202511-0014', N'0101', N'3F86FE', NULL, N'0102-001', 2.0000, 0.0000, 20.0000, 33.0000, CAST(N'2025-12-22' AS Date), 26.8000, 0.0000, N'PO202511-0016A', CAST(N'2025-11-09T16:56:49.780' AS DateTime))
INSERT [dbo].[tblPurchaseOrderDetail] ([sysdocnum], [po_id], [branchcode], [pro_code], [barcode], [sto_id], [cost], [oth_cost], [qty], [discount], [exp_date], [amount], [oth_amount], [batch_id], [create_at]) VALUES (N'S0212', N'PO202511-0010', N'0101', N'3F86FE', NULL, N'0102-001', 2.0000, 0.0000, 2.0000, 30.0000, CAST(N'2025-12-05' AS Date), 2.8000, 0.0000, N'PO202511-0016A', CAST(N'2025-11-09T16:57:26.557' AS DateTime))
INSERT [dbo].[tblPurchaseOrderDetail] ([sysdocnum], [po_id], [branchcode], [pro_code], [barcode], [sto_id], [cost], [oth_cost], [qty], [discount], [exp_date], [amount], [oth_amount], [batch_id], [create_at]) VALUES (N'S0223', N'PO202511-0016', N'0101', N'7FF0AA', NULL, N'0102-001', 2.0000, 1.0000, 1.0000, 10.0000, CAST(N'2025-11-25' AS Date), 1.8000, 0.9000, N'PO202511-0016A', CAST(N'2025-11-09T21:07:41.987' AS DateTime))
GO
INSERT [dbo].[tblRecordID] ([branchcode], [convalue], [recordid], [description], [Auto]) VALUES (N'0101', N'BA', 7, N'BA', NULL)
INSERT [dbo].[tblRecordID] ([branchcode], [convalue], [recordid], [description], [Auto]) VALUES (N'0101', N'BAR', 2, N'BAR', NULL)
INSERT [dbo].[tblRecordID] ([branchcode], [convalue], [recordid], [description], [Auto]) VALUES (N'0101', N'BATCH_PO', 2, N'BATCH_PO', NULL)
GO
INSERT [dbo].[tblReports] ([RptCode], [RptTitle], [RptName], [BranchCode], [Level], [Order], [Active], [Flag]) VALUES (N'01', N'Customer info', N'rpt_customer_info', N'0101', 1, 1, 1, 1)
INSERT [dbo].[tblReports] ([RptCode], [RptTitle], [RptName], [BranchCode], [Level], [Order], [Active], [Flag]) VALUES (N'02', N'Product details', N'rpt_product_details', N'0101', 1, 2, 0, 1)
INSERT [dbo].[tblReports] ([RptCode], [RptTitle], [RptName], [BranchCode], [Level], [Order], [Active], [Flag]) VALUES (N'03', N'POS details', N'rpt_pos_details', N'0101', 2, 3, 0, 1)
GO
INSERT [dbo].[tblStockMenu] ([sto_id], [branchcode], [sto_name], [active], [PO], [POS], [remark], [inputter], [create_at]) VALUES (N'0102-001', N'0101', N'Main Stock', 1, 1, NULL, NULL, N'IT.SYTEM', CAST(N'2022-05-23T22:14:13.850' AS DateTime))
INSERT [dbo].[tblStockMenu] ([sto_id], [branchcode], [sto_name], [active], [PO], [POS], [remark], [inputter], [create_at]) VALUES (N'0102-002', N'0101', N'Sale Stock', 1, NULL, 1, NULL, N'IT.SYTEM', CAST(N'2022-05-23T22:14:13.850' AS DateTime))
GO
INSERT [dbo].[tblSupplies] ([sup_id], [branchcode], [sup_name], [active], [phone], [address], [remark], [inputter], [create_at]) VALUES (N'S0101', N'0101', N'General', 1, N'012888005', N'PP', NULL, N'IT.SYTEM', NULL)
INSERT [dbo].[tblSupplies] ([sup_id], [branchcode], [sup_name], [active], [phone], [address], [remark], [inputter], [create_at]) VALUES (N'S0102', N'0101', N'FaMa', 1, N'012 555 3366', N'PP', NULL, N'IT.SYTEM', NULL)
INSERT [dbo].[tblSupplies] ([sup_id], [branchcode], [sup_name], [active], [phone], [address], [remark], [inputter], [create_at]) VALUES (N'S0103', N'0101', N'Clinic 4s', 1, N'012 888 6662', N'PP', NULL, N'IT.SYTEM', NULL)
GO
INSERT [dbo].[TblTransactions] ([sysdoc], [BranchCode], [stock_code], [pro_code], [barcode], [trans_date], [trans_code], [qty], [qty_balance], [referent], [exp_date], [status], [inputter], [create_at], [authoriser], [authorize_at], [batch_id]) VALUES (N'TRC202511-0207', N'0101', N'0102-001', N'114264', NULL, CAST(N'2025-11-11' AS Date), N'01', 20, 0.0000, N'PO202511-0019', CAST(N'2025-11-26' AS Date), N'po', N'reanit', CAST(N'2025-11-11T11:25:52.427' AS DateTime), NULL, NULL, N'BTC202511-0001')
INSERT [dbo].[TblTransactions] ([sysdoc], [BranchCode], [stock_code], [pro_code], [barcode], [trans_date], [trans_code], [qty], [qty_balance], [referent], [exp_date], [status], [inputter], [create_at], [authoriser], [authorize_at], [batch_id]) VALUES (N'TRC202511-0208', N'0101', N'0102-001', N'7FF0AA', NULL, CAST(N'2025-11-11' AS Date), N'01', 102, 0.0000, N'PO202511-0019', CAST(N'2025-11-26' AS Date), N'po', N'reanit', CAST(N'2025-11-11T11:25:52.427' AS DateTime), NULL, NULL, N'BTC202511-0001')
INSERT [dbo].[TblTransactions] ([sysdoc], [BranchCode], [stock_code], [pro_code], [barcode], [trans_date], [trans_code], [qty], [qty_balance], [referent], [exp_date], [status], [inputter], [create_at], [authoriser], [authorize_at], [batch_id]) VALUES (N'TRC202511-0209', N'0101', N'0102-001', N'C0008', NULL, CAST(N'2025-11-11' AS Date), N'01', 33, 0.0000, N'PO202511-0019', CAST(N'2025-11-26' AS Date), N'po', N'reanit', CAST(N'2025-11-11T11:25:52.427' AS DateTime), NULL, NULL, N'BTC202511-0001')
GO
INSERT [dbo].[tblunaInvoices] ([rcp_num], [branchcode], [cus_id], [rcp_date], [currency], [exchangrate], [amount], [draft], [flag], [referent], [inputter], [create_at], [authoriser], [authorize_at]) VALUES (N'DRA0001', N'0101', N'C0001', CAST(N'2025-11-12' AS Date), N'01', 4250.0000, 0.0000, 1, 0, N'', N'reanit', CAST(N'2025-11-12T23:22:28.830' AS DateTime), NULL, NULL)
INSERT [dbo].[tblunaInvoices] ([rcp_num], [branchcode], [cus_id], [rcp_date], [currency], [exchangrate], [amount], [draft], [flag], [referent], [inputter], [create_at], [authoriser], [authorize_at]) VALUES (N'DRA0002', N'0101', N'C0004', CAST(N'2025-11-14' AS Date), N'01', 4250.0000, 0.0000, 1, 0, N'', N'reanit', CAST(N'2025-11-14T14:52:30.807' AS DateTime), NULL, NULL)
INSERT [dbo].[tblunaInvoices] ([rcp_num], [branchcode], [cus_id], [rcp_date], [currency], [exchangrate], [amount], [draft], [flag], [referent], [inputter], [create_at], [authoriser], [authorize_at]) VALUES (N'DRA0003', N'0101', N'C0004', CAST(N'2025-11-14' AS Date), N'01', 4250.0000, 0.0000, 1, 0, N'', N'reanit', CAST(N'2025-11-14T14:56:33.253' AS DateTime), NULL, NULL)
GO
INSERT [dbo].[tblunaPurchaseOrder] ([po_id], [branchcode], [sup_id], [exc_id], [invoice], [amount], [po_date], [remark], [editing], [inputter], [create_at], [authoriser], [authorize_at]) VALUES (N'PO202511-0030', N'0101', N'S0104', N'010101', NULL, NULL, CAST(N'2025-11-11' AS Date), N'New po', NULL, N'reanit', CAST(N'2025-11-12T15:28:46.947' AS DateTime), NULL, NULL)
GO
INSERT [dbo].[tblunaPurchaseOrderDetail] ([sysdocnum], [po_id], [branchcode], [pro_code], [barcode], [sto_id], [cost], [oth_cost], [qty], [discount], [exp_date], [amount], [oth_amount], [batch_id], [create_at]) VALUES (N'S0273', N'PO202511-0030', N'0101', N'7FD096', NULL, N'0102-001', 1.9900, 0.2600, 10.0000, 0.0000, CAST(N'2025-11-25' AS Date), 19.9000, 2.6000, NULL, CAST(N'2025-11-12T15:30:05.497' AS DateTime))
INSERT [dbo].[tblunaPurchaseOrderDetail] ([sysdocnum], [po_id], [branchcode], [pro_code], [barcode], [sto_id], [cost], [oth_cost], [qty], [discount], [exp_date], [amount], [oth_amount], [batch_id], [create_at]) VALUES (N'S0274', N'PO202511-0030', N'0101', N'7FF0AA', NULL, N'0102-001', 5.6600, 0.0000, 50.0000, 0.0000, CAST(N'2025-11-25' AS Date), 283.0000, 0.0000, NULL, CAST(N'2025-11-12T15:30:17.857' AS DateTime))
INSERT [dbo].[tblunaPurchaseOrderDetail] ([sysdocnum], [po_id], [branchcode], [pro_code], [barcode], [sto_id], [cost], [oth_cost], [qty], [discount], [exp_date], [amount], [oth_amount], [batch_id], [create_at]) VALUES (N'S0275', N'PO202511-0030', N'0101', N'C0008', NULL, N'0102-002', 0.6600, 20.0000, 111.0000, 20.0000, CAST(N'2025-11-30' AS Date), 58.6080, 1776.0000, NULL, CAST(N'2025-11-12T15:30:18.330' AS DateTime))
GO
INSERT [dbo].[tblunaStockOuts] ([sysdoc], [rcp_num], [branchcode], [sto_id], [pro_code], [barcode], [qty], [cost], [unitprice], [discount], [amount], [batch_id], [exp_date], [create_at]) VALUES (N'08EF6CD', N'DRA0035', N'0101', N'0102-002', N'7FF0AA', N'none', 1, 5.6600, 6.0000, 10.0000, 5.4000, NULL, NULL, CAST(N'2025-11-17T15:12:45.110' AS DateTime))
INSERT [dbo].[tblunaStockOuts] ([sysdoc], [rcp_num], [branchcode], [sto_id], [pro_code], [barcode], [qty], [cost], [unitprice], [discount], [amount], [batch_id], [exp_date], [create_at]) VALUES (N'108648C', N'DRA0028', N'0101', N'0102-002', N'C0006', N'none', 1, 3.2200, 6.0000, 10.0000, 5.4000, NULL, NULL, CAST(N'2025-11-17T15:01:42.600' AS DateTime))
INSERT [dbo].[tblunaStockOuts] ([sysdoc], [rcp_num], [branchcode], [sto_id], [pro_code], [barcode], [qty], [cost], [unitprice], [discount], [amount], [batch_id], [exp_date], [create_at]) VALUES (N'10C658A', N'DRA0012', N'0101', N'0102-002', N'3F86FE', N'none', 15, 3.3300, 5.5000, 20.0000, 4.4000, NULL, NULL, CAST(N'2025-11-16T15:19:50.180' AS DateTime))
GO
/****** Object:  StoredProcedure [dbo].[_history_trans]    Script Date: 17/11/2025 8:47:01 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE procedure [dbo].[_history_trans]
	@vStatus		nvarchar(25),
	@vTran_ID		nvarchar(25),
	@vInputter		nvarchar(150)=''
AS
BEGIN
	IF (@vstatus='PO_Reject')BEGIN
		

		INSERT INTO [Hist_tblPurchaseOrder]
           ([po_id]
           ,[branchcode]
           ,[sup_id]
           ,[exc_id]
           ,[invoice]
           ,[amount]
           ,[po_date]
           ,[remark]
           ,[editing]
           ,[inputter]
           ,[create_at]
           ,[authoriser]
           ,[authorize_at]
           ,[Tracker]
           ,[Track_at])

		SELECT [po_id]
           ,[branchcode]
           ,[sup_id]
           ,[exc_id]
           ,[invoice]
           ,[amount]
           ,[po_date]
           ,[remark]
           ,[editing]
           ,[inputter]
           ,[create_at]
           ,[authoriser]
           ,[authorize_at]
           ,@vInputter
           ,GETDATE()
		FROM tblunaPurchaseOrder as a where a.po_id=@vTran_ID

		INSERT INTO [His_tblunaPurchaseOrderDetail]
           ([sysdocnum]
           ,[po_id]
           ,[branchcode]
           ,[pro_code]
           ,[barcode]
           ,[sto_id]
           ,[cost]
           ,[oth_cost]
           ,[qty]
           ,[discount]
           ,[exp_date]
           ,[amount]
           ,[oth_amount]
           ,[batch_id]
           ,[create_at]
           ,[Tracker]
           ,[Track_at])

		SELECT [sysdocnum]
           ,[po_id]
           ,[branchcode]
           ,[pro_code]
           ,[barcode]
           ,[sto_id]
           ,[cost]
           ,[oth_cost]
           ,[qty]
           ,[discount]
           ,[exp_date]
           ,[amount]
           ,[oth_amount]
           ,[batch_id]
           ,[create_at]
           ,@vInputter
           ,GETDATE()
		FROM tblunaPurchaseOrderDetail as a  where a.po_id=@vTran_ID

	 END ;
	 select @vTran_ID as trancode

END
GO
/****** Object:  StoredProcedure [dbo].[pro_get_combo]    Script Date: 17/11/2025 8:47:01 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE procedure [dbo].[pro_get_combo]
	@vstatus		nvarchar(50),
	@vCon1			NVARCHAR(100)=''
AS
BEGIN

	IF (@vstatus='Active')BEGIN

		SELECT DISTINCT 
			   A.con_id AS code,
			   A.con_display AS title
		FROM sysconstants AS A
		WHERE A.con_line='Active'
		ORDER BY code DESC 
	
	END ELSE IF (@vstatus='Gender')BEGIN
		select '' as code , 
			    ' ' as title
		UNION  ALL
		SELECT DISTINCT 
			     A.con_id AS code,
			     A.con_display AS title
		  FROM sysconstants AS A
		  WHERE A.con_line='Gender'
      ORDER BY code  
	END ELSE IF (@vstatus='Line')BEGIN
		select '' as code , 
			    ' ' as title
		UNION  ALL
		SELECT DISTINCT 
			     A.line_id AS code,
			     A.line_name AS title
		  FROM tblLines AS A
		WHERE A.line='type' and a.branchcode=@vCon1

	END ELSE IF (@vstatus='Pack')BEGIN
		select '' as code , 
			    ' ' as title
		UNION  ALL
		SELECT DISTINCT 
			     A.line_id AS code,
			     A.line_name AS title
		  FROM tblLines AS A
		  WHERE A.line='Pack' and a.branchcode=@vCon1

	END ELSE IF (@vstatus='Mol')BEGIN
		select '' as code , 
			    ' ' as title
		UNION  ALL
		SELECT DISTINCT 
			     A.line_id AS code,
			     A.line_name AS title
		  FROM tblLines AS A
		  WHERE A.line='Mol' and a.branchcode=@vCon1
	end  if (@vstatus='stock_menu') begin
			select '' as code , 
			    ' ' as title
		    UNION  ALL
			select a.sto_id as code,
				   a.sto_name as title
			from tblStockMenu as a 
			where a.branchcode=@vCon1 and a.active='1' ;
	END;

END 
GO
/****** Object:  StoredProcedure [dbo].[pro_get_combo_by_branch]    Script Date: 17/11/2025 8:47:01 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE procedure [dbo].[pro_get_combo_by_branch]
	@vstatus		nvarchar(50),
	@vBranchcode	NVARCHAR(100),
	@vCon1			NVARCHAR(100)=''
AS
BEGIN

	IF (@vstatus='Active')BEGIN

		SELECT DISTINCT 
			   A.con_id AS code,
			   A.con_display AS title
		FROM sysconstants AS A
		WHERE A.con_line='Active'
		ORDER BY code DESC 

	END ELSE IF (@vstatus='SupplyActive')BEGIN

		SELECT DISTINCT 
			     A.sup_id AS code,
			     A.sup_name AS title
		  FROM tblSupplies AS A
		WHERE A.branchcode=@vBranchcode and A.active='1'
	END ELSE IF (@vstatus='ProductActive')BEGIN
		
		select DISTINCT
			 A.pro_code AS CODE , 
			 A.pro_name AS title
		from tblProducts AS A 
		WHERE A.branchcode=@vBranchcode and A.active='1' 
		ORDER BY A.pro_code

	END;

END 
GO
/****** Object:  StoredProcedure [dbo].[proc_auth_po]    Script Date: 17/11/2025 8:47:01 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE PROCEDURE [dbo].[proc_auth_po]
	@vCMD		nvarchar(25),
	@vBranchcode	nvarchar(25),
	@vPO_ID			nvarchar(25),
	@vInputter		nvarchar(150)=''

AS
BEGIN
	declare @vbatch_id nvarchar(50)
	IF(@vCMD='PO_Commit')BEGIN

		update a set a.Editing=GETDATE(), a.inputter=@vInputter , a.create_at=GETDATE() from tblunaPurchaseOrder as a where a.branchcode=@vBranchcode and a.po_id=@vPO_ID;
		exec proc_refresh_po @vBranchcode,@vPO_ID

	END ELSE IF(@vCMD='PO_Reject')BEGIN
		EXEC proc_delete_trans  @vCMD,@vBranchcode,@vPO_ID,@vInputter
	END ELSE IF(@vCMD='PO_Auth')BEGIN
		
		IF EXISTS( SELECT A.po_id FROM tblunaPurchaseOrder AS A WHERE A.branchcode=@vBranchcode AND A.po_id=@vPO_ID AND A.editing IS NOT NULL)BEGIN
			
			exec proc_next_id @vbranchcode,'BA','BTC',@vbatch_id out ;
			
			INSERT INTO [tblPurchaseOrder]
			   ([po_id]
			   ,[branchcode]
			   ,[sup_id]
			   ,[exc_id]
			   ,[invoice]
			   ,[amount]
			   ,[po_date]
			   ,[remark]
			   ,[editing]
			   ,[inputter]
			   ,[create_at]
			   ,[authoriser]
			   ,[authorize_at]) 
			   select [po_id]
			   ,[branchcode]
			   ,[sup_id]
			   ,[exc_id]
			   ,[invoice]
			   ,[amount]
			   ,[po_date]
			   ,[remark]
			   ,[editing]
			   ,[inputter]
			   ,[create_at]
			   ,@vInputter
			   ,GETDATE()
			FROM tblunaPurchaseOrder as a where a.branchcode=@vBranchcode and a.po_id=@vPO_ID

			
		INSERT INTO [tblPurchaseOrderDetail]
			   ([sysdocnum]
			   ,[po_id]
			   ,[branchcode]
			   ,[pro_code]
			   ,[barcode]
			   ,[sto_id]
			   ,[cost]
			   ,[oth_cost]
			   ,[qty]
			   ,[discount]
			   ,[exp_date]
			   ,[amount]
			   ,[oth_amount]
			   ,[batch_id]
			   ,[create_at])
			SELECT 
				[sysdocnum]
			   ,[po_id]
			   ,[branchcode]
			   ,[pro_code]
			   ,[barcode]
			   ,[sto_id]
			   ,[cost]
			   ,[oth_cost]
			   ,[qty]
			   ,[discount]
			   ,[exp_date]
			   ,[amount]
			   ,[oth_amount]
			   ,@vbatch_id
			   ,[create_at]
			FROM tblunaPurchaseOrderDetail AS A where a.branchcode=@vBranchcode and a.po_id=@vPO_ID

			DELETE A FROM tblunaPurchaseOrder as a where a.branchcode=@vBranchcode and a.po_id=@vPO_ID
			DELETE A FROM tblunaPurchaseOrderDetail as a where a.branchcode=@vBranchcode and a.po_id=@vPO_ID


			exec proc_submit_transaction 'po',@vBranchcode,@vPO_ID,@vInputter
			-- FOR ALERT MESSAGE TO USER
			SET @vPO_ID =@vbatch_id
		END
			
	END 

	select @vPO_ID as TRANCODE

END 
GO
/****** Object:  StoredProcedure [dbo].[proc_customerinfo]    Script Date: 17/11/2025 8:47:01 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
create procedure [dbo].[proc_customerinfo]
	@vstatus		nvarchar(10),
	@vbranchcode	nvarchar(10),
	@vcus_id		nvarchar(10),
	@vname			nvarchar(250),
	@vgender		nvarchar(20),
	@vactive		nvarchar(20),
	@vphone			nvarchar(20),
	@vinputter		nvarchar(250)
as
begin
	
	if(@vstatus='i')begin
		
		exec proc_next_id @vbranchcode,'customerinfo','1',@vcus_id out ;

		insert into tblCustomers(cus_id,branchcode,cus_name,gender,active,phone,inputter,create_at)
			   values (@vcus_id,@vbranchcode,@vname,@vgender,@vactive,@vphone,@vinputter,GETDATE())
	end else if(@vstatus='u')begin 
		
		update a set 
			   a.cus_name=@vname,
			   a.gender=@vgender,
			   a.active=@vactive,
			   a.phone=@vphone,
			   a.update_at=GETDATE()
		from tblCustomers as a where a.branchcode=@vbranchcode and a.cus_id=@vcus_id


	end 

	select @vcus_id as trancode 

end
GO
/****** Object:  StoredProcedure [dbo].[proc_delete_trans]    Script Date: 17/11/2025 8:47:01 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE procedure [dbo].[proc_delete_trans]
	@vStatus		nvarchar(25),
	@vBranchcode	nvarchar(25),
	@vTran_ID		nvarchar(25),
	@vInputter		nvarchar(150)=''
AS
BEGIN
	IF (@vstatus='PO_D')BEGIN
		
		DELETE a 
		from tblunaPurchaseOrderDetail as a where a.branchcode= @vbranchcode and a.sysdocnum=@vTran_ID
	END ELSE IF (@vstatus='PO_History_D')BEGIN

		DELETE a from tblunaPurchaseOrder as a where a.branchcode= @vbranchcode and a.po_id=@vTran_ID
		DELETE a from tblunaPurchaseOrderDetail as a where a.branchcode= @vbranchcode and a.po_id=@vTran_ID
	END ELSE IF (@vstatus='PO_Reject')BEGIN
		-- Keep history
		EXEC _history_trans @vstatus,@vTran_ID,@vInputter

		DELETE a from tblunaPurchaseOrder as a where a.branchcode= @vbranchcode and a.po_id=@vTran_ID
		DELETE a from tblunaPurchaseOrderDetail as a where a.branchcode= @vbranchcode and a.po_id=@vTran_ID

		return ;
	 END ;
	 select @vTran_ID as trancode

END
GO
/****** Object:  StoredProcedure [dbo].[proc_exchange_rate]    Script Date: 17/11/2025 8:47:01 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE procedure [dbo].[proc_exchange_rate]
	@vstatus		nvarchar(20),
	@vbranchcode	nvarchar(20)
as
begin

	declare @vbestcurrency		nvarchar(20)
	declare @vsecondcurrency	nvarchar(20)
	declare @vbestsymbol		nvarchar(20)
	declare @vsecondsymbol		nvarchar(20)

	declare @vbestexchange		float
	declare @vsecondexchange	float
	declare @vexchangrate		float


	set @vbestcurrency=dbo.fun_currency('bestcurrency',@vbranchcode,'')
	set @vsecondcurrency=dbo.fun_currency('secondcurrency',@vbranchcode,'')

	set @vbestexchange=isnull(dbo.fun_exchangerate('exchange',@vbranchcode,@vbestcurrency,GETDATE()),0)
	set @vsecondexchange=isnull(dbo.fun_exchangerate('exchange',@vbranchcode,@vsecondcurrency,GETDATE()),0)

	set @vbestsymbol=dbo.fun_currency('symbol',@vbranchcode,@vbestcurrency)
	set @vsecondsymbol=dbo.fun_currency('symbol',@vbranchcode,@vsecondcurrency)

	set @vexchangrate = @vbestexchange*@vsecondexchange




	select @vbestcurrency	as bestcurrency,
		   @vsecondcurrency as secondcurrency,
		   @vbestsymbol		as bestsymbol,
		   @vsecondsymbol	as secondsymbol,
		   @vbestexchange	as bestexchange,
		   @vsecondexchange as secondcurrency,
		   @vexchangrate as exchange_rate,
		   (convert(nvarchar(20),@vbestexchange) + @vbestsymbol+ ' = ' +  CAST(@vsecondexchange AS nvarchar(20))+@vsecondsymbol)  as exchangeinfo



end
GO
/****** Object:  StoredProcedure [dbo].[proc_get_constants]    Script Date: 17/11/2025 8:47:01 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
create PROCEDURE [dbo].[proc_get_constants]
	@vline nvarchar(50)
AS
BEGIN
	select	convert(nvarchar(50),'') as code , 
			convert(nvarchar(50),'choose option') as name 
	union all 
	select	convert(nvarchar(50),a.con_id) as code , 
			convert(nvarchar(50),a.con_display) as name  
	from sysConstants as a where a.disable='0' and a.con_line=@vline
	order by code;

END
GO
/****** Object:  StoredProcedure [dbo].[proc_get_isok]    Script Date: 17/11/2025 8:47:01 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE procedure [dbo].[proc_get_isok]
	@vstatus		nvarchar(50),
	@vbranchcode	nvarchar(10),
	@vcode1			nvarchar(50)
as
begin

	DECLARE @vMsg nvarchar(350)

	IF (@vstatus='ch_pos') AND exists( SELECT a.po_id FROM tblunaPurchaseOrder AS A WHERE A.branchcode=@vbranchcode AND A.po_id =@vcode1 AND A.Editing IS NULL)BEGIN

		SET @vMsg = 'Purcahse order in process can not authorize';

	END ELSE BEGIN
		SET @vMsg=NULL
	END 

	SELECT @vMsg AS Msg

end 
GO
/****** Object:  StoredProcedure [dbo].[proc_get_pos_isok]    Script Date: 17/11/2025 8:47:01 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
create procedure [dbo].[proc_get_pos_isok]
	@vstatus		nvarchar(50),
	@vbranchcode	nvarchar(10),
	@vcode1			nvarchar(50)
as
begin

	DECLARE @vMsg nvarchar(350)
	DECLARE @vsto_id nvarchar(25)

	IF (@vstatus='ch_pos_batch')BEGIN

		SET @vMsg = 'Purcahse order in process can not authorize';

	END ELSE BEGIN
		SET @vMsg=NULL
	END 

	SELECT @vMsg AS Msg

end 
GO
/****** Object:  StoredProcedure [dbo].[proc_get_sql]    Script Date: 17/11/2025 8:47:01 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE procedure [dbo].[proc_get_sql]
	@vstatus		nvarchar(50),
	@vbranchcode	nvarchar(10),
	@vcode1			nvarchar(50)='',
	@vcode2			nvarchar(50)=''
as
begin
	
	if(@vcode1='0000')begin
		 set @vcode1='%'
	end 

	if (@vstatus='show_customer') begin

		select  distinct 
			   a.cus_id ,
			   a.cus_name,
			   a.phone,
			   a.remark,
			   a.address,
			   a.gender,
			   isnull(a.address,'') as address,
			   convert(nvarchar(50),a.active) as active
		from tblCustomers as a
		inner join sysconstants as b on a.active=b.con_id and b.con_line='active'
		where a.branchcode=@vbranchcode and a.cus_id=@vcode1
		order by a.cus_id
	end  if (@vstatus='show_product') begin
		
			select a.pro_code,
				   a.barcode,
				   a.line_id,
				   a.mol_id,
				   a.pack_id,
				   a.pro_name,
				   convert(nvarchar(50),a.active) as active,
				   a.cost,
				   a.cost_tax,
				   a.unitprice,
				   a.discount,
				   a.remark,
				   a.inputter,
				   a.create_at
			from tblProducts as a 
			where a.BranchCode=@vbranchcode and a.pro_code=@vcode1

	end  if (@vstatus='show_po_history') begin
		select distinct 
			   a.po_id,
			   a.sup_id,
			   b.sup_name,
			   b.phone,
			   c.sysdocnum,
			   (ISNULL(a.po_id,'')+ ': '+ b.sup_name +' :'+ isnull(b.phone,'') ) as info
		from tblunaPurchaseOrder as a 
		inner join tblSupplies as b on a.branchcode=b.branchcode and a.sup_id=b.sup_id
		left join tblunaPurchaseOrderDetail as c on a.branchcode = c.branchcode and a.po_id=c.po_id
		where a.branchcode=@vbranchcode and a.po_id=@vcode1

	end  if (@vstatus='show_po_una_list') begin
		
		select distinct 
			   a.po_id,
			   a.branchcode,
			   a.inputter,
			   b.sysdocnum,
			   b.pro_code,
			   p.pro_name,
			   p.barcode,
			   isnull(b.qty,0) as qty,
			   isnull(b.cost,0) as cost,
			   isnull(b.oth_cost,0) as oth_cost,
			   isnull(b.discount,0) as discount,
			   b.amount,
			   b.oth_amount,
			   b.sto_id,
			   convert(nvarchar(50),b.exp_date,103) as exp_date
		from tblunaPurchaseOrder as a 
		inner join tblunaPurchaseOrderDetail as b on a.po_id=b.po_id and a.branchcode=b.branchcode
		inner join tblProducts as p on b.pro_code=p.pro_code and b.branchcode=p.branchcode
		where a.branchcode=@vbranchcode and a.po_id=@vcode1
		order by a.po_id,b.sysdocnum
		 
	end  if (@vstatus='UNA_PO_Edit_Expired') begin
		select top 1 a.exp_date from tblunaPurchaseOrderDetail as a where a.branchcode= @vbranchcode and a.sysdocnum=@vcode1

	end  if (@vstatus='UNA_PO_Sub') begin
		select distinct 
			   a.po_id,
			   s.sup_name,
			   a.remark,
			   a.inputter, 
			   b.sysdocnum,
			   p.pro_name,
			   isnull(b.qty,0) as qty,
			   isnull(b.cost,0) as cost,
			   isnull(b.oth_cost,0) as oth_cost,
			   isnull(b.discount,0) as discount,
			   b.amount,
			   dbo.fun_stock('stock_name',a.branchcode,b.sto_id) as stock_name,
			   convert(nvarchar(50),b.exp_date,103) as exp_date
		from tblunaPurchaseOrder as a 
		inner join tblunaPurchaseOrderDetail as b on a.po_id=b.po_id and a.branchcode=b.branchcode
		inner join tblProducts as p on b.pro_code=p.pro_code and b.branchcode=p.branchcode
		inner join tblSupplies as s on a.branchcode=s.branchcode and a.sup_id=s.sup_id
		where a.branchcode=@vbranchcode and a.po_id=@vcode1
		order by a.po_id,b.sysdocnum

	
	end


	

end
GO
/****** Object:  StoredProcedure [dbo].[proc_get_sql_pos]    Script Date: 17/11/2025 8:47:01 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE procedure [dbo].[proc_get_sql_pos]
	@vstatus		nvarchar(50),
	@vbranchcode	nvarchar(10),
	@vcode1			nvarchar(50),
	@vInputter		nvarchar(50)=''
AS
BEGIN

	IF (@vstatus='pos_product') BEGIN
		select	convert(nvarchar(50),'') as code , 
				convert(nvarchar(50),'choose option') as name 
				union all  
		select a.pro_code, 
			   a.pro_name
		from tblProducts as a 
		where a.BranchCode=@vbranchcode and convert(nvarchar(10),a.active)='1' and CONVERT(DATE,ISNULL(update_at,GETDATE()))>=DBO.fun_use_date()
		order by code

	end  if (@vstatus='pos_customer') begin
		SELECT DISTINCT 
			  A.cus_id AS CODE , 
			  A.cus_name AS NAME
		FROM tblCustomers AS A 
		WHERE A.BranchCode=@vbranchcode AND active='1'
		ORDER BY A.cus_id
	end  if (@vstatus='stock_menu') begin
		select '' as code , 
			    ' ' as NAME
		    UNION  ALL
			select a.sto_id as code,
				   a.sto_name as NAME
			from tblStockMenu as a 
			where a.branchcode=@vbranchcode and a.active='1' ;
	end else if (@vstatus='pos_una_list') begin	
		SELECT A.rcp_num,
			   A.cus_id,
			   A.rcp_date,
			   B.pro_code,
			   B.barcode,
			   P.pro_name,
			   A.exchangrate,
			   B.sysdoc,
			   B.sto_id,
			   B.cost,
			   B.unitprice,
			   B.discount,
			   B.qty,
			   B.amount,
			   A.inputter,
			   case when b.batch_id is null then '' else b.batch_id end as batch_id 
		FROM tblunaInvoices AS A
		INNER JOIN tblunaStockOuts AS B ON A.BranchCode=B.BranchCode AND A.rcp_num=B.rcp_num
		INNER JOIN tblProducts AS P ON B.BranchCode=P.BranchCode AND B.pro_code=P.pro_code
		WHERE A.BranchCode=@vbranchcode AND A.rcp_num=@vcode1
		ORDER BY B.create_at
	end else if (@vstatus='pos_batchID') begin	

		SELECT TOP 1 
			   A.rcp_num,
			   A.cus_id,
			   A.rcp_date,
			   B.pro_code,
			   B.barcode,
			   P.pro_name,
			   A.exchangrate,
			   B.sysdoc,
			   B.sto_id,
			   B.cost,
			   B.unitprice,
			   B.discount,
			   B.qty,
			   B.amount,
			   A.inputter,
			   case when b.batch_id is null then '' else b.batch_id end as batch_id 
		FROM tblunaInvoices AS A
		INNER JOIN tblunaStockOuts AS B ON A.BranchCode=B.BranchCode AND A.rcp_num=B.rcp_num
		INNER JOIN tblProducts AS P ON B.BranchCode=P.BranchCode AND B.pro_code=P.pro_code
		WHERE A.BranchCode=@vbranchcode AND b.sysdoc=@vcode1
	end


	

end
GO
/****** Object:  StoredProcedure [dbo].[proc_get_sql_search]    Script Date: 17/11/2025 8:47:01 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE procedure [dbo].[proc_get_sql_search]
	@vstatus		nvarchar(50),
	@vbranchcode	nvarchar(10),
	@vcode1			nvarchar(50)='',
	@vcode2			nvarchar(50)=''
as
begin
	
	if(@vcode1='0000')begin
		 set @vcode1='%'
	end 

	if (@vstatus='search_customer') begin

		select  distinct top 100
			   a.cus_id ,
			   a.cus_name,
			   a.phone,
			   case when a.active='1' then 'Yes' else 'No' end as Active
		from tblCustomers as a
		inner join sysconstants as b on a.active=b.con_id and b.con_line='active'
		where a.branchcode=@vbranchcode and (a.cus_id like '%'+ @vcode1+'%' or a.cus_name like @vcode1+'%' or a.cus_name like '%'+ @vcode1+'%'  or a.phone like '%'+ @vcode1+'%' )
		order by a.cus_id
	
	end if (@vstatus='search_product') begin 

		select a.pro_code,
			   a.branchcode,
			   a.cost,
			   a.barcode,
			   a.pro_name,
			   b.line_name as line_name,
			   c.line_name as Molecule,
			   d.line_name as Packing,
			   case when a.active='1' then 'Yes' else 'No' end as Active

		from  tblProducts as a 
		inner join tblLines as b on a.branchcode=b.branchcode and a.line_id=b.line_id
		inner join tblLines as c on a.branchcode=c.branchcode and a.mol_id=c.line_id
		inner join tblLines as d on a.branchcode=d.branchcode and a.pack_id=d.line_id
		where a.branchcode=@vbranchcode and (a.pro_name like '%'+ @vcode1+'%' or b.line_name like '%'+ @vcode1+'%' or c.line_name like '%'+ @vcode1+'%' or d.line_name like '%'+ @vcode1+'%'  )
	end if (@vstatus='search_po_history') begin 
		
		select distinct 
			   a.po_id,
			   a.branchcode,
			   convert(nvarchar(25),a.po_date,103) as po_date ,
			   a.sup_id,
			   b.sup_name,
			   b.phone,
			   a.create_at,
			   a.remark,
			   case when c.po_id is null then 'New' 
					when a.editing is not null then 'Waiting Authorize' else 'In progress' end status
		from tblunaPurchaseOrder as a 
		inner join tblSupplies as b on a.branchcode=b.branchcode and a.sup_id=b.sup_id
		left join tblunaPurchaseOrderDetail as c on a.branchcode = c.branchcode and a.po_id=c.po_id
		where a.branchcode=@vbranchcode
		order by a.create_at desc
	end if (@vstatus='view_po_una') begin 
		
		select distinct 
			   a.po_id,
			   a.sup_id,
			   b.sup_name,
			   a.remark,
			   a.create_at
		from tblunaPurchaseOrder as a 
		inner join tblSupplies as b on a.branchcode=b.branchcode and a.sup_id=b.sup_id
		where a.branchcode=@vbranchcode and a.Editing is not null and (a.po_id like '%'+@vcode1+'%' or b.sup_name like  @vcode1+'%') and a.Editing is not null 
		order by a.create_at desc

	end


end
GO
/****** Object:  StoredProcedure [dbo].[proc_next_id]    Script Date: 17/11/2025 8:47:01 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE PROCEDURE [dbo].[proc_next_id]
	@vbranchcode nvarchar(10),
	@vcolumns	nvarchar(50),
	@vlevels	nvarchar(50),
	@vcode		nvarchar(100) OUTPUT 
AS
BEGIN
	
	declare @vsequence	NVARCHAR(100)
	declare @vtype		NVARCHAR(100)
	declare @vsql		NVARCHAR(250)
	declare @retval		int   
	declare @ParmDefinition nvarchar(500);
	declare @vMinlength	int =4
	declare @vMaxlength	int =8


	set		@vcolumns=UPPER(ISNULL(@vcolumns,''))
	select	@vsql = N'select @retvalOUT = MAX(ISNULL(recordid,0)) from tblrecordid where  branchcode=''' + @vbranchcode+ ''' and convalue='''+ @vcolumns + '''';  
	set		@ParmDefinition = N'@retvalOUT int OUTPUT';
		
	IF NOT EXISTS ( SELECT BRANCHCODE FROM tblrecordid WHERE branchcode=@vbranchcode AND convalue=@vcolumns)BEGIN
		SELECT @vbranchcode AS BranchCode ,@vcolumns AS ConValue,'' AS recordid,@vcolumns AS [Description] INTO #tmpData  
		INSERT INTO tblrecordid (branchcode,convalue,recordid,description) SELECT * FROM #tmpData
	END

	EXEC sp_executesql @vsql, @ParmDefinition, @retvalOUT=@retval OUTPUT;
	SET   @vsequence= @retval+1;
	SET   @vsql = ' UPDATE tblrecordid SET recordid= ' + @vsequence +'  WHERE convalue='''+ @vcolumns + ''' AND branchcode= '''+@vbranchcode+'''' ;  
	Exec (@vsql)

	IF (@vlevels='branchcode')BEGIN
		SET   @vcode = REPLICATE(0,4-LEN(@vsequence)) + @vsequence;
	END ELSE IF (@vlevels='0')BEGIN
		---	0235
		SET   @vcode = ISNULL(@vcolumns,'NONE')+RIGHT(Convert(NVARCHAR(10),datepart(yyyy, getdate())),4)+RIGHT(Convert(NVARCHAR(10),datepart(MM, getdate())),2)+'-'+REPLICATE(0,@vMinlength-LEN(@vsequence)) + @vsequence;
	END ELSE IF (@vlevels='1')BEGIN
		--- 1010-0234
		SET   @vcode = @vbranchcode+'-'+ REPLICATE(0,@vMinlength-LEN(@vsequence)) + @vsequence;
	END ELSE IF (@vlevels='2')BEGIN
		SET   @vcode = ISNULL(LEFT(@vcolumns,3),'N')+REPLICATE(0,@vMinlength-LEN(@vsequence)) + @vsequence;
	END ELSE IF (@vlevels='3')BEGIN
		SET   @vcode = ISNULL(LEFT(@vcolumns,1),'N')+REPLICATE(0,@vMinlength-LEN(@vsequence)) + @vsequence;
	END ELSE IF (@vlevels='9')BEGIN
		--- 2021115-00000232
		SET   @vcode =RIGHT(Convert(NVARCHAR(10),datepart(yyyy, getdate())),4)+RIGHT(Convert(NVARCHAR(10),datepart(MM, getdate())),2)+RIGHT(Convert(NVARCHAR(10),datepart(DD, getdate())),2)+'-'+ CONVERT(NVARCHAR(100),ISNULL(REPLICATE(0,@vMaxlength-LEN(@vsequence)),'') + @vsequence)
	END ELSE IF (@vlevels='BTC')BEGIN
		SET   @vcode = ISNULL(@vcolumns,'NONE')+RIGHT(Convert(NVARCHAR(10),datepart(yyyy, getdate())),4)+RIGHT(Convert(NVARCHAR(10),datepart(MM, getdate())),2)+'-'+REPLICATE(0,@vMinlength-LEN(@vsequence)) + @vsequence;
	END
END
GO
/****** Object:  StoredProcedure [dbo].[proc_po_add_list]    Script Date: 17/11/2025 8:47:01 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE procedure [dbo].[proc_po_add_list] 
	@vCMD			    NVARCHAR(25),
	@vPO_ID				NVARCHAR(25),
	@vBranchcode		NVARCHAR(25),
	@vPro_ID			NVARCHAR(25),
	@vExpired_date		Date,
	@vInputter			NVARCHAR(150)
as
begin

	declare @vsysdocnum NVARCHAR(50);
	declare @vSto_ID	NVARCHAR(50);
	declare @vcost money;
	
	SET @vcost=dbo.fun_products('cost',@vBranchcode,@vPro_ID);
	SET @vSto_ID=dbo.fun_stock('po_stock',@vBranchcode,@vPro_ID);

	IF(@vCMD='I')BEGIN
		
     EXEC proc_next_id @vbranchcode,'sysdocnum','3',@vsysdocnum out ;

	INSERT INTO [dbo].[tblunaPurchaseOrderDetail]
           ([sysdocnum]
           ,[po_id]
           ,[branchcode]
           ,[pro_code]
		   ,[cost]
           ,[qty]
           ,[amount]
           ,[oth_amount]
		   ,[sto_id]
		   ,[exp_date]
		   ,[create_at]
		   ) values (@vsysdocnum,@vPO_ID,@vBranchcode,@vPro_ID,@vcost,1,0,0,@vSto_ID,@vExpired_date,GETDATE());

		--- check while editing PurchaseOrderDetail
		update a set a.Editing=null from tblunaPurchaseOrder as a inner join tblunaPurchaseOrderDetail as b on a.branchcode=b.branchcode and a.po_id=b.po_id where b.branchcode= @vbranchcode and b.sysdocnum=@vSysDocNum

	END ELSE IF(@vCMD='U')BEGIN
		 select @vsysdocnum
	END
	SELECT @vsysdocnum AS TRANCODE
end
GO
/****** Object:  StoredProcedure [dbo].[proc_po_edit_list]    Script Date: 17/11/2025 8:47:01 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE procedure [dbo].[proc_po_edit_list] 
	@vCMD			    NVARCHAR(25),
	@vSysDoc			NVARCHAR(25),
	@vBranchcode		NVARCHAR(25),
	@vsto_ID			NVARCHAR(25),
	@vcost				money,
	@vother_cost		money,
	@vdis				money,
	@vqty				money
as
begin

	declare @vsysdocnum NVARCHAR(50);
	declare @vPO_ID		NVARCHAR(50);
	IF(@vCMD='PO_Edit')BEGIN
		set @vPO_ID = (select top 1 a.po_id from tblunaPurchaseOrderDetail as a where a.branchcode=@vBranchcode and a.sysdocnum=@vSysDoc)

		update a set 
			 a.cost=@vcost,
			 a.oth_cost=@vother_cost,
			 a.qty=@vqty,
			 a.discount=@vdis,
			 a.sto_id=@vsto_ID
		from tblunaPurchaseOrderDetail as a where a.branchcode=@vBranchcode and a.sysdocnum=@vSysDoc
		update a set a.Editing=null from tblunaPurchaseOrder as a where a.branchcode=@vBranchcode and a.po_id=@vPO_ID

		exec proc_refresh_po @vBranchcode,@vPO_ID

	END
	SELECT @vsysdocnum AS TRANCODE
end
GO
/****** Object:  StoredProcedure [dbo].[proc_ref_amount_invoice]    Script Date: 17/11/2025 8:47:01 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE procedure [dbo].[proc_ref_amount_invoice] 
	@vbranchcode	nvarchar(10),
	@vrcp_num		nvarchar(20)
AS 
BEGIN

	DECLARE @vExchange			money
	DECLARE @vStockMain			nvarchar(20)
	DECLARE @vbestcurrency		nvarchar(20)
	DECLARE @vsecondcurrency	nvarchar(20)
	SET @vStockMain=dbo.fun_stock ('beststock',@vbranchcode,'') 
	SET @vbestcurrency=DBO.fun_currency('bestcurrency',@vbranchcode,'')
	SET @vsecondcurrency=DBO.fun_currency('secondcurrency',@vbranchcode,'')
	SET @vExchange=DBO.fun_exchangerate('exchange',@vbranchcode,@vsecondcurrency,GETDATE())
	
	UPDATE A SET 
			A.amount=DBO.fun_amount('t_amount',@vbranchcode,@vrcp_num,''),
			A.create_at=GETDATE(),
			A.exchangrate=@vExchange,
			A.currency=@vbestcurrency
	 FROM tblunaInvoices AS A 
	 WHERE A.BranchCode=@vbranchcode AND A.rcp_num=@vrcp_num
	
END
GO
/****** Object:  StoredProcedure [dbo].[proc_ref_transactions]    Script Date: 17/11/2025 8:47:01 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
create procedure [dbo].[proc_ref_transactions] 
	@vbranchcode	nvarchar(20),
	@vstock_code	nvarchar(20),
	@vpro_code		nvarchar(20),
	@vdate			DATE
AS 
BEGIN
	
	
	SELECT A.sysdoc,
		   A.BranchCode,
		   A.stock_code,
		   A.pro_code,
		   A.trans_code,
		   A.trans_date,
		   A.qty,
		   A.qty_balance,
		   A.create_at
	INTO #tmpTrans
	FROM TblTransactions AS A
	WHERE A.BranchCode=@vbranchcode and 
		  A.stock_code=@vstock_code and 
		  CONVERT(DATE,trans_date)>=@vdate and 
		  A.pro_code=@vpro_code
	ORDER BY create_at
	
	------------------------------------------------------
	DECLARE @vSTOCK		nvarchar(20)
	DECLARE @vSysDoc	nvarchar(20)
	DECLARE @vPro_id	nvarchar(20)
	DECLARE @vtran_date	DATE
	DECLARE @vQty		Money
	DECLARE @vT_qty		Money =0 
	
	SET @vT_qty= DBO.fun_qty_balance(@vbranchcode,@vstock_code,@vpro_code,@vdate)
	DECLARE r_cur CURSOR
	FOR
		SELECT a.stock_code,a.pro_code,a.sysdoc,A.trans_date,A.qty
		FROM #tmpTrans as a
	OPEN r_cur

	FETCH NEXT FROM r_cur INTO @vSTOCK,@vPro_id,@vSysDoc,@vtran_date,@vQty
	WHILE @@FETCH_STATUS = 0 BEGIN

		 SET @vT_qty=@vT_qty+@vQty
		 
		 UPDATE A SET A.qty_balance=@vT_qty
		 FROM TblTransactions AS A WHERE A.sysdoc=@vSysDoc AND A.stock_code=@vSTOCK
		 
	FETCH NEXT FROM r_cur INTO @vSTOCK,@vPro_id,@vSysDoc,@vtran_date,@vQty
	END
	CLOSE r_cur
	DEALLOCATE r_cur
	
	
	--- proc_ref_transactions '0102','0102-002','0102-0001','2022-05-25'
	--- proc_ref_transactions '0102','0102-002','','2022-05-25'
END
GO
/****** Object:  StoredProcedure [dbo].[proc_refresh_po]    Script Date: 17/11/2025 8:47:01 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE procedure [dbo].[proc_refresh_po] 
	@vbranchcode	nvarchar(20),
	@vpo_code	nvarchar(20)
AS 
BEGIN
	

	------------------------------------------------------
	DECLARE @vsto_ID	nvarchar(20)
	DECLARE @vSysDoc	nvarchar(20)
	DECLARE @vPO_ID	    nvarchar(20)
	DECLARE @vQty		Money
	DECLARE @vCost		Money =0 
	DECLARE @vOtherCost	Money =0 
	DECLARE @vAmount	Money =0 
	DECLARE @vTotal		Money =0 
	DECLARE @vDiscount	Money =0 
	DECLARE @vOtherTotal		Money =0 



	if exists (select a.po_id from tblunaPurchaseOrderDetail as a where a.branchcode=@vbranchcode and a.po_id=@vpo_code) begin
		
		select  a.po_id,
			    a.sysdocnum,
				a.cost,
				isnull(a.oth_cost,0) as oth_cost,
				isnull(a.qty,0) as qty,
				isnull(a.discount,0) as discount
		into #tmpunaPurchaseOrderDetail
		from tblunaPurchaseOrderDetail as a where a.branchcode=@vbranchcode and a.po_id=@vpo_code
		
		DECLARE r_cur CURSOR
		FOR
			SELECT a.po_id,
			    a.sysdocnum,
				a.cost,
				isnull(a.oth_cost,0) as oth_cost,
				isnull(a.qty,0) as qty,
				isnull(a.discount,0) as discount
			FROM #tmpunaPurchaseOrderDetail as a
		OPEN r_cur

		FETCH NEXT FROM r_cur INTO @vPO_ID,@vSysDoc,@vCost,@vOtherCost,@vQty,@vDiscount
		WHILE @@FETCH_STATUS = 0 BEGIN

			 SET @vAmount=@vCost*@vQty
			 SET @vTotal = (@vAmount-(@vAmount*@vDiscount/100))

			SET @vAmount=@vOtherCost*@vQty
			SET @vOtherTotal = (@vAmount-(@vAmount*@vDiscount/100))

			
			 UPDATE A SET A.amount=@vTotal , a.oth_amount=@vOtherTotal
			 FROM tblunaPurchaseOrderDetail AS A WHERE A.sysdocnum=@vSysDoc AND A.branchcode=@vbranchcode

		 
		FETCH NEXT FROM r_cur INTO @vPO_ID,@vSysDoc,@vCost,@vOtherCost,@vQty,@vDiscount
		END
		CLOSE r_cur
		DEALLOCATE r_cur
	end
 
	
	
	
	--- proc_ref_transactions '0102','0102-002','0102-0001','2022-05-25'
	--- proc_ref_transactions '0102','0102-002','','2022-05-25'
END
GO
/****** Object:  StoredProcedure [dbo].[proc_reg_draft]    Script Date: 17/11/2025 8:47:01 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
 
CREATE procedure [dbo].[proc_reg_draft]
	@vstatus		nvarchar(50),
	@vbranchcode	nvarchar(10),
	@vDraftId		nvarchar(20),
	@vCusId			nvarchar(20),
	@vFlag			nvarchar(20),
	@vInputter		nvarchar(250)='',
	@vReferent		nvarchar(50)=''
	
as
begin

	DECLARE @vExchange			money
	DECLARE @vStockMain			nvarchar(20)
	DECLARE @vbestcurrency		nvarchar(20)
	DECLARE @vsecondcurrency	nvarchar(20)
	SET @vStockMain=dbo.fun_stock ('beststock',@vbranchcode,'') 
	SET @vbestcurrency=DBO.fun_currency('bestcurrency',@vbranchcode,'')
	SET @vsecondcurrency=DBO.fun_currency('secondcurrency',@vbranchcode,'')
	SET @vExchange=DBO.fun_exchangerate('exchange',@vbranchcode,@vsecondcurrency,GETDATE())
	
	if (@vstatus='pos_draft' and isnull(@vDraftId,'')='') begin
		 exec proc_next_id @vbranchcode,'DraftInvoice','2',@vDraftId out ;
		 
		 insert into tblunaInvoices (rcp_num,BranchCode,cus_id,rcp_date,flag,currency,exchangrate,amount,draft,inputter,create_at,referent)
						values (@vDraftId,@vbranchcode,@vCusId,GETDATE(),@vFlag,@vbestcurrency,@vExchange,0,1,@vInputter,GETDATE(),@vReferent)
	end
	
	select @vDraftId as trancode
end 
GO
/****** Object:  StoredProcedure [dbo].[proc_reg_draft_trans]    Script Date: 17/11/2025 8:47:01 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
 

CREATE procedure [dbo].[proc_reg_draft_trans]
	@vstatus		nvarchar(50),
	@vbranchcode	nvarchar(10),
	@vDraftId		nvarchar(20),
	@vProId			nvarchar(20)
as
begin
	DECLARE @vSysNum			nvarchar(20)
	DECLARE @vbarcode			nvarchar(20)
	DECLARE @vCost				money
	DECLARE @vPrice				money
	DECLARE @vDiscount			money
	DECLARE @vAmount			money
	DECLARE @vStockMain			nvarchar(20)
	
	SET @vStockMain=dbo.fun_stock ('beststock',@vbranchcode,'') 
	SET @vCost=DBO.fun_amount('cost',@vbranchcode,@vProId,'')
	SET @vPrice=DBO.fun_amount('price',@vbranchcode,@vProId,'')
	SET @vDiscount=DBO.fun_amount('discount',@vbranchcode,@vProId,'')
	SET @vbarcode=DBO.fun_sql('barcode',@vbranchcode,@vProId,'')
	
	if (@vstatus='pos_product') begin
		
		SET @vAmount=(@vPrice*1)-(((@vPrice*1)*@vDiscount)/100)
		SET @vSysNum = LEFT(NEWID(),7) 
		insert into tblunaStockOuts(sysdoc,rcp_num,BranchCode,sto_id,pro_code,barcode,qty,cost,unitprice,discount,amount,create_at)
			values (@vSysNum,@vDraftId,@vbranchcode,@vStockMain,@vProId,@vbarcode,1,@vCost,@vPrice,@vDiscount,@vAmount,GETDATE())
			
		
		EXEC proc_ref_amount_invoice @vbranchcode,@vDraftId
		
	end
	
	select @vDraftId as trancode
end 
GO
/****** Object:  StoredProcedure [dbo].[proc_register_customer]    Script Date: 17/11/2025 8:47:01 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE procedure [dbo].[proc_register_customer] 
	@vCMD			    NVARCHAR(10),
	@vCus_ID			NVARCHAR(10),
	@vBranchcode		NVARCHAR(10),
	@vName				NVARCHAR(250),
	@vGender			NVARCHAR(50),
	@vActive			BIT,
	@vPhone				NVARCHAR(250),
	@vAddress			NVARCHAR(250),
	@vRemark			NVARCHAR(250),
	@vInputter			NVARCHAR(150)

as
begin

	IF(@vCMD='I')BEGIN
		
     EXEC proc_next_id @vbranchcode,'customer','3',@vCus_ID out ;
		
   INSERT INTO [tblCustomers]
           ([cus_id]
           ,[BranchCode]
           ,[cus_name]
           ,[gender]
           ,[phone]
           ,[active]
		   ,[address]
           ,remark
           ,[inputter]
           ,create_at) values (@vCus_ID,@vBranchcode,@vName,@vGender,@vPhone,@vActive,@vAddress,@vRemark,@vInputter,GETDATE())

	END ELSE IF(@vCMD='U')BEGIN
		 update a set 
            a.cus_name=@vName,
            a.phone=@vPhone,
            a.remark=@vRemark,
            a.gender=@vGender,
            a.active=@vActive,
			a.[address]=@vAddress,
            a.inputter=@vInputter,
            a.update_at=GETDATE()
     from [tblCustomers] as a 
     where a.branchcode=@vBranchcode and a.cus_id=@vCus_ID
	END
	SELECT @vCus_ID AS TRANCODE
end
GO
/****** Object:  StoredProcedure [dbo].[proc_register_po]    Script Date: 17/11/2025 8:47:01 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE procedure [dbo].[proc_register_po]
	@vCMD			nvarchar(20),
	@vpo_id			nvarchar(20),
	@vBranchCode	nvarchar(20),
	@vsup_id		nvarchar(20),
	@vpo_date			date,
	@vremark		nvarchar(250),
	@vinputter		nvarchar(20)
as
begin

	IF(@vCMD='I')begin 

		EXEC proc_next_id @vbranchcode,'PO','0',@vpo_id out ;

		INSERT INTO [dbo].[tblUNAPurchaseOrder]
           ([po_id]
           ,branchcode
           ,[sup_id]
           ,[exc_id]
           ,[po_date]
		   ,[remark]
           ,[inputter]
           ,[create_at]
		   )
			 VALUES (@vpo_id,@vBranchCode,@vsup_id,'010101',@vpo_date,@vremark,@vinputter,GETDATE())
	end else if(@vCMD='U')begin 
		
		update a set 
			a.[sup_id]=@vsup_id,
			a.[po_date]=@vpo_date,
			a.remark=@vremark,
			a.inputter=@vinputter
		from [tblUNAPurchaseOrder] as a where a.branchcode=@vBranchCode and a.[po_id]=@vpo_id
	end ;

	select @vpo_id as trancode ;

 --- proc_register_product 'I'
end
GO
/****** Object:  StoredProcedure [dbo].[proc_register_product]    Script Date: 17/11/2025 8:47:01 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE procedure [dbo].[proc_register_product]
	@vCMD			nvarchar(20),
	@vpro_code		nvarchar(20),
	@vbarcode		nvarchar(100),
	@vBranchCode	nvarchar(20),
	@vpro_name		nvarchar(20),
	@vactive		bit,
	@vcost			money,
	@vunitprice		money,
	@vdiscount		money,
	@vremark		nvarchar(250),
	@vline_id		nvarchar(20),
	@vMol_id		nvarchar(20),
	@vPack_id		nvarchar(20),
	@vinputter		nvarchar(20)
as
begin

	if(@vCMD='I')begin 

			EXEC proc_next_id @vbranchcode,'PRO','0',@vpro_code out ;
			EXEC proc_next_id @vbranchcode,'BAR','1',@vbarcode out ;

			INSERT INTO [tblProducts]
				   ([pro_code]
				   ,[barcode]
				   ,[BranchCode]
				   ,[pro_name]
				   ,[active]
				   ,[cost]
				   ,[unitprice]
				   ,[discount]
				   ,[remark]
				   ,[line_id]
				   ,[mol_id]
				   ,[pack_id]
				   ,[create_at]
				   ,[inputter])
			 VALUES (@vpro_code,@vbarcode,@vBranchCode,@vpro_name,@vactive,@vcost,@vunitprice,@vdiscount,@vremark,@vline_id,@vMol_id,@vPack_id,GETDATE(),@vinputter)
	end else if(@vCMD='U')begin 
		
		update a set 
			a.pro_name=@vpro_name,
			a.active=@vactive,
			a.update_at=GETDATE(),
			a.cost=@vcost,
			a.unitprice=@vunitprice,
			a.discount=@vdiscount,
			a.remark=@vremark,
			a.[line_id]=@vline_id,
			a.[mol_id]=@vMol_id,
			a.[pack_id]=@vPack_id,
			a.inputter=@vinputter
		from tblProducts as a where a.BranchCode=@vBranchCode and a.pro_code=@vpro_code
	end ;

	select @vpro_code as trancode ;

 --- proc_register_product 'I'
end
GO
/****** Object:  StoredProcedure [dbo].[proc_rpt_sql]    Script Date: 17/11/2025 8:47:01 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE procedure [dbo].[proc_rpt_sql]
	@vstatus		nvarchar(50),
	@vbranchcode	nvarchar(10),
	@vcode1			nvarchar(50)=''
as
begin
	
	if(@vcode1='0000')begin
		 set @vcode1='%'
	end 

	if (@vstatus='rpt_name') begin
	
		select distinct 
			   a.RptTitle as name , 
			   a.RptName  as code,
			   a.RptCode,
			   a.Level,
			   A.[Order]
		from tblreports as a 
		where a.BranchCode=@vbranchcode and a.Active='1'
		order by Level,[Order],a.RptCode
		
	end else if (@vstatus='rpt_cbo_stock') begin 
	
		select CONVERT(nvarchar(50),'%') as code,
			   CONVERT(nvarchar(250),'All') as name
		union all 
		select distinct 
			 a.sto_id as code ,
			 a.sto_name as name
		from tblStockMenu as a 
		where a.BranchCode=@vbranchcode and a.active='1'
		order by code
	
	end else if (@vstatus='rpt_product') begin 
		select CONVERT(nvarchar(50),'%') as code,
			   CONVERT(nvarchar(250),'All') as name
		union all 
		select distinct 
			 a.pro_code as code ,
			 a.pro_name as name
		from tblProducts as a 
		where a.BranchCode=@vbranchcode
		order by code
	end else if (@vstatus='rpt_customer') begin 
		select CONVERT(nvarchar(50),'%') as code,
			   CONVERT(nvarchar(250),'All') as name
		union all 
		select distinct 
			 a.cus_id as code ,
			 a.cus_name as name
		from tblCustomers as a 
		where a.BranchCode=@vbranchcode and a.active='1'
		order by code
	end else if (@vstatus='rpt_line') begin 
		select CONVERT(nvarchar(50),'%') as code,
			   CONVERT(nvarchar(250),'All') as name
		union all 
		select distinct 
			 a.line_id as code ,
			 a.line_name as name
		from tblLines as a 
		where a.BranchCode=@vbranchcode and a.active='1' and a.line='line'
		order by code
	end else if (@vstatus='rpt_Mol') begin 
		select CONVERT(nvarchar(50),'%') as code,
			   CONVERT(nvarchar(250),'All') as name
		union all 
		select distinct 
			 a.line_id as code ,
			 a.line_name as name
		from tblLines as a 
		where a.BranchCode=@vbranchcode and a.active='1' and a.line='Mol'
		order by code
	end else if (@vstatus='rpt_packing') begin 
		select CONVERT(nvarchar(50),'%') as code,
			   CONVERT(nvarchar(250),'All') as name
		union all 
		select distinct 
			 a.line_id as code ,
			 a.line_name as name
		from tblLines as a 
		where a.BranchCode=@vbranchcode and a.active='1' and a.line='Pack'
		order by code
	end else if (@vstatus='rpt_supply') begin 
		
		select CONVERT(nvarchar(50),'%') as code,
			   CONVERT(nvarchar(250),'All') as name
		union all 
		select distinct 
			 a.sup_id as code ,
			 a.sup_name as name
		from tblSupplies as a 
		where a.BranchCode=@vbranchcode and a.active='1'
		order by code
	end

	select * from tblLines

end 
GO
/****** Object:  StoredProcedure [dbo].[proc_submit_transaction]    Script Date: 17/11/2025 8:47:01 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE procedure [dbo].[proc_submit_transaction]
	@vstatus		nvarchar(50),
	@vbranchcode	nvarchar(50),
	@vtrancode		nvarchar(50),
	@vinputter		nvarchar(150)
as
begin

	create table #tmprecord (pro_id nvarchar(20) , branchcode nvarchar(20),barcode nvarchar(20),sto_id nvarchar(20),qty int,referent nvarchar(20) , exp_date date ,batch_id nvarchar(50))

	if(@vstatus='po')begin
		
		insert into #tmprecord (pro_id,branchcode,barcode,sto_id,qty,referent,exp_date,batch_id)
		select b.pro_code,
			   b.branchcode,
			   b.barcode,
			   b.sto_id,
			   b.qty,
			   a.po_id,
			   b.exp_date,
			   b.batch_id
		from tblPurchaseOrder as a 
		inner join tblPurchaseOrderDetail as b on a.branchcode=b.branchcode and a.po_id=b.po_id
		where a.branchcode=@vbranchcode and a.po_id=@vtrancode;

		delete a from TblTransactions as a inner join #tmprecord as b on a.BranchCode=b.branchcode and a.referent=b.referent and a.stock_code=b.sto_id  

	end

		declare @vgetdate	datetime= getdate()
		declare @vexp_date	date
		declare @vpro_id	nvarchar(50);
		declare @vbarcode	nvarchar(50);
		declare @vsto_id	nvarchar(50);
		declare @vreferent	nvarchar(50);
		declare @vbatch_id	nvarchar(50);
		declare @vqty		int;
		declare cur_loop CURSOR FAST_FORWARD FOR

			select pro_id,barcode,sto_id,qty,referent,exp_date,batch_id
			from   #tmprecord as a
			order by referent;
 
		open cur_loop
		FETCH NEXT FROM cur_loop INTO @vpro_id,@vbarcode,@vsto_id,@vqty,@vreferent,@vexp_date,@vbatch_id
		WHILE @@FETCH_STATUS = 0
		BEGIN
			
			exec proc_transaction @vstatus,@vbranchcode,@vreferent,@vpro_id,@vbarcode,@vsto_id,@vqty,@vexp_date,@vbatch_id,@vinputter
			
			-- exec proc_ref_transactions @vbranchcode,@vsto_id,@vpro_id,@vgetdate

			FETCH NEXT FROM cur_loop INTO @vpro_id,@vbarcode,@vsto_id,@vqty,@vreferent,@vexp_date,@vbatch_id
		END
		CLOSE cur_loop
		DEALLOCATE cur_loop

end
GO
/****** Object:  StoredProcedure [dbo].[proc_transaction]    Script Date: 17/11/2025 8:47:01 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE procedure [dbo].[proc_transaction]
	@vstatus		nvarchar(20),
	@vbranchcode	nvarchar(10),
	@vreferent		nvarchar(20),
	@vpro_id		nvarchar(10),
	@vbarcode		nvarchar(10),
	@vsto_id		nvarchar(10),
	@vqty			int,
	@vexp_date		date,
	@vbatch_id		nvarchar(50)=null,
	@vinputter		nvarchar(150)=null
as
begin

	declare @vsysdonum nvarchar(20)
	declare @vtrancode nvarchar(20)

	if(@vstatus='po')begin
		set @vtrancode='01'
	end else if(@vstatus='auth_pos')begin
		set @vtrancode='02'
	end else if(@vstatus='auth_stock_transfer')begin
		set @vtrancode=CASE WHEN @vqty>0 THEN '03' ELSE '04' END 
	end

	exec proc_next_id @vbranchcode,'TRC','0',@vsysdonum out ;

	insert into tbltransactions (sysdoc,branchcode,stock_code,pro_code,barcode,trans_code,status,referent,qty,qty_balance,inputter,create_at,trans_date,exp_date,batch_id)
				values (@vsysdonum,@vbranchcode,@vsto_id,@vpro_id,@vbarcode,@vtrancode,@vstatus,@vreferent,@vqty,0,@vinputter,GETDATE(),GETDATE(),@vexp_date,@vbatch_id)
	

end
GO
/****** Object:  StoredProcedure [dbo].[proc_update_po_expired]    Script Date: 17/11/2025 8:47:01 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE PROCEDURE [dbo].[proc_update_po_expired]
	@vCMD		nvarchar(25),
	@vbranchcode	nvarchar(25),
	@vSysDocNum		nvarchar(25),
	@vExpired_date	date

AS
BEGIN
	
	 IF (@vCMD='Expired')BEGIN
		--- check while editing PurchaseOrderDetail
		update a set a.Editing=null from tblunaPurchaseOrder as a inner join tblunaPurchaseOrderDetail as b on a.branchcode=b.branchcode and a.po_id=b.po_id where b.branchcode= @vbranchcode and b.sysdocnum=@vSysDocNum

		update a set a.exp_date=@vExpired_date
		from tblunaPurchaseOrderDetail as a where a.branchcode= @vbranchcode and a.sysdocnum=@vSysDocNum

		--- check while editing PurchaseOrderDetail
		update a set a.Editing=null from tblunaPurchaseOrder as a inner join tblunaPurchaseOrderDetail as b on a.branchcode=b.branchcode and a.po_id=b.po_id where b.branchcode= @vbranchcode and b.sysdocnum=@vSysDocNum


	 END ;

	 select @vSysDocNum as trancode
END
GO
/****** Object:  StoredProcedure [dbo].[proc_user_login]    Script Date: 17/11/2025 8:47:01 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE procedure [dbo].[proc_user_login]
	@vUserlogin		nvarchar(50)
AS
BEGIN

	select distinct 
			a.user_id,
			a.branchcode,
			a.sub_of_branch,
			a.profile_id,
			a.user_login,
			a.disable,
			b.pro_name,
			a.user_pwd
	from sys_user_logins as a 
	inner join tbl_user_profile as b on a.profile_id=b.pro_id
	where a.user_login=@vUserlogin;

END 
GO
/****** Object:  StoredProcedure [dbo].[rpt_po_details]    Script Date: 17/11/2025 8:47:01 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE procedure [dbo].[rpt_po_details] 
	@vBranchcode	nvarchar(20),
	@vsup_id		nvarchar(20),
	@vsto_id		nvarchar(20),
	@vpro_id		nvarchar(20),
	@vline_id		nvarchar(20),
	@vmol_id		nvarchar(20),
	@vpacking_id	nvarchar(20),
	@vdate_from		date,
	@vdate_to		date
AS
BEGIN
	
	
	select a.po_id,
		   a.branchcode,
		   a.po_date,
		   a.sup_id,
		   s.sup_name,
		   a.exc_id,
		   a.remark,
		   a.inputter
	INTO #tmpPO
	from tblPurchaseOrder as a 
	inner join tblSupplies as s on a.branchcode=s.branchcode and a.sup_id=s.sup_id


	select a.po_id,
		   a.branchcode,
		   a.po_date,
		   a.sup_id,
		   a.sup_name,
		   a.exc_id,
		   a.remark,
		   b.pro_code,
		   p.pro_name,
		   b.cost,
		   isnull(b.qty,0) as qty,
		   isnull(b.oth_cost,0) as oth_cost,
		   isnull(b.discount,0) as discount,
		   isnull(b.amount,0) as amount,
		   CONVERT(NVARCHAR(50),b.exp_date,102) AS exp_date,
		   a.inputter,
		   b.batch_id,
		   b.sto_id,
		   s.sto_name
	from #tmpPO as a 
	inner join tblPurchaseOrderDetail as b on a.branchcode=b.branchcode and a.po_id=b.po_id  
	inner join tblProducts as p on b.branchcode=p.branchcode and p.pro_code=b.pro_code
	inner join tblStockMenu as s on b.branchcode=s.branchcode and b.sto_id=s.sto_id
	where a.branchcode=@vBranchcode and 
		  a.po_date between @vdate_from and @vdate_to and 
		  a.sup_id like @vsup_id+'%' and 
		  b.sto_id like @vsto_id+'%' and
		  b.pro_code like @vpro_id+'%'  
		  
	

END 
GO
/****** Object:  StoredProcedure [dbo].[rpt_po_summary]    Script Date: 17/11/2025 8:47:01 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
--- rpt_po_summary N'0101',N'%',N'%',N'%',N'%',N'%',N'%',N'2025/11/12',N'2025/11/12'
CREATE procedure [dbo].[rpt_po_summary] 
	@vBranchcode	nvarchar(20),
	@vsup_id		nvarchar(20),
	@vsto_id		nvarchar(20),
	@vpro_id		nvarchar(20),
	@vline_id		nvarchar(20),
	@vmol_id		nvarchar(20),
	@vpacking_id	nvarchar(20),
	@vdate_from		date,
	@vdate_to		date
AS
BEGIN
	
	
	select a.po_id,
		   a.branchcode,
		   a.po_date,
		   a.sup_id,
		   s.sup_name,
		   a.exc_id,
		   a.remark,
		   a.inputter
	INTO #tmpPO
	from tblPurchaseOrder as a 
	inner join tblSupplies as s on a.branchcode=s.branchcode and a.sup_id=s.sup_id


	select a.po_id,
		   a.branchcode,
		   a.po_date,
		   a.sup_id,
		   a.sup_name,
		   a.exc_id,
		   a.remark,
		   b.pro_code,
		   p.pro_name,
		   b.cost,
		   isnull(b.qty,0) as qty,
		   isnull(b.oth_cost,0) as oth_cost,
		   isnull(b.discount,0) as discount,
		   isnull(b.amount,0) as amount,
		   CONVERT(NVARCHAR(50),b.exp_date,102) AS exp_date,
		   a.inputter,
		   b.batch_id,
		   b.sto_id,
		   s.sto_name
	INTO #tmpResults
	from #tmpPO as a 
	inner join tblPurchaseOrderDetail as b on a.branchcode=b.branchcode and a.po_id=b.po_id  
	inner join tblProducts as p on b.branchcode=p.branchcode and p.pro_code=b.pro_code
	inner join tblStockMenu as s on b.branchcode=s.branchcode and b.sto_id=s.sto_id
	where a.branchcode=@vBranchcode and 
		  a.po_date between @vdate_from and @vdate_to and 
		  a.sup_id like @vsup_id+'%' and 
		  b.sto_id like @vsto_id+'%' and
		  b.pro_code like @vpro_id+'%'  
		  
	
	select a.po_id,
		   a.sto_name,
		   a.pro_code,
		   a.pro_name,
		   a.sup_name,
		   sum(a.cost) as cost,
		   sum(a.oth_cost) as oth_cost,
		   sum(a.qty) as qty,
		   sum(a.amount) as amount
	from #tmpResults as a 
	 group by a.po_id,
		   a.sto_name,
		   a.pro_code,
		   a.sup_name,
		   a.pro_name order by a.po_id
END 
GO
