ALTER procedure [dbo].[_history_trans]
	@vStatus		nvarchar(25),
	@vBranchcode	nvarchar(25),
	@vTran_ID		nvarchar(25),
	@vInputter		nvarchar(150)=''
AS
BEGIN
	IF (@vstatus='POS_Reject' or @vstatus='rcp_commit')BEGIN
		
		INSERT INTO [dbo].[His_tblunaInvoices]
           ([rcp_num]
           ,[branchcode]
           ,[cus_id]
           ,[rcp_date]
           ,[currency]
           ,[exchangrate]
           ,[amount]
           ,[draft]
           ,[flag]
           ,[referent]
           ,[inputter]
           ,[create_at]
           ,[Editing]
           ,[authoriser]
           ,[authorize_at]
		   ,[Tracker]
           ,[Track_at]) 
		   SELECT 
		    [rcp_num]
           ,[branchcode]
           ,[cus_id]
           ,[rcp_date]
           ,[currency]
           ,[exchangrate]
           ,[amount]
           ,[draft]
           ,[flag]
           ,@vStatus
           ,[inputter]
           ,[create_at]
           ,[Editing]
           ,[authoriser]
           ,[authorize_at]
		   , @vInputter
		   ,GETDATE()
		   FROM tblunaInvoices AS A WHERE A.[rcp_num]=@vTran_ID and a.branchcode=@vBranchcode

		   INSERT INTO [dbo].[His_tblunaStockOuts]
			   ([sysdocnum]
			   ,[rcp_num]
			   ,[branchcode]
			   ,[sto_id]
			   ,[pro_code]
			   ,[barcode]
			   ,[qty]
			   ,[cost]
			   ,[unitprice]
			   ,[discount]
			   ,[amount]
			   ,[batch_id]
			   ,[exp_date]
			   ,[create_at])
		   SELECT 
				[sysdocnum]
			   ,[rcp_num]
			   ,[branchcode]
			   ,[sto_id]
			   ,[pro_code]
			   ,[barcode]
			   ,[qty]
			   ,[cost]
			   ,[unitprice]
			   ,[discount]
			   ,[amount]
			   ,[batch_id]
			   ,[exp_date]
			   ,[create_at]
		   FROM tblunaStockOuts AS A WHERE A.[rcp_num]=@vTran_ID and a.branchcode=@vBranchcode

	END ELSE IF (@vstatus='PO_Reject') BEGIN
	
		INSERT INTO His_tblunaPurchaseOrder
           ([po_id]
           ,[branchcode]
           ,[sup_id]
           ,[exc_id]
           ,[invoice]
           ,[amount]
           ,[po_date]
           ,[remark]
           ,[editing]
           ,[inputter]
           ,[create_at]
           ,[authoriser]
           ,[authorize_at]
           ,[Tracker]
           ,[Track_at])

		SELECT [po_id]
           ,[branchcode]
           ,[sup_id]
           ,[exc_id]
           ,[invoice]
           ,[amount]
           ,[po_date]
           ,[remark]
           ,[editing]
           ,[inputter]
           ,[create_at]
           ,[authoriser]
           ,[authorize_at]
           ,@vInputter
           ,GETDATE()
		FROM tblunaPurchaseOrder as a where a.po_id=@vTran_ID

		INSERT INTO [His_tblunaPurchaseOrderDetail]
           ([sysdocnum]
           ,[po_id]
           ,[branchcode]
           ,[pro_code]
           ,[barcode]
           ,[sto_id]
           ,[cost]
           ,[oth_cost]
           ,[qty]
           ,[discount]
           ,[exp_date]
           ,[amount]
           ,[oth_amount]
           ,[batch_id]
           ,[create_at]
           ,[Tracker]
           ,[Track_at])

		SELECT [sysdocnum]
           ,[po_id]
           ,[branchcode]
           ,[pro_code]
           ,[barcode]
           ,[sto_id]
           ,[cost]
           ,[oth_cost]
           ,[qty]
           ,[discount]
           ,[exp_date]
           ,[amount]
           ,[oth_amount]
           ,[batch_id]
           ,[create_at]
           ,@vInputter
           ,GETDATE()
		FROM tblunaPurchaseOrderDetails as a  where a.po_id=@vTran_ID

	 END ;

END