ALTER FUNCTION [dbo].[fun_product_line](
	@vstatus		NVARCHAR(20),
	@vbranchcode	NVARCHAR(10),
	@vpro_code		NVARCHAR(25)
)
RETURNS nvarchar(50)
AS
BEGIN
	DECLARE @vReturn	nvarchar(50)
	if(@vstatus='pack')begin
		set @vReturn= isnull((select top 1 b.line_name from tblProducts as a inner join tblLines as b on a.branchcode=b.branchcode and a.pack_id=b.line_id WHERE A.BranchCode=@vbranchcode  AND a.pro_code=@vpro_code),'None')
	end else if(@vstatus='payment')begin 
		set @vReturn= isnull((select top 1 case when b.account is null then b.title else (b.title + ' : '  + b.account) end as title from tblunapaymentvoucher as a inner join tblpaymentlines as b on a.branchcode=b.branchcode and a.pay_option=b.line_id WHERE A.BranchCode=@vbranchcode  AND a.pv_id=@vpro_code),'None')
	end 

	RETURN isnull(@vReturn,'None') 
END
