ALTER FUNCTION [dbo].[fun_amount](
	@vstatus		NVARCHAR(20),
	@vbranchcode	NVARCHAR(10),
	@vtracode1		NVARCHAR(20)='',
	@vtracode2		NVARCHAR(20)=''
)
RETURNS MONEY
AS
BEGIN
	DECLARE @vAmount	MONEY
	DECLARE @vTotalAmount	MONEY
	DECLARE @vPaidAmount	MONEY
	if(@vstatus='cost')begin
		set @vAmount= isnull((SELECT A.cost FROM tblProducts AS A WHERE A.BranchCode=@vbranchcode AND A.pro_code=@vtracode1 AND A.active='1'),0)
	end else if(@vstatus='price')begin
		set @vAmount= isnull((SELECT A.unitprice FROM tblProducts AS A WHERE A.BranchCode=@vbranchcode AND A.pro_code=@vtracode1 AND A.active='1'),0)
	end else if(@vstatus='discount')begin
		set @vAmount= isnull((SELECT A.discount FROM tblProducts AS A WHERE A.BranchCode=@vbranchcode AND A.pro_code=@vtracode1 AND A.active='1'),0)
	end else if(@vstatus='t_amount')begin
		set @vAmount= isnull((SELECT SUM(A.AMOUNT) FROM tblunaStockOuts AS A WHERE A.BranchCode=@vbranchcode AND A.rcp_num=@vtracode1),0)

	end else if(@vstatus='pos_cost')begin
		set @vAmount= isnull((SELECT A.cost FROM tblProducts AS A WHERE A.BranchCode=@vbranchcode AND A.pro_code=@vtracode1 AND A.active='1'),0)

	end else if(@vstatus='acc_paid')begin
		set @vTotalAmount= isnull((SELECT sum(isnull( A.amount,0)) FROM tbl_account_payable_sub AS A WHERE A.BranchCode=@vbranchcode AND A.ap_id=@vtracode1),0)
		set @vPaidAmount= isnull((SELECT sum(isnull( A.amount,0)) FROM tbl_account_payable_paid AS A WHERE A.BranchCode=@vbranchcode AND A.ap_id=@vtracode1),0)

		set @vAmount=@vTotalAmount-@vPaidAmount

	end 

	RETURN isnull(@vAmount,0) 
END
