ALTER PROCEDURE [dbo].[proc_get_sql_pos]
    @vstatus      NVARCHAR(50),
    @vbranchcode  NVARCHAR(10),
    @vcode1       NVARCHAR(50),
    @vflag        NVARCHAR(50) = ''
AS
BEGIN
    SET NOCOUNT ON;

    -----------------------------
    -- POS PRODUCT
    -----------------------------
    IF @vstatus = 'pos_product'
    BEGIN
        SELECT '' AS code, 'choose option' AS name
        UNION ALL
        SELECT pro_code, pro_name
        FROM tblProducts
        WHERE BranchCode = @vbranchcode
          AND active = '1'
          AND CONVERT(date, ISNULL(update_at, GETDATE())) >= dbo.fun_use_date()
        ORDER BY code;
        RETURN
    END

    -----------------------------
    -- VIEW PURCHASE ORDER
    -----------------------------
    ELSE IF @vstatus = 'view_po'
    BEGIN
        SELECT po_id, branchcode, sup_id, exc_id, po_date, remark, inputter, create_at
        FROM tblunaPurchaseOrder
        WHERE branchcode = @vbranchcode AND po_id = @vcode1;
        RETURN
    END

    -----------------------------
    -- POS CUSTOMER
    -----------------------------
    ELSE IF @vstatus = 'pos_customer'
    BEGIN
        SELECT DISTINCT cus_id AS code, cus_name AS name
        FROM tblCustomers
        WHERE BranchCode = @vbranchcode AND active = '1'
        ORDER BY cus_id;
        RETURN
    END

    -----------------------------
    -- STOCK MENU
    -----------------------------
    ELSE IF @vstatus = 'stock_menu'
    BEGIN
        SELECT '' AS code, '' AS name
        UNION ALL
        SELECT sto_id, sto_name
        FROM tblStockMenu
        WHERE branchcode = @vbranchcode AND active = '1';
        RETURN
    END

    -----------------------------
    -- POS UNA LIST
    -----------------------------
    ELSE IF @vstatus = 'pos_una_list'
    BEGIN
        SELECT i.rcp_num, i.cus_id, i.rcp_date,
               ISNULL(s.pro_code,'') AS pro_code,
               ISNULL(s.barcode,'') AS barcode,
               ISNULL(p.pro_name,'') AS pro_name,
               i.exchangrate,
               ISNULL(s.sysdocnum,'') AS sysdocnum,
               ISNULL(s.sto_id,'') AS sto_id,
               ISNULL(s.cost,0) AS cost,
               ISNULL(s.unitprice,0) AS unitprice,
               ISNULL(s.discount,0) AS discount,
               ISNULL(s.qty,0) AS qty,
               ISNULL(s.amount,0) AS amount,
               i.inputter,
               ISNULL(s.batch_id,'') AS batch_id
        FROM tblunaInvoices i
        LEFT JOIN tblunaStockOuts s ON i.BranchCode = s.BranchCode AND i.rcp_num = s.rcp_num
        LEFT JOIN tblProducts p ON s.BranchCode = p.BranchCode AND s.pro_code = p.pro_code
        WHERE i.BranchCode = @vbranchcode AND i.rcp_num = @vcode1
        ORDER BY s.create_at;
        RETURN
    END

    -----------------------------
    -- POS BATCH ID
    -----------------------------
    ELSE IF @vstatus = 'pos_batchID'
    BEGIN
        SELECT TOP 1 i.rcp_num, i.cus_id, i.rcp_date,
               s.pro_code, s.barcode, p.pro_name,
               i.exchangrate, s.sysdocnum, s.sto_id,
               s.cost, s.unitprice, s.discount, s.qty, s.amount,
               i.inputter,
               ISNULL(s.batch_id,'') AS batch_id
        FROM tblunaInvoices i
        INNER JOIN tblunaStockOuts s ON i.BranchCode = s.BranchCode AND i.rcp_num = s.rcp_num
        INNER JOIN tblProducts p ON s.BranchCode = p.BranchCode AND s.pro_code = p.pro_code
        WHERE i.BranchCode = @vbranchcode AND s.sysdocnum = @vcode1;
        RETURN
    END

    -----------------------------
    -- LOAD BATCH ID
    -----------------------------
    ELSE IF @vstatus = 'load_batch_id'
    BEGIN
        SELECT i.rcp_num, i.branchcode, s.pro_code, p.pro_name,
               s.sysdocnum, s.sto_id, s.qty
        INTO #tmpStockouts
        FROM tblunaInvoices i
        INNER JOIN tblunaStockOuts s ON i.BranchCode = s.BranchCode AND i.rcp_num = s.rcp_num
        INNER JOIN tblProducts p ON s.BranchCode = p.BranchCode AND s.pro_code = p.pro_code
        WHERE i.BranchCode = @vbranchcode AND s.sysdocnum = @vcode1;

        SELECT so.pro_code, so.pro_name, so.sto_id, t.batch_id,
               SUM(t.qty_balance) AS qty
        INTO #tmpStockIN
        FROM #tmpStockouts so
        INNER JOIN TblTransactions t
            ON so.branchcode = t.BranchCode
           AND so.sto_id = t.stock_code
           AND so.pro_code = t.pro_code
        GROUP BY so.pro_code, so.pro_name, so.sto_id, t.batch_id;

        SELECT DISTINCT batch_id AS code, batch_id AS title
        FROM #tmpStockIN;
        RETURN
    END

    -----------------------------
    -- RCP UNA LIST
    -----------------------------
    ELSE IF @vstatus = 'rcp_una_list'
    BEGIN
        SELECT i.rcp_num, i.inputter, i.cus_id, c.cus_name,
               i.create_at,
               CASE WHEN i.flag IN ('0','1') THEN 'POS' ELSE 'Return' END AS status
        FROM tblunaInvoices i
        INNER JOIN tblCustomers c ON i.branchcode = c.BranchCode AND i.cus_id = c.cus_id
        WHERE i.branchcode = @vbranchcode
          AND (i.rcp_num LIKE '%' + @vcode1 + '%'
               OR c.cus_name LIKE '%' + @vcode1 + '%'
               OR dbo.ConvertUnicode(c.cus_name) LIKE '%' + dbo.ConvertUnicode(@vcode1) + '%')
          AND i.Editing IS NOT NULL
        ORDER BY i.create_at DESC;
        RETURN
    END


	 -----------------------------
    -- pv_una_info
    -----------------------------
    ELSE IF @vstatus = 'pv_una_info'
    BEGIN
         
		 select a.pv_id,
			    a.branchcode,
				a.inputter,
				a.pay_date,
				a.pay_to,
				a.pay_option,
				a.receipt,
				a.invoice,
				a.created_at
		 from tblunapaymentvoucher as a 
		 where a.branchcode=@vbranchcode and a.pv_id=@vcode1
		 order by a.created_at

        RETURN
    END

    ELSE IF @vstatus = 'pv_una_payment'
    BEGIN
         
		 select a.pv_id,
			    a.branchcode,
				a.inputter,
				a.pay_date,
				a.pay_to,
                b.title as pay_option,
				a.receipt,
				a.invoice,
				a.created_at
		 from tblunapaymentvoucher as a 
         inner join tblpaymentlines as b on a.branchcode=b.branchcode and a.pay_option=b.line_id
		 where a.branchcode=@vbranchcode and a.draft=1 and ( a.pv_id like '%'+ @vcode1+'%' or a.pay_to like '%'+ @vcode1+'%' or a.receipt like '%'+ @vcode1+'%')
		 order by a.created_at

        RETURN
    END
      
    ELSE IF @vstatus = 'accounts_payable'
    BEGIN
         
		 select a.ap_id,
			    a.branchcode,
				a.inputter,
				a.ap_date,
				a.supply_id,
				a.invoice,
                a.remark,
				a.created_at,
                c.sup_name
		 from tbluna_account_payable as a 
         inner join tbluna_account_payable_sub as b on a.branchcode=b.branchcode and a.ap_id=b.ap_id
         left join tblSupplies as c on a.branchcode=c.branchcode and a.supply_id=c.sup_id
		 where a.branchcode=@vbranchcode and a.ap_id=@vcode1
		 order by a.created_at

        RETURN
    END
    ELSE IF @vstatus = 'get_accounts_payable'
    BEGIN
		 select a.ap_id,
			    a.branchcode,
				a.ap_date,
				a.invoice,
                (c.sup_name + ' , invoice : '+ a.invoice )  AS info,
				dbo.fun_amount('acc_paid',a.branchcode,a.ap_id,'') as Balance,
                isnull(b.amount,0) as amount,
                isnull(b.remark,'') as remark,
                isnull(b.paiddate,GETDATE()) as paiddate,
				b.sysdoc
		 from tbl_account_payable as a
         left join tbl_account_payable_paid as b on a.branchcode=b.branchcode and a.ap_id=b.ap_id
         left join tblSupplies as c on a.branchcode=c.branchcode and a.supply_id=c.sup_id
		 where a.branchcode=@vbranchcode and a.ap_id=@vcode1
		 order by b.sysdoc

        RETURN

        END  if (@vstatus='rcp_una_list_details') begin

		SELECT distinct
			   A.rcp_num,
			   B.pro_code,
			   P.pro_name,
			   B.sysdocnum,
			   B.sto_id,
			   dbo.fun_stock('stock_name',b.branchcode,b.sto_id) as sto_name,
			   B.cost,
			   B.unitprice,
			   B.discount,
			   B.qty,
			   B.amount,
			   A.inputter,
			   case when b.batch_id is null then '' else b.batch_id end as batch_id ,
			   b.create_at
		FROM tblunaInvoices AS A
		INNER JOIN tblunaStockOuts AS B ON A.BranchCode=B.BranchCode AND A.rcp_num=B.rcp_num
		INNER JOIN tblProducts AS P ON B.BranchCode=P.BranchCode AND B.pro_code=P.pro_code
		WHERE A.BranchCode=@vbranchcode AND a.rcp_num=@vcode1 order by b.create_at
    END
    ELSE IF @vstatus = 'accounts_payable_history'
    BEGIN
		 select a.ap_id,
			    a.branchcode,
				a.ap_date,
				a.invoice,
                (c.sup_name + ' , invoice : '+ a.invoice )  AS info,
				dbo.fun_amount('acc_paid',a.branchcode,a.ap_id,'') as Balance,
                isnull(b.amount,0) as amount,
                isnull(b.remark,'') as remark,
                isnull(b.paiddate,GETDATE()) as paiddate,
				b.sysdoc
		 from tbl_account_payable as a
         inner join tbl_account_payable_paid as b on a.branchcode=b.branchcode and a.ap_id=b.ap_id
         left join tblSupplies as c on a.branchcode=c.branchcode and a.supply_id=c.sup_id
		 where a.branchcode=@vbranchcode and a.ap_id=@vcode1
		 order by b.sysdoc

        RETURN

    END
     
END