ALTER procedure [dbo].[proc_get_sql]
	@vstatus		nvarchar(50),
	@vbranchcode	nvarchar(10),
	@vcode1			nvarchar(50)='',
	@vcode2			nvarchar(50)=''
as
begin
	
	if(@vcode1='0000')begin
		 set @vcode1='%'
	end 

	if (@vstatus='show_customer') begin

		select  distinct 
			   a.cus_id ,
			   a.cus_name,
			   a.phone,
			   a.remark,
			   a.address,
			   a.gender,
			   isnull(a.address,'') as address,
			   convert(nvarchar(50),a.active) as active
		from tblCustomers as a
		inner join sysconstants as b on a.active=b.con_id and b.con_line='active'
		where a.branchcode=@vbranchcode and a.cus_id=@vcode1
		order by a.cus_id

	end else if (@vstatus='rePrint_POS') begin

		select a.rcp_num,
			   b.cus_name,
			   a.flag,
			   a.inputter,
			   convert(nvarchar(250),('Invoice : '+a.rcp_num+' , Customer : '+ b.cus_name)) as info 
		from tblInvoices as a 
		inner join tblCustomers as b on a.branchcode=b.BranchCode and a.cus_id=b.cus_id
		where a.branchcode=@vbranchcode and a.rcp_num=@vcode1
	end else if (@vstatus='check_user_exists') begin

			select * from sys_user_logins as a where a.user_login=@vcode1

	end  if (@vstatus='show_product') begin
		
			select a.pro_code,
				   a.barcode,
				   a.line_id,
				   a.mol_id,
				   a.pack_id,
				   a.pro_name,
				   convert(nvarchar(50),a.active) as active,
				   a.cost,
				   a.cost_tax,
				   a.unitprice,
				   a.discount,
				   a.remark,
				   a.inputter,
				   a.create_at
			from tblProducts as a 
			where a.BranchCode=@vbranchcode and a.pro_code=@vcode1

	end  if (@vstatus='show_po_history') begin
		select distinct 
			   a.po_id,
			   a.sup_id,
			   b.sup_name,
			   b.phone,
			   c.sysdocnum,
			   (ISNULL(a.po_id,'')+ ': '+ b.sup_name +' :'+ isnull(b.phone,'') ) as info
		from tblunaPurchaseOrder as a 
		inner join tblSupplies as b on a.branchcode=b.branchcode and a.sup_id=b.sup_id
		left join tblunaPurchaseOrderDetails as c on a.branchcode = c.branchcode and a.po_id=c.po_id
		where a.branchcode=@vbranchcode and a.po_id=@vcode1

	end else if (@vstatus='load_profile') begin
		select a.pro_id as id,
			   a.pro_name as name 
		from tbl_user_profile as a
		where a.Active='1' order by a.pro_id

	end  if (@vstatus='show_po_una_list') begin
		
		select distinct 
			   a.po_id,
			   a.branchcode,
			   a.inputter,
			   b.sysdocnum,
			   b.pro_code,
			   p.pro_name,
			   p.barcode,
			   isnull(b.qty,0) as qty,
			   isnull(b.cost,0) as cost,
			   isnull(b.oth_cost,0) as oth_cost,
			   isnull(b.discount,0) as discount,
			   b.amount,
			   b.oth_amount,
			   b.sto_id,
			   convert(nvarchar(50),b.exp_date,103) as exp_date
		from tblunaPurchaseOrder as a 
		inner join tblunaPurchaseOrderDetails as b on a.po_id=b.po_id and a.branchcode=b.branchcode
		inner join tblProducts as p on b.pro_code=p.pro_code and b.branchcode=p.branchcode
		where a.branchcode=@vbranchcode and a.po_id=@vcode1
		order by a.po_id,b.sysdocnum
		 
	end  if (@vstatus='UNA_PO_Edit_Expired') begin
		select top 1 a.exp_date from tblunaPurchaseOrderDetails as a where a.branchcode= @vbranchcode and a.sysdocnum=@vcode1

	end  if (@vstatus='UNA_PO_Sub') begin
		select distinct 
			   a.po_id,
			   s.sup_name,
			   a.remark,
			   a.inputter, 
			   b.sysdocnum,
			   p.pro_name,
			   isnull(b.qty,0) as qty,
			   isnull(b.cost,0) as cost,
			   isnull(b.oth_cost,0) as oth_cost,
			   isnull(b.discount,0) as discount,
			   b.amount,
			   dbo.fun_stock('stock_name',a.branchcode,b.sto_id) as stock_name,
			   convert(nvarchar(50),b.exp_date,103) as exp_date
		from tblunaPurchaseOrder as a 
		inner join tblunaPurchaseOrderDetails as b on a.po_id=b.po_id and a.branchcode=b.branchcode
		inner join tblProducts as p on b.pro_code=p.pro_code and b.branchcode=p.branchcode
		inner join tblSupplies as s on a.branchcode=s.branchcode and a.sup_id=s.sup_id
		where a.branchcode=@vbranchcode and a.po_id=@vcode1
		order by a.po_id,b.sysdocnum
		
	end else if (@vstatus='show_supply') begin	
		
		select  distinct 
			   a.sup_id ,
			   a.sup_name,
			   a.phone,
			   isnull(a.remark,'') as remark,
			   isnull(a.address,'') as address,
			   convert(nvarchar(50),a.active) as active
		from tblSupplies as a
		inner join sysconstants as b on a.active=b.con_id and b.con_line='active'
		where a.branchcode=@vbranchcode and a.sup_id=@vcode1
		order by a.sup_id

	end else if (@vstatus='show_type_line') begin	
		
		select a.line_id,
			   a.line_name,
			   a.line,
			   convert(nvarchar(50),a.active) as active
		from tblLines as a 
		where a.branchcode=@vbranchcode and a.line_id=@vcode1

	end else if (@vstatus='load_user_by_profile') begin	

		select a.user_id,
			   a.profile_id,
			   a.user_login,
			   a.inputter,
			   b.pro_name,
			   case when a.active=1 then 'Yes' else 'No' end status 
		from sys_user_logins as a 
		inner join tbl_user_profile as b on a.profile_id=b.pro_id
		where a.branchcode=@vbranchcode and a.profile_id like @vcode1

	end else if (@vstatus='get_batch_id') begin	
		
		SELECT  
			   A.rcp_num,
			   A.branchcode,
			   B.pro_code,
			   P.pro_name,
			   B.sysdocnum,
			   b.qty
		INTO #tmpStockouts
		FROM tblunaInvoices AS A
		INNER JOIN tblunaStockOuts AS B ON A.BranchCode=B.BranchCode AND A.rcp_num=B.rcp_num
		INNER JOIN tblProducts AS P ON B.BranchCode=P.BranchCode AND B.pro_code=P.pro_code
		WHERE A.BranchCode=@vbranchcode AND b.sysdocnum=@vcode1

		select a.pro_code,
			   a.pro_name,
			   b.stock_code,
			   b.batch_id,
			   sum(b.qty) as qty 
		INTO #tmpStockIN
		from #tmpStockouts as a inner join TblTransactions as b on a.branchcode=b.BranchCode and a.pro_code=b.pro_code
		where b.BranchCode=@vbranchcode and b.stock_code=@vcode2
		group by a.pro_code,
			   a.pro_name,
			   b.stock_code,
			   b.batch_id


		SELECT DISTINCT 
			     A.batch_id AS code,
			     A.batch_id AS title
		  FROM #tmpStockIN AS A where a.qty>0
	
	end


	

end
