ALTER PROCEDURE [dbo].[proc_auth_pos]
	@vCMD			nvarchar(25),
	@vBranchcode	nvarchar(25),
	@vPOS_ID		nvarchar(25),
	@vInputter		nvarchar(150)='',
	@vCus_ID		nvarchar(150)=''

AS
BEGIN
	DECLARE @vbatch_id NVARCHAR(25)
	DECLARE @vrcp_num  NVARCHAR(25)
 
	IF(@vCMD='POS_Auth')BEGIN

		delete a from [tblInvoices] as a where a.branchcode=@vBranchcode and a.rcp_num=@vPOS_ID
		delete a from [tblStockOuts] as a where a.branchcode=@vBranchcode and a.rcp_num=@vPOS_ID
		
		INSERT INTO [tblInvoices]
           ([rcp_num]
           ,[branchcode]
           ,[cus_id]
           ,[rcp_date]
           ,[currency]
           ,[exchangrate]
           ,[amount]
           ,[draft]
           ,[flag]
           ,[referent]
           ,[inputter]
           ,[create_at]
           ,[Editing]
           ,[authoriser]
           ,[authorize_at])
		select [rcp_num]
           ,[branchcode]
           ,[cus_id]
           ,[rcp_date]
           ,[currency]
           ,[exchangrate]
           ,[amount]
           ,[draft]
           ,[flag]
           ,[referent]
           ,[inputter]
           ,[create_at]
           ,[Editing]
           ,@vInputter
           ,GETDATE()
		from tblunaInvoices as a 
		where a.branchcode=@vBranchcode and a.rcp_num=@vPOS_ID
		
		INSERT INTO [tblStockOuts] ([sysdocnum]
		  ,[rcp_num]
		  ,[branchcode]
		  ,[sto_id]
		  ,[pro_code]
		  ,[barcode]
		  ,[qty]
		  ,[cost]
		  ,[unitprice]
		  ,[discount]
		  ,[amount]
		  ,[batch_id]
		  ,[exp_date]
		  ,[create_at] )

		SELECT [sysdocnum]
		  ,[rcp_num]
		  ,[branchcode]
		  ,[sto_id]
		  ,[pro_code]
		  ,[barcode]
		  ,[qty]
		  ,[cost]
		  ,[unitprice]
		  ,[discount]
		  ,[amount]
		  ,[batch_id]
		  ,[exp_date]
		  ,[create_at]
		FROM [dbo].[tblunaStockOuts] as a
		where a.branchcode=@vBranchcode and a.rcp_num=@vPOS_ID


		IF EXISTS( SELECT  A.rcp_num FROM tblInvoices AS A WHERE a.branchcode=@vBranchcode and a.rcp_num=@vPOS_ID AND flag IN ('0','1'))BEGIN
			exec proc_submit_transaction 'pos',@vBranchcode,@vPOS_ID,@vInputter
		
		END ELSE IF EXISTS( SELECT A.rcp_num FROM tblInvoices AS A WHERE a.branchcode=@vBranchcode and a.rcp_num=@vPOS_ID AND flag IN ('2','3'))BEGIN
			exec proc_submit_transaction 're-pos',@vBranchcode,@vPOS_ID,@vInputter

		END

		delete a from [tblunaInvoices] as a where a.branchcode=@vBranchcode and a.rcp_num=@vPOS_ID
		delete a from [tblunaStockOuts] as a where a.branchcode=@vBranchcode and a.rcp_num=@vPOS_ID
		
	END ELSE IF(@vCMD='POS_Reject')BEGIN
		EXEC proc_delete_trans  @vCMD,@vBranchcode,@vPOS_ID,@vInputter

	END ELSE IF(@vCMD='del_draf_pos') AND EXISTS ( SELECT A.rcp_num FROM tblunaInvoices AS A WHERE a.branchcode=@vBranchcode and a.rcp_num=@vPOS_ID)BEGIN
		EXEC proc_delete_trans  @vCMD,@vBranchcode,@vPOS_ID,@vInputter
	END IF (@vCMD='rcp_commit')begin

		EXEC proc_delete_trans  @vCMD,@vBranchcode,@vPOS_ID,@vInputter
		
		IF EXISTS (SELECT A.rcp_num FROM tblunaInvoices AS A WHERE A.BranchCode=@vbranchcode AND A.rcp_num=@vPOS_ID AND A.draft='1')BEGIN

			IF EXISTS (SELECT A.rcp_num FROM tblunaInvoices AS A WHERE A.BranchCode=@vbranchcode AND A.rcp_num=@vPOS_ID AND A.draft='1' AND A.flag='0')BEGIN
				EXEC proc_next_id @vbranchcode,'INVOICE','INVOICE',@vrcp_num OUTPUT ;
			END

			IF EXISTS (SELECT A.rcp_num FROM tblunaInvoices AS A WHERE A.BranchCode=@vbranchcode AND A.rcp_num=@vPOS_ID AND A.draft='1' AND A.flag='1')BEGIN
				EXEC proc_next_id @vbranchcode,'COMMERCIAL','COMMERCIAL',@vrcp_num OUTPUT ;
			END

			update A SET A.draft=0 from tblunaInvoices as A WHERE A.BranchCode=@vbranchcode AND A.rcp_num=@vPOS_ID
			update A SET A.rcp_num=@vrcp_num, Editing=GETDATE(),a.cus_id=@vCus_ID from tblunaInvoices as A WHERE A.BranchCode=@vbranchcode AND A.rcp_num=@vPOS_ID
			update A SET A.rcp_num=@vrcp_num from tblunaStockOuts as A WHERE A.BranchCode=@vbranchcode AND A.rcp_num=@vPOS_ID
			
			SET @vPOS_ID =@vrcp_num
		END ELSE BEGIN
			update A SET  Editing=GETDATE(),a.cus_id=@vCus_ID from tblunaInvoices as A WHERE A.BranchCode=@vbranchcode AND A.rcp_num=@vPOS_ID
		END   
	END IF (@vCMD='rcp_commit_re')begin
		
		IF EXISTS (SELECT A.rcp_num FROM tblunaInvoices AS A WHERE A.BranchCode=@vbranchcode AND A.rcp_num=@vPOS_ID AND A.draft='1' )BEGIN
			
			IF EXISTS (SELECT A.rcp_num FROM tblunaInvoices AS A WHERE A.BranchCode=@vbranchcode AND A.rcp_num=@vPOS_ID AND A.draft='1' AND A.flag='2')BEGIN
				EXEC proc_next_id @vbranchcode,'RETURN_IN','RETURN_IN',@vrcp_num OUTPUT ;
			END

			IF EXISTS (SELECT A.rcp_num FROM tblunaInvoices AS A WHERE A.BranchCode=@vbranchcode AND A.rcp_num=@vPOS_ID AND A.draft='1' AND A.flag='3')BEGIN
				EXEC proc_next_id @vbranchcode,'RETURN_IN','RETURN_IN',@vrcp_num OUTPUT ;
			END


			update A SET A.draft=0 ,A.rcp_num=@vrcp_num, Editing=GETDATE() , a.inputter=@vInputter from tblunaInvoices as A WHERE A.BranchCode=@vbranchcode AND A.rcp_num=@vPOS_ID
			update A SET A.rcp_num=@vrcp_num from tblunaStockOuts as A WHERE A.BranchCode=@vbranchcode AND A.rcp_num=@vPOS_ID
			
			SET @vPOS_ID =@vrcp_num

		END ELSE BEGIN
			update A SET  Editing=GETDATE(), a.inputter=@vInputter from tblunaInvoices as A WHERE A.BranchCode=@vbranchcode AND A.rcp_num=@vPOS_ID
		END

	END 


	select @vPOS_ID as TRANCODE

	-- proc_auth_pos N'rcp_commit',N'0101',N'0101-0015',N'reanit',N'C0002' 

END 