ALTER procedure [dbo].[proc_delete_trans]
	@vStatus		nvarchar(25),
	@vBranchcode	nvarchar(25),
	@vTran_ID		nvarchar(25),
	@vInputter		nvarchar(150)=''
AS
BEGIN

	IF (@vstatus='PO_D')BEGIN
		DELETE a 
		from tblunaPurchaseOrderDetails as a where a.branchcode= @vbranchcode and a.sysdocnum=@vTran_ID
	END ELSE IF (@vstatus='PO_History_D')BEGIN

		DELETE a from tblunaPurchaseOrder as a where a.branchcode= @vbranchcode and a.po_id=@vTran_ID
		DELETE a from tblunaPurchaseOrderDetails as a where a.branchcode= @vbranchcode and a.po_id=@vTran_ID
	END ELSE IF (@vstatus='payment_sub_d')BEGIN
		
		DELETE a from tblunapaymentsub as a where a.branchcode= @vbranchcode and a.sysdocnum=@vTran_ID


	END ELSE IF (@vstatus='PO_Reject')BEGIN
		-- Keep history
		EXEC _history_trans @vstatus,@vBranchcode,@vTran_ID,@vInputter

		DELETE a from tblunaPurchaseOrder as a where a.branchcode= @vbranchcode and a.po_id=@vTran_ID
		DELETE a from tblunaPurchaseOrderDetails as a where a.branchcode= @vbranchcode and a.po_id=@vTran_ID

		return ;
	END ELSE IF (@vstatus='rcp_commit')BEGIN
		EXEC _history_trans @vstatus,@vBranchcode,@vTran_ID,@vInputter
		return ;

	END ELSE IF (@vstatus='POS_Reject' OR @vstatus='del_draf_pos')BEGIN

		EXEC _history_trans @vstatus,@vBranchcode,@vTran_ID,@vInputter
		DELETE a from tblunaInvoices as a where a.branchcode= @vbranchcode and a.rcp_num=@vTran_ID
		DELETE a from tblunaStockOuts as a where a.branchcode= @vbranchcode and a.rcp_num=@vTran_ID

	END ELSE IF (@vstatus='reject_stock_transfer')BEGIN

		DELETE a from tblunastocktransfers as a where a.branchcode= @vbranchcode and a.ts_id=@vTran_ID
		DELETE a from tblunastocktransferdetails as a where a.branchcode= @vbranchcode and a.ts_id=@vTran_ID

	END ELSE IF (@vstatus='r_paymentvoucher')BEGIN
		delete a from tblunapaymentvoucher as a where a.branchcode=@vBranchcode and a.pv_id=@vTran_ID
		delete a from tblunapaymentsub as a where a.branchcode=@vBranchcode and a.pv_id=@vTran_ID
		delete a from tbluna_payment_signature as a where a.branchcode=@vBranchcode and a.pv_id=@vTran_ID
	END ELSE IF (@vstatus='r_AccountPayable')BEGIN
		DELETE a from tbluna_account_payable as a where a.branchcode= @vbranchcode and a.ap_id=@vTran_ID
		DELETE a from tbluna_account_payable_sub as a where a.branchcode= @vbranchcode and a.ap_id=@vTran_ID
	END ELSE IF (@vstatus='account_payable_d')BEGIN
		DELETE a from tbluna_account_payable_sub as a where a.branchcode= @vbranchcode and a.sysdocnum=@vTran_ID
	END ELSE IF (@vstatus='del_account_payable')BEGIN
		delete a from tbluna_account_payable as a where a.branchcode=@vBranchcode and a.ap_id=@vTran_ID
		delete a from tbluna_account_payable_sub as a where a.branchcode=@vBranchcode and a.ap_id=@vTran_ID

	END ELSE IF (@vstatus='del_acc_paid')BEGIN
		DELETE a from tbl_account_payable_paid as a where a.branchcode= @vbranchcode and a.sysdoc=@vTran_ID
		
	END ELSE IF (@vstatus='POS_D')BEGIN
		DELETE a 
		from tblunaStockOuts as a where a.branchcode= @vbranchcode and a.sysdocnum=@vTran_ID

	END ELSE IF (@vstatus='ST_D')BEGIN
		DELETE a 
		from tblunastocktransferdetails as a where a.branchcode= @vbranchcode and a.sysdocnum=@vTran_ID
		
	 END ;
	 select @vTran_ID as trancode

END