
ALTER PROCEDURE [dbo].[proc_register_cost]
	@vstatus		nvarchar(25),
	@vbranchcode	nvarchar(25),
	@vpro_code		nvarchar(25),
	@vstock_code	nvarchar(25),
	@vbatch_id		nvarchar(25),
	@vCost			money,
	@vinputter		nvarchar(250)
AS
BEGIN

	DECLARE @vsysdocnum nvarchar(25)
	IF (@vstatus ='I')BEGIN
			SELECT 'A'
		
		IF NOT EXISTS (SELECT A.batch_id FROM tblcost AS A WHERE A.branchcode=@vbranchcode AND A.stock_code=@vstock_code AND A.pro_code=@vpro_code AND A.batch_id=@vbatch_id)BEGIN
			
			EXEC proc_next_id @vbranchcode,'COST_NUM','1',@vsysdocnum out ;
			INSERT INTO [dbo].[tblcost]
			   ([sysdocnum]
			   ,[branchcode]
			   ,[pro_code]
			   ,stock_code
			   ,[batch_id]
			   ,[cost]
			   ,[inputter]
			   ,[create_at]) values (@vsysdocnum,@vbranchcode,@vpro_code,@vstock_code,@vbatch_id,@vCost,@vinputter,GETDATE())
		END ELSE BEGIN

			UPDATE A SET A.cost=@vCost
			FROM tblcost AS A WHERE A.branchcode=@vbranchcode AND A.stock_code=@vstock_code AND A.pro_code=@vpro_code AND A.batch_id=@vbatch_id

		END
	END ELSE IF (@vstatus ='generate')BEGIN
		
		DELETE A FROM tblcost AS A WHERE A.branchcode=@vbranchcode AND A.stock_code=@vstock_code AND A.pro_code=@vpro_code AND A.batch_id=@vbatch_id
		IF EXISTS (SELECT A.batch_id FROM tblPurchaseOrderDetails AS A WHERE A.branchcode=@vbranchcode AND A.sto_id=@vstock_code AND A.pro_code=@vpro_code AND A.batch_id=@vbatch_id)BEGIN

			INSERT INTO [dbo].[tblcost]
			   ([sysdocnum]
			   ,[branchcode]
			   ,[pro_code]
			   ,stock_code
			   ,[batch_id]
			   ,[cost]
			   ,[inputter]
			   ,[create_at])
			   SELECT DISTINCT 
					A.sysdocnum,
					A.branchcode,
					A.pro_code,
					A.sto_id,
					A.batch_id,
					(ISNULL(A.cost,0)+ ISNULL(A.oth_cost,0)),
				    @vinputter,
					a.create_at
			   FROM tblPurchaseOrderDetails AS A WHERE A.branchcode=@vbranchcode AND A.sto_id=@vstock_code AND A.pro_code=@vpro_code AND A.batch_id=@vbatch_id 
		END ELSE BEGIN
			DELETE A FROM tblcost AS A WHERE A.branchcode=@vbranchcode AND A.stock_code=@vstock_code AND A.pro_code=@vpro_code AND A.batch_id=@vbatch_id
			EXEC proc_next_id @vbranchcode,'COST_NUM','1',@vsysdocnum out ;

			INSERT INTO [dbo].[tblcost]
			   ([sysdocnum]
			   ,[branchcode]
			   ,[pro_code]
			   ,stock_code
			   ,[batch_id]
			   ,[cost]
			   ,[inputter]
			   ,[create_at])
			   SELECT TOP 1  
					@vsysdocnum,
					A.branchcode,
					A.pro_code,
					@vstock_code,
					A.batch_id,
					(ISNULL(A.cost,0)+ ISNULL(A.oth_cost,0)),
				    @vinputter,
					GETDATE()
			   
			   FROM tblPurchaseOrderDetails AS A WHERE A.branchcode=@vbranchcode AND A.pro_code=@vpro_code AND A.batch_id=@vbatch_id 

		END

	END

END
