ALTER procedure [dbo].[proc_print_invoices]
	@vstatus		nvarchar(50),
	@vbranchcode	nvarchar(10),
	@vrcp			nvarchar(100)
AS 
BEGIN
	
	declare @vbestcurrency		nvarchar(20)
	declare @vsecondcurrency	nvarchar(20)
	declare @vbestsymbol		nvarchar(20)
	declare @vsecondsymbol		nvarchar(20)
	declare @vexchange			money

	set @vbestcurrency= dbo.fun_currency('bestcurrency',@vbranchcode,'')
	set @vsecondcurrency= dbo.fun_currency('secondcurrency',@vbranchcode,'')
	set @vbestsymbol= dbo.fun_currency('symbol',@vbranchcode,@vbestcurrency)
	set @vsecondsymbol= dbo.fun_currency('symbol',@vbranchcode,@vsecondcurrency)
	
	IF(@vstatus='una_print')BEGIN
		
		SELECT A.rcp_num,
			   A.BranchCode,
			   A.rcp_date,
			   ISNULL(A.flag,'0') AS flag,
			   A.cus_id,
			   B.cus_name,
			   B.phone,
			   b.address,
			   A.currency,
			   A.amount,
			   A.exchangrate,
			   A.create_at,
			   A.inputter,
			   '$' AS symbol,
			   CONVERT(NVARCHAR(50),A.rcp_date,103) AS printdate,
			   dbo.fun_exchangerate('total_una',a.branchcode,A.rcp_num,GETDATE()) as t_amount,
			   dbo.fun_value_exchange('value_exchange',@vbranchcode) as exchange
		INTO #tmpInvoice
		FROM tblunaInvoices AS A 
		INNER JOIN tblCustomers AS B ON A.BranchCode=B.BranchCode AND A.cus_id=B.cus_id
		WHERE A.BranchCode=@vbranchcode AND A.rcp_num=@vrcp
		
		
		SELECT A.rcp_num,
			   B.sysdocnum,
			   A.rcp_date,
			   A.cus_id,
			   A.cus_name,
			   A.address,
			   A.phone,
			   A.amount,
			   A.exchangrate,
			   A.create_at,
			   A.inputter,
			   A.printdate,
			   B.qty,
			   B.cost,
			   B.unitprice,
			   B.discount,
			   B.amount as sub_amount,
			   C.pro_name,
			   C.barcode,
			   A.t_amount,
			   CONVERT(varchar(25), dbo.fun_batch_id_by_product('expired',b.branchcode,b.pro_code,b.batch_id),111)  as expired,
			   dbo.fun_product_line('pack',b.branchcode,b.pro_code) as packing
		FROM #tmpInvoice AS A 
		INNER JOIN tblunaStockOuts AS B ON A.BranchCode=B.BranchCode AND A.rcp_num=B.rcp_num
		INNER JOIN tblProducts AS C ON B.BranchCode=C.BranchCode AND B.pro_code=C.pro_code
		ORDER BY B.sysdocnum
	END ELSE IF(@vstatus='pos_re_print')BEGIN
	
		
		SELECT A.rcp_num,
			   A.BranchCode,
			   A.rcp_date,
			   ISNULL(A.flag,'0') AS flag,
			   A.cus_id,
			   B.cus_name,
			   B.phone,
			   b.address,
			   A.currency,
			   A.amount,
			   A.exchangrate,
			   A.create_at,
			   A.inputter,
			   '$' AS symbol,
			   CONVERT(NVARCHAR(50),A.rcp_date,103) AS printdate,
			   dbo.fun_exchangerate('total_una',a.branchcode,A.rcp_num,GETDATE()) as t_amount,
			   dbo.fun_value_exchange('value_exchange',@vbranchcode) as exchange
		INTO #tmpPosInvoice
		FROM tblInvoices AS A 
		INNER JOIN tblCustomers AS B ON A.BranchCode=B.BranchCode AND A.cus_id=B.cus_id
		WHERE A.BranchCode=@vbranchcode AND A.rcp_num=@vrcp
		
		
		SELECT A.rcp_num,
			   B.sysdocnum,
			   A.rcp_date,
			   A.flag,
			   A.cus_id,
			   A.cus_name,
			   A.address,
			   A.phone,
			   A.amount,
			   A.exchangrate,
			   A.create_at,
			   A.inputter,
			   A.printdate,
			   B.qty,
			   B.cost,
			   B.unitprice,
			   B.discount,
			   B.amount as sub_amount,
			   C.pro_name,
			   C.barcode,
			   A.t_amount,
			   CONVERT(varchar(25), dbo.fun_batch_id_by_product('expired',b.branchcode,b.pro_code,b.batch_id),111)  as expired,
			   dbo.fun_product_line('pack',b.branchcode,b.pro_code) as packing
		FROM #tmpPosInvoice AS A 
		INNER JOIN tblStockOuts AS B ON A.BranchCode=B.BranchCode AND A.rcp_num=B.rcp_num
		INNER JOIN tblProducts AS C ON B.BranchCode=C.BranchCode AND B.pro_code=C.pro_code
		ORDER BY B.sysdocnum

	END
	

	--- proc_print_invoices 'una_print','0101','TI202512-00070'
	--- proc_print_invoices 'una_print','0101','TI202512-00071'



end