ALTER PROCEDURE [dbo].[proc_get_sql_search]
    @vstatus      NVARCHAR(50),
    @vbranchcode  NVARCHAR(10),
    @vcode1       NVARCHAR(50) = N'',
    @vcode2       NVARCHAR(50) = N''
AS
BEGIN
    SET NOCOUNT ON;

    DECLARE @contains NVARCHAR(52) = N'%' + @vcode1 + N'%';
    DECLARE @prefix   NVARCHAR(51) = @vcode1 + N'%';

    IF (@vcode1 = N'0000')
    BEGIN
        SET @contains = N'%';
        SET @prefix   = N'%';
    END;

    IF (@vstatus = N'search_customer')
    BEGIN
        SELECT DISTINCT TOP (100)
               a.cus_id,
               a.cus_name,
               a.phone,
               CASE WHEN a.active = '1' THEN 'Yes' ELSE 'No' END AS Active
        FROM tblCustomers AS a
        INNER JOIN sysconstants AS b
            ON a.active = b.con_id AND b.con_line = 'active'
        WHERE a.branchcode = @vbranchcode
          AND (a.cus_id   LIKE @contains
               OR a.cus_name LIKE @prefix
               OR a.cus_name LIKE @contains
               OR a.phone    LIKE @contains)
        ORDER BY a.cus_id;
    END
    ELSE IF (@vstatus = N'search_supply')
    BEGIN
        SELECT DISTINCT
               a.sup_id,
               a.sup_name,
               a.phone,
               CASE WHEN a.active = '1' THEN 'Yes' ELSE 'No' END AS Active,
               a.remark
        FROM tblSupplies AS a
        INNER JOIN sysconstants AS b
            ON a.active = b.con_id AND b.con_line = 'active'
        WHERE a.branchcode = @vbranchcode
          AND (a.sup_id    LIKE @contains
               OR a.sup_name LIKE @prefix
               OR a.sup_name LIKE @contains
               OR a.phone    LIKE @contains)
        ORDER BY a.sup_id;
    END
    ELSE IF (@vstatus = N'search_pos_rcp')
    BEGIN
        IF OBJECT_ID('tempdb..#tmpUnaInvoice') IS NOT NULL DROP TABLE #tmpUnaInvoice;

        SELECT a.rcp_num,
               a.branchcode,
               a.cus_id,
               a.inputter,
               a.create_at,
               b.cus_name,
               b.phone,
               CASE WHEN a.Editing IS NOT NULL THEN 'POS'
                    WHEN a.draft = '0' THEN 'editting' ELSE 'In Draft' END AS status
        INTO #tmpUnaInvoice
        FROM tblunaInvoices AS a
        INNER JOIN tblCustomers AS b
            ON a.branchcode = b.BranchCode AND a.cus_id = b.cus_id
        WHERE a.branchcode = @vbranchcode
          AND (a.rcp_num LIKE @contains OR a.cus_id LIKE @prefix OR b.cus_name LIKE @contains)
          AND a.flag = @vcode2;

        SELECT a.rcp_num,
               a.branchcode,
               a.cus_id,
               a.inputter,
               a.cus_name,
               a.phone,
               a.create_at,
               a.status
        FROM #tmpUnaInvoice AS a
        ORDER BY a.status, a.create_at DESC;
    END
    ELSE IF (@vstatus = N'search_pos_rcp_re')
    BEGIN
        IF OBJECT_ID('tempdb..#tmpReturnInvoice') IS NOT NULL DROP TABLE #tmpReturnInvoice;

        SELECT a.rcp_num,
               a.branchcode,
               a.cus_id,
               a.inputter,
               a.create_at,
               b.cus_name,
               b.phone,
               CASE WHEN a.Editing IS NOT NULL THEN 'POS'
                    WHEN a.draft = '0' THEN 'editting' ELSE 'In Draft' END AS status
        INTO #tmpReturnInvoice
        FROM tblunaInvoices AS a
        INNER JOIN tblCustomers AS b
            ON a.branchcode = b.BranchCode AND a.cus_id = b.cus_id
        WHERE a.branchcode = @vbranchcode
          AND (a.rcp_num LIKE @contains OR a.cus_id LIKE @prefix OR b.cus_name LIKE @contains)
          AND a.flag IN ('2','3');

        SELECT a.rcp_num,
               a.branchcode,
               a.cus_id,
               a.inputter,
               a.cus_name,
               a.phone,
               a.create_at,
               a.status
        FROM #tmpReturnInvoice AS a
        ORDER BY a.status, a.create_at DESC;
    END
    ELSE IF (@vstatus = N'search_product')
    BEGIN
        SELECT a.pro_code,
               a.branchcode,
               a.cost,
               a.barcode,
               a.pro_name,
               ISNULL(b.line_name,'None') AS line_name,
               ISNULL(c.line_name,'None') AS Molecule,
               ISNULL(d.line_name,'None') AS Packing,
               CASE WHEN a.active = '1' THEN 'Yes' ELSE 'No' END AS Active
        FROM tblProducts AS a
        LEFT JOIN tblLines AS b ON a.branchcode = b.branchcode AND a.line_id = b.line_id
        LEFT JOIN tblLines AS c ON a.branchcode = c.branchcode AND a.mol_id = c.line_id
        LEFT JOIN tblLines AS d ON a.branchcode = d.branchcode AND a.pack_id = d.line_id
        WHERE a.branchcode = @vbranchcode
          AND (a.pro_name  LIKE @contains
               OR b.line_name LIKE @contains
               OR c.line_name LIKE @contains
               OR d.line_name LIKE @contains);
    END
    ELSE IF (@vstatus = N'search_po_history')
    BEGIN
        SELECT DISTINCT
               a.po_id,
               a.branchcode,
               CONVERT(NVARCHAR(25), a.po_date, 103) AS po_date,
               a.sup_id,
               b.sup_name,
               b.phone,
               a.create_at,
               a.remark,
               CASE WHEN c.po_id IS NULL THEN 'New'
                    WHEN a.editing IS NOT NULL THEN 'Waiting Authorize'
                    ELSE 'In progress' END AS status
        FROM tblunaPurchaseOrder AS a
        INNER JOIN tblSupplies AS b ON a.branchcode = b.branchcode AND a.sup_id = b.sup_id
        LEFT JOIN tblunaPurchaseOrderDetails AS c ON a.branchcode = c.branchcode AND a.po_id = c.po_id
        WHERE a.branchcode = @vbranchcode
        ORDER BY a.create_at DESC;
    END
    ELSE IF (@vstatus = N'view_po_una')
    BEGIN
        SELECT DISTINCT
               a.po_id,
               a.sup_id,
               b.sup_name,
               a.remark,
               a.create_at
        FROM tblunaPurchaseOrder AS a
        INNER JOIN tblSupplies AS b ON a.branchcode = b.branchcode AND a.sup_id = b.sup_id
        WHERE a.branchcode = @vbranchcode
          AND a.Editing IS NOT NULL
          AND (a.po_id LIKE @contains OR b.sup_name LIKE @prefix)
        ORDER BY a.create_at DESC;
    END
    ELSE IF (@vstatus = N'search_type_line')
    BEGIN
        SELECT a.line_id,
               a.branchcode,
               a.line_name,
               a.active,
               CASE WHEN a.active = '1' THEN 'Yes' ELSE 'No' END AS Active,
               CASE WHEN a.line = 'line' THEN 'Line'
                    WHEN a.line = 'Mol'  THEN 'Molecule'
                    WHEN a.line = 'Pack' THEN 'PACKING' END AS type_line
        FROM tblLines AS a
        WHERE a.branchcode = @vbranchcode
          AND a.line IN ('line','Mol','Pack')
          AND a.line LIKE @prefix
        ORDER BY a.line_id;
    END

    --------------------------------------------------
    -- PAYMENT SUB
    --------------------------------------------------
    ELSE IF (@vstatus = N'payment_sub')
    BEGIN
        SELECT
            a.pv_id,
            a.branchcode,
            b.sysdocnum,
            b.pay_des,
            b.pay_no,
            b.pay_amount,
            b.create_at
        FROM tblunapaymentvoucher AS a
        INNER JOIN tblunapaymentsub AS b
            ON a.branchcode = b.branchcode AND a.pv_id = b.pv_id
        WHERE a.branchcode = @vbranchcode
          AND a.pv_id = @vcode1
        ORDER BY b.create_at;
    END

    --------------------------------------------------
    -- PAYMENT RESPONSE
    --------------------------------------------------
    ELSE IF (@vstatus = N'pv_response')
    BEGIN
        SELECT
            a.rs_id,
            a.branchcode,
            a.title,
            ISNULL(b.sysdocnum,'') AS sysdocnum,
            ISNULL(b.responder, a.rs_default) AS responder,
            ISNULL(b.position, a.rs_default_position) AS position,
            CONVERT(NVARCHAR(50), ISNULL(b.rs_date, GETDATE()), 103) AS rs_date
        FROM tbl_payment_response AS a
        LEFT JOIN tbluna_payment_signature AS b
            ON a.branchcode = b.branchcode
           AND a.rs_id     = b.rs_id
           AND b.pv_id     = @vcode1
        WHERE a.branchcode = @vbranchcode
          AND a.active = '1'
        ORDER BY a.rs_id;
    END

    --------------------------------------------------
    -- CHECK PAYMENT OPTION
    --------------------------------------------------
    ELSE IF (@vstatus = N'check_payment_option')
    BEGIN
        DECLARE @vcurrent_option NVARCHAR(50);
        DECLARE @vnew_option     NVARCHAR(50);
        DECLARE @vaccount        NVARCHAR(50);
        DECLARE @vmsg            NVARCHAR(250) = N'';
        DECLARE @vid_option      NVARCHAR(50);

        SELECT TOP 1
            @vcurrent_option = B.group_line,
            @vid_option      = B.line_id,
            @vaccount        = B.account
        FROM tblunapaymentvoucher AS A
        INNER JOIN tblpaymentlines AS B
            ON A.branchcode = B.branchcode
           AND A.pay_option = B.line_id
        WHERE A.branchcode = @vbranchcode
          AND A.pv_id      = @vcode1;

        SELECT TOP 1
            @vnew_option = group_line
        FROM tblpaymentlines
        WHERE branchcode = @vbranchcode
          AND line_id    = @vcode2;

        IF (@vcurrent_option = @vnew_option)
        BEGIN
            SELECT TOP 1
                @vaccount   = account,
                @vid_option = line_id
            FROM tblpaymentlines
            WHERE branchcode = @vbranchcode
              AND line_id    = @vcode2;
        END
        ELSE
        BEGIN
            SET @vmsg = N'The payment option cannot be changed for different lines.';
        END

        SELECT
            @vmsg AS msg,
            ISNULL(@vaccount, N'') AS account,
            ISNULL(@vid_option, N'') AS id_option;
    END


	ELSE IF (@vstatus = N'search_payment')
    BEGIN
		
		SELECT A.pv_id,
			   A.branchcode,
			   A.pay_date,
			   A.pay_to ,
			   A.pay_option,
			   A.receipt,
			   A.invoice,
			   A.inputter,
			   A.created_at,
			   B.title AS option_title
		FROM tblunapaymentvoucher AS A 
		LEFT JOIN tblpaymentlines AS B ON A.branchcode=B.branchcode AND A.pay_option=B.line_id
		WHERE A.branchcode=@vbranchcode AND A.draft='1' AND
			  ( A.pv_id LIKE @contains OR 
			    A.receipt LIKE @contains OR
			    A.receipt LIKE @prefix OR
			    B.title LIKE @contains OR
			    A.pay_to LIKE @contains 
			   )
			   ORDER BY A.pv_id
    END
     --------------------------------------------------
    -- PAYMENT SUB
    --------------------------------------------------
    ELSE IF (@vstatus = N'accounts_payable_sub')
    BEGIN
        SELECT
            a.ap_id,
            a.branchcode,
            a.ap_date,
            b.sysdocnum,
            b.description,
            b.amount,
            b.create_at
        FROM tbluna_account_payable AS a
        INNER JOIN tbluna_account_payable_sub AS b
            ON a.branchcode = b.branchcode AND a.ap_id = b.ap_id
        WHERE a.branchcode = @vbranchcode
          AND a.ap_id = @vcode1
        ORDER BY b.create_at;
    END

    
    ELSE IF @vstatus = 'accounts_payable_search'
    BEGIN
         
		 select distinct
                a.ap_id,
			    a.branchcode,
				a.inputter,
				a.ap_date,
				a.supply_id,
				a.invoice,
                c.sup_name,
                a.created_at
		 from tbluna_account_payable as a 
         inner join tbluna_account_payable_sub as b on a.branchcode=b.branchcode and a.ap_id=b.ap_id
         left join tblSupplies as c on a.branchcode=c.branchcode and a.supply_id=c.sup_id
		 where a.branchcode=@vbranchcode and a.draft=1 and ( a.ap_id like '%'+ @vcode1+'%' or a.invoice like '%'+ @vcode1+'%' or c.sup_name like '%'+ @vcode1+'%')
		 order by a.created_at

        RETURN
    END
    ELSE IF @vstatus = 'accounts_payable_paid'
    BEGIN
		 select a.ap_id,
			    a.branchcode,
				a.ap_date,
				a.invoice,
                c.sup_name ,
				dbo.fun_amount('acc_paid',a.branchcode,a.ap_id,'') as Balance
		 from tbl_account_payable as a
         left join tblSupplies as c on a.branchcode=c.branchcode and a.supply_id=c.sup_id
		 where a.branchcode=@vbranchcode and ( a.ap_id like '%'+ @vcode1+'%' or a.invoice like '%'+ @vcode1+'%' or c.sup_name like '%'+ @vcode1+'%') and dbo.fun_amount('acc_paid',a.branchcode,a.ap_id,'')<>0
		 order by a.ap_date

        RETURN

        END


END;
