ALTER procedure [dbo].[proc_generate_voucher]
	@vstatus        NVARCHAR(50),
	@vbranchcode    NVARCHAR(10),
	@vrpv_id        NVARCHAR(50),
	@vInputter      NVARCHAR(50) = 'IT.SYSTEM'
as
begin
	SET NOCOUNT ON;
	DECLARE @vDraftId NVARCHAR(20);

	IF (@vstatus = 'VoucherID')
	BEGIN
		 EXEC proc_next_id @vbranchcode,'DraftPVoucher','2',@vDraftId out ;

		SELECT @vDraftId AS trancode;
	END

END 