 ALTER procedure [dbo].[proc_register_paymentsub]
	@vsysdocnum		nvarchar(20),
	@vBranchCode	nvarchar(20),
	@vpv_id			nvarchar(20),
	@vpay_no		nvarchar(20),
	@vpv_desc		nvarchar(250),
	@vamount		money
as
begin

	IF(NOT EXISTS( SELECT * FROM tblunapaymentsub as a where a.branchcode=@vBranchCode and a.sysdocnum=@vsysdocnum) AND EXISTS (SELECT A.[pv_id] FROM [tblunapaymentvoucher] AS a where a.branchcode=@vBranchCode and a.[pv_id]=@vpv_id) )begin 
		
		if(@vsysdocnum='')begin
			exec proc_next_id @vbranchcode,'PV_SYSDOC','1',@vsysdocnum out ;
		end
		

		SELECT @vsysdocnum 

		INSERT INTO [dbo].[tblunapaymentsub]
           ([sysdocnum]
           ,[branchcode]
           ,[pv_id]
           ,[pay_no]
           ,[pay_des]
           ,[pay_amount]
		   ,[create_at])
		VALUES (@vsysdocnum,@vBranchCode,@vpv_id,@vpay_no,@vpv_desc,@vamount,getdate())

	end else begin 
		
		update a set 
			a.[pv_id]=@vpv_id,
			a.[pay_no]=@vpay_no,
			a.[pay_des]=@vpv_desc,
			a.[pay_amount]=@vamount,
			a.[create_at]=getdate()
		from [tblunapaymentsub] as a where a.branchcode=@vBranchCode and a.[sysdocnum]=@vsysdocnum
	end ;

	select @vpv_id as trancode ;

 --- proc_register_paymentsub N'',N'0101',N'DRA0031',N'',N'3',N'0'
end
