alter procedure [dbo].rpt_account_payable 
	@vBranchcode	nvarchar(20),
	@vsup_id		nvarchar(20),
	@vdate_from		date,
	@vdate_to		date
AS
BEGIN
	
	SELECT a.[ap_id]
		  ,a.[branchcode]
		  ,a.[supply_id]
		  ,a.[ap_date]
		  ,a.[invoice]
		  ,a.[remark]
		  ,a.[draft]
		  ,a.[amount]
		  ,a.[inputter]

	from tbl_account_payable as a 
	where a.branchcode=@vBranchcode and a.supply_id like @vsup_id+'%'


	--- exec rpt_account_payable '0101','S0003','2026-03-31','2026-03-01'

END 