ALTER procedure [dbo].[rpt_product_details] 
	@vBranchcode	nvarchar(20),
	@vsup_id		nvarchar(20),
	@vsto_id		nvarchar(20),
	@vpro_id		nvarchar(20),
	@vline_id		nvarchar(20),
	@vmol_id		nvarchar(20),
	@vpacking_id	nvarchar(20),
	@vdate_from		date,
	@vdate_to		date
AS
BEGIN

		select distinct 
		       a.pro_code,
			   b.pro_name,
			   a.BranchCode,
			   a.stock_code,
			   b.mol_id,
			   b.pack_id,
			   b.line_id
		into #tmpActive
		from TblTransactions as a 
		inner join tblProducts as b on a.BranchCode=b.branchcode and a.pro_code=b.pro_code
		where a.BranchCode=@vBranchcode and a.stock_code like @vsto_id +'%' and a.pro_code like @vpro_id +'%' and a.trans_date<=@vdate_to
		order by a.pro_code,a.BranchCode,a.stock_code




		select distinct 
		       a.pro_code,
			   a.pro_name,
			   a.BranchCode,
			   a.stock_code,
			   a.mol_id,
			   c.line_name as mol_name,
			   a.pack_id,
			   d.line_name as pack_name,
			   a.line_id,
			   b.line_name
		into #tmpActiveDetails
		from #tmpActive as a 
		inner join tblLines as b on a.BranchCode=b.branchcode and a.line_id=b.line_id
		inner join tblLines as c on a.BranchCode=c.branchcode and a.mol_id=c.line_id
		inner join tblLines as d on a.BranchCode=d.branchcode and a.pack_id=d.line_id

		select distinct 
		       a.pro_code,
			   a.BranchCode,
			   a.stock_code,
			   b.batch_id,
			   SUM(b.qty) as qty
		into #tmpOpening
		FROM #tmpActive AS A
		INNER JOIN TblTransactions AS B ON A.BranchCode=B.BranchCode AND A.pro_code=B.pro_code AND A.stock_code=B.stock_code and  b.trans_date<@vdate_from
		group by a.pro_code,
			   a.BranchCode,
			   a.stock_code,
			   b.batch_id HAVING  SUM(b.qty)<>0





		select a.pro_code,
			   a.BranchCode,
			   a.stock_code,
			   a.trans_code,
			   a.batch_id,
			   a.trans_date,
			   a.qty,
			   a.qty_balance,
			   a.sysdocnum,
			   a.status,
			   a.inputter,
			   a.create_at,
			   a.exp_date,
			   a.referent
		into #tmpTransactions
		from TblTransactions as a 
		inner join #tmpActive as b ON A.BranchCode=B.BranchCode AND A.pro_code=B.pro_code AND A.stock_code=B.stock_code 
		where a.BranchCode=@vBranchcode and a.stock_code like @vsto_id +'%' and a.pro_code like @vpro_id +'%' and a.trans_date between @vdate_from and @vdate_to
		order by a.pro_code,a.batch_id,a.sysdocnum,a.stock_code
 
		



		select distinct 
			   a.pro_code,
			   a.BranchCode,
			   a.stock_code,
			   a.batch_id,
			   a.qty,
			   b.cost,
			   b.oth_cost,
			   a.trans_date,
			   a.trans_code,
			   b.exp_date
		into #tmpPO
		from #tmpTransactions as a inner join tblPurchaseOrderDetails as b on a.BranchCode=b.branchcode and a.pro_code=b.pro_code and a.stock_code=b.sto_id and a.batch_id=b.batch_id and a.referent=b.po_id
		where a.trans_code in ('01') 



		select distinct 
			   a.pro_code,
			   a.BranchCode,
			   a.stock_code,
			   a.batch_id,
			   abs(a.qty) as qty,
			   b.cost,
			   (abs(a.qty)*b.cost) as t_cost,
			   b.amount,
			   (abs(a.qty)*b.amount) as t_amount,
			   a.trans_date,
			   a.trans_code,
			   a.exp_date,
			   a.referent
		into #tmpSale
		from #tmpTransactions as a left join tblStockOuts as b on a.BranchCode=b.branchcode and a.pro_code=b.pro_code and a.stock_code=b.sto_id and a.batch_id=b.batch_id and a.referent=b.rcp_num
		where a.trans_code in ('02') 

		---  rpt_product_details N'0101',N'%',N'%',N'PRO202512-0001',N'%',N'%',N'%',N'2026/01/01',N'2026/01/01'


		select a.pro_code,
			   a.BranchCode,
			   a.stock_code,
			   a.batch_id,
			   sum(a.qty) as qty
		into #tmpOther
		from #tmpTransactions as a 
		where a.trans_code not in ('01','02') and a.pro_code like @vpro_id +'%' and a.stock_code like @vsto_id+'%'
		group by a.pro_code,
			   a.BranchCode,
			   a.stock_code,
			   a.batch_id


		--- Merge all transaction and generate report
		create table #tmpMerge (pro_code nvarchar(25) , branchcode nvarchar(25) , stock_code nvarchar(25))
		insert into #tmpMerge (pro_code,branchcode,stock_code) select distinct pro_code,branchcode,stock_code from #tmpOpening as a 
		insert into #tmpMerge (pro_code,branchcode,stock_code) select distinct pro_code,branchcode,stock_code from #tmpPO as a 
		insert into #tmpMerge (pro_code,branchcode,stock_code) select distinct pro_code,branchcode,stock_code from #tmpSale as a 
		insert into #tmpMerge (pro_code,branchcode,stock_code) select distinct pro_code,branchcode,stock_code from #tmpOther as a 


		select distinct
			   a.pro_code,
			   a.branchcode,
			   a.stock_code,
			   convert(int,0) AS qty_opening,
			   convert(int,0) AS qty_po,
			   convert(money,0) AS cost_po,
			   convert(money,0) AS oth_cost_po,
			   convert(money,0) AS qty_sale,
			   convert(money,0) AS t_cost_sale,
			   convert(money,0) AS t_amount_sale,
			   convert(money,0) AS other_qty,
			   convert(money,0) AS qty_ending,
			   convert(money,0) AS cost_ending,
			   convert(nvarchar(50),'') AS STATUS
		into #tmpTransBatch
		from #tmpMerge as a 


 		select distinct 
		       a.pro_code,
			   a.BranchCode,
			   a.stock_code,
			   b.batch_id,
			   Max(isnull(c.cost,0)) as cost,
			   SUM(b.qty) as qty
		into #tmpEnding
		FROM #tmpTransBatch AS A
		INNER JOIN TblTransactions AS B ON A.BranchCode=B.BranchCode AND A.pro_code=B.pro_code AND A.stock_code=B.stock_code and  b.trans_date<=@vdate_to
		LEFT JOIN tblcost AS C ON C.BranchCode=B.BranchCode AND C.pro_code=B.pro_code AND C.stock_code=B.stock_code and C.batch_id=b.batch_id
		group by a.pro_code,
			   a.BranchCode,
			   a.stock_code,
			   b.batch_id HAVING SUM(b.qty)<>0


		
		select distinct 
		       a.pro_code,
			   a.BranchCode,
			   a.stock_code,
			   a.cost,
			   a.qty,
			   (a.cost*a.qty) as t_cost 
		into #tmpTotalEnding
		FROM #tmpEnding AS A
		order by a.pro_code,
			   a.BranchCode,
			   a.stock_code


		select distinct 
		       a.pro_code,
			   a.BranchCode,
			   a.stock_code,
			   SUM(a.qty) as qty,
			   SUM(a.t_cost) as t_cost
		into #tmpEndingSumamry
		FROM #tmpTotalEnding AS A
		group by a.pro_code,
			   a.BranchCode,
			   a.stock_code

		select a.BranchCode,
			   a.stock_code,
			   a.pro_code,
			   sum(a.qty) as qty
		into #tmpOpeningSummary
		from #tmpOpening as a group by 
			   a.BranchCode,
			   a.stock_code,
			   a.pro_code

		select a.BranchCode,
			   a.stock_code,
			   a.pro_code,
			   sum(a.qty) as qty
		into #tmpOtherSumamry
		from #tmpOther as a group by 
			   a.BranchCode,
			   a.stock_code,
			   a.pro_code

		select a.BranchCode,
			   a.stock_code,
			   a.pro_code,
			   sum(a.qty) as qty,
			   sum(a.cost) as cost,
			   sum(a.oth_cost) as oth_cost
		into #tmpPOSummary
		from #tmpPO as a group by 
			   a.BranchCode,
			   a.stock_code,
			   a.pro_code

			   
		select a.BranchCode,
			   a.stock_code,
			   a.pro_code,
			   sum(a.qty) as qty,
			   sum(a.t_cost) as t_cost,
			   sum(a.t_amount) as t_amount
		into #tmpSaleSummary
		from #tmpSale as a group by 
			   a.BranchCode,
			   a.stock_code,
			   a.pro_code
 

		update a set a.qty_opening=b.qty from #tmpTransBatch as a inner join #tmpOpeningSummary as b on a.branchcode=b.branchcode and a.stock_code=b.stock_code and a.pro_code=b.pro_code
		update a set a.qty_po=b.qty,cost_po=b.cost,a.oth_cost_po=b.oth_cost from #tmpTransBatch as a inner join #tmpPOSummary as b on a.branchcode=b.branchcode and a.stock_code=b.stock_code and a.pro_code=b.pro_code
		update a set a.qty_sale=b.qty,a.t_cost_sale=b.t_cost,a.t_amount_sale=b.t_amount from #tmpTransBatch as a inner join #tmpSaleSummary as b on a.branchcode=b.branchcode and a.stock_code=b.stock_code and a.pro_code=b.pro_code
		update a set a.other_qty=b.qty from #tmpTransBatch as a inner join #tmpOtherSumamry as b on a.branchcode=b.branchcode and a.stock_code=b.stock_code and a.pro_code=b.pro_code
		update a set a.qty_ending=b.qty , a.cost_ending=b.t_cost from #tmpTransBatch as a inner join #tmpEndingSumamry as b on a.branchcode=b.branchcode and a.stock_code=b.stock_code and a.pro_code=b.pro_code


	---  rpt_product_details N'0101',N'%',N'%',N'PRO202510-0018',N'%',N'%',N'%',N'2025/12/01',N'2025/12/28'

	---  rpt_product_details N'0101',N'%',N'%',N'%',N'%',N'%',N'%',N'2025/12/01',N'2025/12/29'

		select distinct 
		       a.pro_code,
			   a.pro_name,
			   a.BranchCode,
			   a.stock_code,
			   a.mol_name,
			   a.pack_name,
			   b.qty_opening,
			   b.qty_po,
			   b.cost_po,
			   (b.qty_po*b.cost_po) as t_cost_po,
			   b.oth_cost_po,
			   (b.qty_po*b.oth_cost_po) as t_oth_cost_po,
			   b.qty_sale,
			   b.t_cost_sale,
			   b.t_amount_sale,
			   b.other_qty,
			   b.qty_ending,
			   b.cost_ending
		INTO #tmpFinal
		from #tmpActiveDetails as a 
		INNER JOIN #tmpTransBatch AS B ON A.BranchCode=B.branchcode AND A.stock_code=B.stock_code AND A.pro_code=B.pro_code
	 

 

		select distinct 
		       a.pro_code,
			   a.pro_name,
			   b.sto_name,
			   a.mol_name,
			   a.pack_name,
			   sum(a.qty_opening) as qty_opening,
			   sum(a.qty_po) as qty_po,
			   sum(a.cost_po) as cost_po,
			   sum(a.oth_cost_po) as oth_cost_po,
			   sum(a.t_oth_cost_po) as t_oth_cost_po,
			   sum(a.qty_sale) as qty_sale,
			   sum(a.t_cost_sale) as t_cost_sale,
			   sum(a.t_amount_sale) as t_amount_sale,
			   sum(a.other_qty) as other_qty,
			   sum(a.qty_ending) as qty_ending,
			   sum(isnull(a.cost_ending,0)) as cost_ending
		from #tmpFinal as a 
		inner join tblStockMenu as b on a.BranchCode=b.branchcode and a.stock_code=b.sto_id
		group by a.pro_code,
			   a.pro_name,
			   b.sto_name,
			   a.mol_name,
			   a.pack_name
			   order by a.pro_code,b.sto_name

END 