USE [HMS_TAX]
GO
/****** Object:  Table [dbo].[sys_user_logins]    Script Date: 24/10/2025 8:29:29 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[sys_user_logins](
	[user_id] [nvarchar](10) NOT NULL,
	[branchcode] [nvarchar](10) NOT NULL,
	[sub_of_branch] [nvarchar](10) NOT NULL,
	[profile_id] [nvarchar](10) NOT NULL,
	[user_login] [nvarchar](250) NULL,
	[user_pwd] [nvarchar](250) NULL,
	[disable] [bit] NULL,
	[create_at] [datetime] NULL,
	[expired_at] [date] NULL,
	[inputter] [nvarchar](150) NULL,
 CONSTRAINT [PK_sys_user_logins] PRIMARY KEY CLUSTERED 
(
	[user_id] ASC,
	[branchcode] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[sysbranch]    Script Date: 24/10/2025 8:29:29 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[sysbranch](
	[branchcode] [nvarchar](10) NOT NULL,
	[subofbranch] [nvarchar](10) NOT NULL,
	[is_branch] [bit] NULL,
	[Disable] [bit] NULL,
	[branchname] [nvarchar](250) NULL,
	[branchshort] [nvarchar](250) NULL,
	[inputter] [nvarchar](150) NULL,
	[create_at] [datetime] NULL,
 CONSTRAINT [PK_tblbranch] PRIMARY KEY CLUSTERED 
(
	[branchcode] ASC,
	[subofbranch] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[sysconstants]    Script Date: 24/10/2025 8:29:29 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[sysconstants](
	[con_id] [nvarchar](50) NOT NULL,
	[con_display] [nvarchar](50) NOT NULL,
	[con_line] [nvarchar](50) NOT NULL,
	[disable] [bit] NULL,
 CONSTRAINT [PK_sysconstants] PRIMARY KEY CLUSTERED 
(
	[con_id] ASC,
	[con_display] ASC,
	[con_line] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[sysversions]    Script Date: 24/10/2025 8:29:29 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[sysversions](
	[version] [nvarchar](50) NOT NULL,
	[date_at] [date] NULL,
	[tag] [nvarchar](1) NULL,
 CONSTRAINT [PK_sys_versions] PRIMARY KEY CLUSTERED 
(
	[version] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[tbl_user_profile]    Script Date: 24/10/2025 8:29:29 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[tbl_user_profile](
	[pro_id] [nvarchar](10) NOT NULL,
	[pro_name] [nvarchar](50) NULL,
	[pro_name_kh] [nvarchar](50) NULL,
	[disable] [bit] NULL,
	[inputter] [nvarchar](150) NULL,
	[create_at] [datetime] NULL,
 CONSTRAINT [PK_tbl_user_profile] PRIMARY KEY CLUSTERED 
(
	[pro_id] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[tblcurrencies]    Script Date: 24/10/2025 8:29:29 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[tblcurrencies](
	[currencycode] [nvarchar](10) NOT NULL,
	[branchcode] [nvarchar](10) NOT NULL,
	[currency] [nvarchar](250) NULL,
	[currencysymbol] [nvarchar](10) NULL,
	[currencyshort] [nvarchar](250) NULL,
	[smallestcharge] [money] NULL,
	[basecurrency] [bit] NULL,
	[active] [bit] NULL,
	[orders] [int] NULL,
	[inputter] [nvarchar](250) NULL,
	[create_at] [datetime] NULL,
 CONSTRAINT [PK_tblcurrencies] PRIMARY KEY CLUSTERED 
(
	[currencycode] ASC,
	[branchcode] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[tblCustomers]    Script Date: 24/10/2025 8:29:29 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[tblCustomers](
	[cus_id] [nvarchar](20) NOT NULL,
	[BranchCode] [nvarchar](10) NOT NULL,
	[cus_name] [nvarchar](250) NULL,
	[gender] [nvarchar](60) NULL,
	[dob] [date] NULL,
	[active] [bit] NULL,
	[age] [tinyint] NULL,
	[phone] [nvarchar](50) NULL,
	[remark] [nvarchar](250) NULL,
	[province] [nvarchar](20) NULL,
	[district] [nvarchar](20) NULL,
	[commune] [nvarchar](20) NULL,
	[village] [nvarchar](20) NULL,
	[address] [nvarchar](250) NULL,
	[inputter] [nvarchar](250) NULL,
	[create_at] [datetime] NULL,
	[update_at] [datetime] NULL,
 CONSTRAINT [PK_tblCustomers] PRIMARY KEY CLUSTERED 
(
	[cus_id] ASC,
	[BranchCode] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[tblProducts]    Script Date: 24/10/2025 8:29:29 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[tblProducts](
	[pro_code] [nvarchar](20) NOT NULL,
	[barcode] [nvarchar](20) NOT NULL,
	[BranchCode] [nvarchar](10) NOT NULL,
	[pro_type] [nvarchar](20) NOT NULL,
	[pro_line] [nvarchar](20) NULL,
	[pro_name] [nvarchar](250) NULL,
	[active] [bit] NULL,
	[cost_tax] [float] NULL,
	[cost] [float] NULL,
	[unitprice] [float] NULL,
	[discount] [float] NULL,
	[remark] [nvarchar](250) NULL,
	[create_at] [datetime] NULL,
	[expired_at] [date] NULL,
	[inputter] [nvarchar](250) NULL,
	[update_at] [datetime] NULL,
 CONSTRAINT [PK_tblProducts] PRIMARY KEY CLUSTERED 
(
	[pro_code] ASC,
	[barcode] ASC,
	[BranchCode] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[tblRecordid]    Script Date: 24/10/2025 8:29:29 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[tblRecordid](
	[branchcode] [nvarchar](10) NOT NULL,
	[convalue] [nvarchar](50) NOT NULL,
	[recordid] [int] NULL,
	[description] [nvarchar](250) NULL,
 CONSTRAINT [PK_blRecordid] PRIMARY KEY CLUSTERED 
(
	[branchcode] ASC,
	[convalue] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[TblTransactions]    Script Date: 24/10/2025 8:29:29 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[TblTransactions](
	[sysdoc] [nvarchar](20) NOT NULL,
	[BranchCode] [nvarchar](10) NOT NULL,
	[stock_code] [nvarchar](20) NULL,
	[pro_code] [nvarchar](20) NULL,
	[barcode] [nvarchar](20) NULL,
	[trans_date] [date] NULL,
	[trans_code] [nvarchar](20) NULL,
	[qty] [int] NULL,
	[qty_balance] [money] NULL,
	[referent] [nvarchar](250) NULL,
	[status] [nvarchar](250) NULL,
	[inputter] [nvarchar](250) NULL,
	[create_at] [datetime] NULL,
	[authoriser] [nvarchar](250) NULL,
	[authorize_at] [datetime] NULL,
 CONSTRAINT [PK_TblTransactions_1] PRIMARY KEY CLUSTERED 
(
	[sysdoc] ASC,
	[BranchCode] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY]
GO
INSERT [dbo].[sys_user_logins] ([user_id], [branchcode], [sub_of_branch], [profile_id], [user_login], [user_pwd], [disable], [create_at], [expired_at], [inputter]) VALUES (N'1010-0001', N'0101', N'0101', N'02', N'reanit', N'gMJWe9NHnAnecmSXYNIhHsLcOJ5C6XNA/yBV+CI8riWkrmTXGtr9/A==', 0, CAST(N'2022-01-08T10:49:25.143' AS DateTime), CAST(N'2023-01-08' AS Date), N'bongmap.user')
GO
INSERT [dbo].[sysbranch] ([branchcode], [subofbranch], [is_branch], [Disable], [branchname], [branchshort], [inputter], [create_at]) VALUES (N'0101', N'9090', 1, 0, N'TC', N'TC', N'reancode.user', CAST(N'2022-01-16T20:18:08.790' AS DateTime))
GO
INSERT [dbo].[sysconstants] ([con_id], [con_display], [con_line], [disable]) VALUES (N'0', N'No', N'Active', 0)
INSERT [dbo].[sysconstants] ([con_id], [con_display], [con_line], [disable]) VALUES (N'01', N'Male', N'gender', 0)
INSERT [dbo].[sysconstants] ([con_id], [con_display], [con_line], [disable]) VALUES (N'02', N'Female', N'gender', 0)
GO
INSERT [dbo].[sysversions] ([version], [date_at], [tag]) VALUES (N'0.0.0.1', CAST(N'2025-01-17' AS Date), N'1')
GO
INSERT [dbo].[tbl_user_profile] ([pro_id], [pro_name], [pro_name_kh], [disable], [inputter], [create_at]) VALUES (N'01', N'Requester', N'អ្នកស្នើរសុំ', 0, N'reancode.user', CAST(N'2022-01-16T20:18:08.790' AS DateTime))
INSERT [dbo].[tbl_user_profile] ([pro_id], [pro_name], [pro_name_kh], [disable], [inputter], [create_at]) VALUES (N'02', N'Approver', N'អ្នកទទួលដោះស្រាយ', 0, N'reancode.user', CAST(N'2022-01-16T20:18:08.790' AS DateTime))
GO
INSERT [dbo].[tblCustomers] ([cus_id], [BranchCode], [cus_name], [gender], [dob], [active], [age], [phone], [remark], [province], [district], [commune], [village], [address], [inputter], [create_at], [update_at]) VALUES (N'C0001', N'0101', N'BONG REAN', N'01', NULL, 1, NULL, N'012 550003', N'Phnom Penh', NULL, NULL, NULL, NULL, NULL, N'reanit', CAST(N'2025-10-23T21:41:56.953' AS DateTime), CAST(N'2025-10-23T22:53:24.180' AS DateTime))
INSERT [dbo].[tblCustomers] ([cus_id], [BranchCode], [cus_name], [gender], [dob], [active], [age], [phone], [remark], [province], [district], [commune], [village], [address], [inputter], [create_at], [update_at]) VALUES (N'C0002', N'0101', N'JOIN​ CODER', N'01', NULL, 1, NULL, N'015888005 010 888 77799', N'pppp', NULL, NULL, NULL, NULL, N'Sen Sok , Phnom penh', N'reanit', CAST(N'2025-10-23T21:42:32.543' AS DateTime), CAST(N'2025-10-24T12:36:11.877' AS DateTime))
INSERT [dbo].[tblCustomers] ([cus_id], [BranchCode], [cus_name], [gender], [dob], [active], [age], [phone], [remark], [province], [district], [commune], [village], [address], [inputter], [create_at], [update_at]) VALUES (N'C0003', N'0101', N'REAN iT', N'01', NULL, 0, NULL, N'011 88800085', N'', NULL, NULL, NULL, NULL, N'Sen Sok , Aeon 2 ,Phnom Penh Thmey', N'reanit', CAST(N'2025-10-23T21:45:33.900' AS DateTime), CAST(N'2025-10-23T23:05:49.997' AS DateTime))
GO
INSERT [dbo].[tblProducts] ([pro_code], [barcode], [BranchCode], [pro_type], [pro_line], [pro_name], [active], [cost_tax], [cost], [unitprice], [discount], [remark], [create_at], [expired_at], [inputter], [update_at]) VALUES (N'114264', N'none', N'0101', N'1001', NULL, N'Item 002', 1, 2.8, 2, 6, 10, N'e', CAST(N'2025-10-24T19:58:53.580' AS DateTime), NULL, N'reanit', NULL)
INSERT [dbo].[tblProducts] ([pro_code], [barcode], [BranchCode], [pro_type], [pro_line], [pro_name], [active], [cost_tax], [cost], [unitprice], [discount], [remark], [create_at], [expired_at], [inputter], [update_at]) VALUES (N'3F86FE', N'none', N'0101', N'1001', NULL, N'Item 00203', 1, 3.33, 2, 5.5, 20, N'', CAST(N'2025-10-24T20:01:56.850' AS DateTime), NULL, N'reanit', NULL)
INSERT [dbo].[tblProducts] ([pro_code], [barcode], [BranchCode], [pro_type], [pro_line], [pro_name], [active], [cost_tax], [cost], [unitprice], [discount], [remark], [create_at], [expired_at], [inputter], [update_at]) VALUES (N'7FD096', N'none', N'0101', N'1001', NULL, N'New items', 1, 3, 2, 7, 30, N'', CAST(N'2025-10-24T19:58:10.047' AS DateTime), NULL, N'reanit', NULL)
GO
INSERT [dbo].[tblRecordid] ([branchcode], [convalue], [recordid], [description]) VALUES (N'0101', N'CUSTOMER', 5, N'CUSTOMER')
GO
/****** Object:  StoredProcedure [dbo].[pro_get_combo]    Script Date: 24/10/2025 8:29:29 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE procedure [dbo].[pro_get_combo]
	@vstatus		nvarchar(50),
	@vCon1			NVARCHAR(100)=''
AS
BEGIN

	IF (@vstatus='Active')BEGIN

		SELECT DISTINCT 
			   A.con_id AS code,
			   A.con_display AS title
		FROM sysconstants AS A
		WHERE A.con_line='Active'
		ORDER BY code DESC 
	
	END ELSE IF (@vstatus='Gender')BEGIN
		select '' as code , 
			    ' ' as title
		UNION  ALL
		SELECT DISTINCT 
			     A.con_id AS code,
			     A.con_display AS title
		  FROM sysconstants AS A
		  WHERE A.con_line='Gender'
      ORDER BY code  
	END;

END 
GO
/****** Object:  StoredProcedure [dbo].[pro_get_combo_by_branch]    Script Date: 24/10/2025 8:29:29 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
create procedure [dbo].[pro_get_combo_by_branch]
	@vstatus		nvarchar(50),
	@vBranchcode	NVARCHAR(100),
	@vCon1			NVARCHAR(100)=''
AS
BEGIN

	IF (@vstatus='Active')BEGIN

		SELECT DISTINCT 
			   A.con_id AS code,
			   A.con_display AS title
		FROM sysconstants AS A
		WHERE A.con_line='Active'
		ORDER BY code DESC 

	END;

END 
GO
/****** Object:  StoredProcedure [dbo].[proc_customerinfo]    Script Date: 24/10/2025 8:29:29 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
create procedure [dbo].[proc_customerinfo]
	@vstatus		nvarchar(10),
	@vbranchcode	nvarchar(10),
	@vcus_id		nvarchar(10),
	@vname			nvarchar(250),
	@vgender		nvarchar(20),
	@vactive		nvarchar(20),
	@vphone			nvarchar(20),
	@vinputter		nvarchar(250)
as
begin
	
	if(@vstatus='i')begin
		
		exec proc_next_id @vbranchcode,'customerinfo','1',@vcus_id out ;

		insert into tblCustomers(cus_id,branchcode,cus_name,gender,active,phone,inputter,create_at)
			   values (@vcus_id,@vbranchcode,@vname,@vgender,@vactive,@vphone,@vinputter,GETDATE())
	end else if(@vstatus='u')begin 
		
		update a set 
			   a.cus_name=@vname,
			   a.gender=@vgender,
			   a.active=@vactive,
			   a.phone=@vphone,
			   a.update_at=GETDATE()
		from tblCustomers as a where a.branchcode=@vbranchcode and a.cus_id=@vcus_id


	end 

	select @vcus_id as trancode 

end
GO
/****** Object:  StoredProcedure [dbo].[proc_get_constants]    Script Date: 24/10/2025 8:29:29 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
create PROCEDURE [dbo].[proc_get_constants]
	@vline nvarchar(50)
AS
BEGIN
	select	convert(nvarchar(50),'') as code , 
			convert(nvarchar(50),'choose option') as name 
	union all 
	select	convert(nvarchar(50),a.con_id) as code , 
			convert(nvarchar(50),a.con_display) as name  
	from sysConstants as a where a.disable='0' and a.con_line=@vline
	order by code;

END
GO
/****** Object:  StoredProcedure [dbo].[proc_get_sql]    Script Date: 24/10/2025 8:29:29 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE procedure [dbo].[proc_get_sql]
	@vstatus		nvarchar(50),
	@vbranchcode	nvarchar(10),
	@vcode1			nvarchar(50)='',
	@vcode2			nvarchar(50)=''
as
begin
	
	if(@vcode1='0000')begin
		 set @vcode1='%'
	end 

	if (@vstatus='show_customer') begin

		select  distinct 
			   a.cus_id ,
			   a.cus_name,
			   a.phone,
			   a.remark,
			   a.address,
			   a.gender,
			   isnull(a.address,'') as address,
			   convert(nvarchar(50),a.active) as active
		from tblCustomers as a
		inner join sysconstants as b on a.active=b.con_id and b.con_line='active'
		where a.branchcode=@vbranchcode and a.cus_id=@vcode1
		order by a.cus_id

	end


end
GO
/****** Object:  StoredProcedure [dbo].[proc_get_sql_search]    Script Date: 24/10/2025 8:29:29 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE procedure [dbo].[proc_get_sql_search]
	@vstatus		nvarchar(50),
	@vbranchcode	nvarchar(10),
	@vcode1			nvarchar(50)='',
	@vcode2			nvarchar(50)=''
as
begin
	
	if(@vcode1='0000')begin
		 set @vcode1='%'
	end 

	if (@vstatus='search_customer') begin

		select  distinct top 100
			   a.cus_id ,
			   a.cus_name,
			   a.phone,
			   case when a.active='1' then 'Yes' else 'No' end as Active
		from tblCustomers as a
		inner join sysconstants as b on a.active=b.con_id and b.con_line='active'
		where a.branchcode=@vbranchcode and (a.cus_id like '%'+ @vcode1+'%' or a.cus_name like @vcode1+'%' or a.cus_name like '%'+ @vcode1+'%'  or a.phone like '%'+ @vcode1+'%' )
		order by a.cus_id

	end


end
GO
/****** Object:  StoredProcedure [dbo].[proc_next_id]    Script Date: 24/10/2025 8:29:29 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
create PROCEDURE [dbo].[proc_next_id]
	@vbranchcode nvarchar(10),
	@vcolumns	nvarchar(50),
	@vlevels	nvarchar(50),
	@vcode		nvarchar(100) OUTPUT 
AS
BEGIN
	
	declare @vsequence	NVARCHAR(100)
	declare @vtype		NVARCHAR(100)
	declare @vsql		NVARCHAR(250)
	declare @retval		int   
	declare @ParmDefinition nvarchar(500);
	declare @vMinlength	int =4
	declare @vMaxlength	int =8


	set		@vcolumns=UPPER(ISNULL(@vcolumns,''))
	select	@vsql = N'select @retvalOUT = MAX(ISNULL(recordid,0)) from tblrecordid where  branchcode=''' + @vbranchcode+ ''' and convalue='''+ @vcolumns + '''';  
	set		@ParmDefinition = N'@retvalOUT int OUTPUT';
		
	IF NOT EXISTS ( SELECT BRANCHCODE FROM tblrecordid WHERE branchcode=@vbranchcode AND convalue=@vcolumns)BEGIN
		SELECT @vbranchcode AS BranchCode ,@vcolumns AS ConValue,'' AS recordid,@vcolumns AS [Description] INTO #tmpData  
		INSERT INTO tblrecordid (branchcode,convalue,recordid,description) SELECT * FROM #tmpData
	END

	EXEC sp_executesql @vsql, @ParmDefinition, @retvalOUT=@retval OUTPUT;
	SET   @vsequence= @retval+1;
	SET   @vsql = ' UPDATE tblrecordid SET recordid= ' + @vsequence +'  WHERE convalue='''+ @vcolumns + ''' AND branchcode= '''+@vbranchcode+'''' ;  
	Exec (@vsql)

	IF (@vlevels='branchcode')BEGIN
		SET   @vcode = REPLICATE(0,4-LEN(@vsequence)) + @vsequence;
	END ELSE IF (@vlevels='0')BEGIN
		---	0235
		SET   @vcode = REPLICATE(0,@vMinlength-LEN(@vsequence)) + @vsequence;
	END ELSE IF (@vlevels='1')BEGIN
		--- 1010-0234
		SET   @vcode = @vbranchcode+'-'+ REPLICATE(0,@vMinlength-LEN(@vsequence)) + @vsequence;
	END ELSE IF (@vlevels='2')BEGIN
		SET   @vcode = ISNULL(LEFT(@vcolumns,3),'N')+REPLICATE(0,@vMinlength-LEN(@vsequence)) + @vsequence;
	END ELSE IF (@vlevels='3')BEGIN
		SET   @vcode = ISNULL(LEFT(@vcolumns,1),'N')+REPLICATE(0,@vMinlength-LEN(@vsequence)) + @vsequence;
	END ELSE IF (@vlevels='9')BEGIN
		--- 2021115-00000232
		SET   @vcode =RIGHT(Convert(NVARCHAR(10),datepart(yyyy, getdate())),4)+RIGHT(Convert(NVARCHAR(10),datepart(MM, getdate())),2)+RIGHT(Convert(NVARCHAR(10),datepart(DD, getdate())),2)+'-'+ CONVERT(NVARCHAR(100),ISNULL(REPLICATE(0,@vMaxlength-LEN(@vsequence)),'') + @vsequence);
	END
END
GO
/****** Object:  StoredProcedure [dbo].[proc_register_customer]    Script Date: 24/10/2025 8:29:29 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE procedure [dbo].[proc_register_customer] 
	@CMD			    NVARCHAR(10),
	@vCus_ID			NVARCHAR(10),
	@vBranchcode		NVARCHAR(10),
	@vName				NVARCHAR(250),
	@vGender			NVARCHAR(50),
	@vActive			BIT,
	@vPhone				NVARCHAR(250),
	@vAddress			NVARCHAR(250),
	@vRemark			NVARCHAR(250),
	@vInputter			NVARCHAR(150)

as
begin

	IF(@CMD='I')BEGIN
		
     EXEC proc_next_id @vbranchcode,'customer','3',@vCus_ID out ;
		
   INSERT INTO [tblCustomers]
           ([cus_id]
           ,[BranchCode]
           ,[cus_name]
           ,[gender]
           ,[phone]
           ,[active]
		   ,[address]
           ,remark
           ,[inputter]
           ,create_at) values (@vCus_ID,@vBranchcode,@vName,@vGender,@vPhone,@vActive,@vAddress,@vRemark,@vInputter,GETDATE())

	END ELSE IF(@CMD='U')BEGIN
		 update a set 
            a.cus_name=@vName,
            a.phone=@vPhone,
            a.remark=@vRemark,
            a.gender=@vGender,
            a.active=@vActive,
			a.[address]=@vAddress,
            a.inputter=@vInputter,
            a.update_at=GETDATE()
     from [tblCustomers] as a 
     where a.branchcode=@vBranchcode and a.cus_id=@vCus_ID
	END
	SELECT @vCus_ID AS TRANCODE
end
GO
/****** Object:  StoredProcedure [dbo].[proc_register_product]    Script Date: 24/10/2025 8:29:29 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE procedure [dbo].[proc_register_product]
	@vCMD			nvarchar(10),
	@vpro_code		nvarchar(50),
	@vbarcode		nvarchar(100),
	@vBranchCode	nvarchar(10),
	@vpro_name		nvarchar(10),
	@vactive		bit,
	@vcost_tax		money,
	@vcost			money,
	@vunitprice		money,
	@vdiscount		money,
	@vremark		nvarchar(250),
	@vinputter		nvarchar(100)

as
begin

	if(@vCMD='I')begin 

			set @vpro_code=LEFT(newid(),6)

			INSERT INTO [tblProducts]
				   ([pro_code]
				   ,[barcode]
				   ,[BranchCode]
				   ,[pro_type]
				   ,[pro_name]
				   ,[active]
				   ,[cost_tax]
				   ,[cost]
				   ,[unitprice]
				   ,[discount]
				   ,[remark]
				   ,[create_at]
				   ,[inputter])
			 VALUES (@vpro_code,@vbarcode,@vBranchCode,'1001',@vpro_name,@vactive,@vcost_tax,@vcost,@vunitprice,@vdiscount,@vremark,GETDATE(),@vinputter)

	end ;

	select @vpro_code as trancode ;

 --- proc_register_product 'I'
end
GO
/****** Object:  StoredProcedure [dbo].[proc_user_login]    Script Date: 24/10/2025 8:29:29 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE procedure [dbo].[proc_user_login]
	@vUserlogin		nvarchar(50)
AS
BEGIN

	select distinct 
			a.user_id,
			a.branchcode,
			a.sub_of_branch,
			a.profile_id,
			a.user_login,
			a.disable,
			b.pro_name,
			a.user_pwd
	from sys_user_logins as a 
	inner join tbl_user_profile as b on a.profile_id=b.pro_id
	where a.user_login=@vUserlogin;

END 
GO
