create procedure [dbo].[proc_version]
	@vstatus			nvarchar(50),
	@vCurrentVersion	nvarchar(50),
	@vNewVersion		nvarchar(50)
as
begin
	
	DECLARE @vVersion	nvarchar(50)
	DECLARE @vMsg		nvarchar(50)

	IF(@vstatus='CH_VERSION')BEGIN
		
		SET @vVersion =ISNULL((SELECT TOP 1 version FROM sysversions ORDER BY date_at DESC ),'0.0.0.1')

		IF(@vVersion<@vNewVersion AND @vCurrentVersion=@vVersion)BEGIN
			SET @vMsg='UPDATED' 
		END ELSE IF(@vVersion>@vNewVersion)BEGIN 
			SET @vMsg='DB-HIGH' 

		END ELSE IF(@vVersion<@vNewVersion AND @vCurrentVersion<>@vVersion)BEGIN 
			SET @vMsg='DB-LOWER' 
		END
		
		SELECT @vMsg AS STATUS
	END


	--- proc_version 'CH_VERSION','0.0.0.1','0.0.0.2'
	--- proc_version 'CH_VERSION','0.0.0.0','0.0.0.2'

end 