ALTER procedure [dbo].[proc_get_sql_exchange]
	@vstatus		nvarchar(50),
	@vbranchcode	nvarchar(10),
	@vcode1			nvarchar(50)='',
	@vcode2			nvarchar(50)=''
as
begin
	
	 if (@vstatus='cbo_currency') begin
		
		select '' as code , 
			    ' ' as NAME
		    UNION  ALL
		select a.currencycode,
			   a.currencyshort as currency
			  
		from tblcurrencies as a
		where   a.branchcode=@vbranchcode and a.currencycode like @vcode1+'%'
		order by code;

	end else if (@vstatus='cbo_currency_info') begin
		select a.currencycode,
			   a.currencyshort as currency,
			   isnull(a.currencysymbol,'') as currencysymbol,
			   isnull(a.smallestcharge,0) as smallestcharge,
			   isnull(a.basecurrency,0) as basecurrency
		from tblcurrencies as a
		where   a.branchcode=@vbranchcode and a.currencycode=@vcode1
		order by currencycode;

	end else if (@vstatus='load_currency') begin
		
		create table #tmpcurrencies (code1 nvarchar(10),branchcode nvarchar(10), currency1 nvarchar(20),sysmbol1 nvarchar(20), smallest1 money,exchange1 money, code2 nvarchar(10), currency2 nvarchar(20),sysmbol2 nvarchar(20), smallest2 money,exchange2 money ,Hasusing  nvarchar(20),stock_pos  nvarchar(20) )
		insert into #tmpcurrencies (code1) values ('')
		
		update a set 
			   a.branchcode=@vbranchcode,
			   a.code1=dbo.fun_currency('bestcurrency',@vbranchcode,''),
			   a.code2=dbo.fun_currency('secondcurrency',@vbranchcode,''),
			   a.stock_pos=dbo.fun_stock('stock_pos',@vbranchcode,'')
		from #tmpcurrencies as a 

		update a set 
			   a.currency1=b.currencyshort,
			   a.sysmbol1=b.currencysymbol,
			   a.smallest1=b.smallestcharge,
			   a.exchange1=dbo.fun_exchangerate('exchange',@vbranchcode,a.code1,GETDATE())
		from #tmpcurrencies as a 
		inner join tblcurrencies as b on b.branchcode=a.branchcode and a.code1=b.currencycode

		update a set 
			   a.currency2=b.currencyshort,
			   a.sysmbol2=b.currencysymbol,
			   a.smallest2=b.smallestcharge,
			   a.exchange2=dbo.fun_exchangerate('exchange',@vbranchcode,a.code2,GETDATE())
		from #tmpcurrencies as a 
		inner join tblcurrencies as b on b.branchcode=a.branchcode and a.code2=b.currencycode


		if exists (select top 1 * from tblInvoices as a )begin
			
			update a set Hasusing='Yes' from #tmpcurrencies as a 

		end else begin

			update a set Hasusing='No' from #tmpcurrencies as a 

		end

		select * from #tmpcurrencies

	end ;
	

end
